<div class="top" ng-controller="RemovePropertyCtrl as Ctrl">
    <div class="text-input-form-item-min">
        <h2>{{Ctrl.modePrompt}}</h2>
        <select ng-model="Ctrl.propertySelector" ng-options="c.displayName for c in Ctrl.PROPERTIES" ng-change="Ctrl.selectProperty();"></select>
    </div>
    <horiz-rule margintop="5" marginbottom="5"></horiz-rule>
    <div>
        <div class="text-input-form-item">
            <h2 style="margin-right:15px;">Client: {{Ctrl.inputDataObj.client.displayName}}</h2>
        </div>
        <horiz-rule margintop="-8" marginbottom="5"></horiz-rule>
    </div>
    <div>
        <div class="text-input-form-item">
            <h2>Property</h2>
        </div>
        <div class="flex-row">
            <div style="width:50%">
                <div class="text-input-form-item">
                    <label>Name</label>
                    <input type="text" ng-model="Ctrl.inputDataObj.name" ng-change="Ctrl.formChange();">
                </div>
                <div class="text-input-form-item">
                    <label>Street</label>
                    <input type="text" ng-model="Ctrl.inputDataObj.street" ng-change="Ctrl.formChange();">
                </div>
                <div class="text-input-form-item">
                    <label>City</label>
                    <input type="text" ng-model="Ctrl.inputDataObj.city" ng-change="Ctrl.formChange();">
                </div>
            </div>
            <div style="width:50%">
                <div class="text-input-form-item">
                    <label>State</label>
                    <input type="text" ng-model="Ctrl.inputDataObj.state" ng-change="Ctrl.formChange();">
                </div>
                <div class="text-input-form-item">
                    <label>Zip</label>
                    <input type="text" ng-model="Ctrl.inputDataObj.zip">
                </div>
               
            </div>
        </div>
        <horiz-rule margintop="5" marginbottom="5"></horiz-rule>
    </div>
    
    <button type="button" class="button radius" ng-click="Ctrl.submit()" ng-disabled="Ctrl.submitInValid" style="margin-top: 1rem; width:100%;">
        <h3>{{Ctrl.SubmitBtnLabel}}</h3></button>
</div>
