
/// Padding inside buttons.
$button-padding: 0.85em 1em !default;

/// Margin around buttons.
$button-margin: 0 !default;

/// Default fill for buttons. Can either be `solid` or `hollow`.
$button-fill: solid !default;

/// Default background color for buttons.
$button-background: $turquois-green !default;

/// Background color on hover for buttons.
$button-hover-color: scale-color($turquois-green, $lightness: -15%) !default;

/// Font color for buttons.
$button-color: $white !default;

/// Font color for buttons, if the background is light.
$button-color-alt: $asbestos-grey !default;

/// Border radius for buttons, defaulted to global-radius.
$button-radius: 0.25rem !default;

button:focus {
    outline: none;
}

/// Sizes for buttons.
$button-sizes: (
  tiny: 0.6rem,
  small: 0.75rem,
  default: 0.9rem,
  large: 1.25rem,
) !default;

/// opacity for a disabled button.
$button-opacity-disabled: 0.25 !default;


button, 
.button{
	display: inline-block;
	text-align: center;
	line-height: 1;
	cursor: pointer;
  border-radius:$button-radius;
	transition: background-color 0.25s ease-out, color 0.25s ease-out;
	vertical-align: middle;
	border: 1px solid transparent;
	padding: $button-padding;
	margin:$button-margin;
	background-color: $button-background;
	color: $button-color;
	overflow: visible;
}

button:hover, 
button:focus, 
.button:hover, 
.button:focus {
  background-color: $button-hover-color; 
}

button.large, .button.large {
    padding: 1.125rem 2.25rem 1.1875rem 2.25rem;
    font-size: 1.25rem; }
button.small, .button.small {
    padding: 0.8rem 1.2rem 0.9rem 1.2rem;
    font-size: 0.8125rem; }
button.tiny, .button.tiny {
    padding: 0.625rem 1.25rem 0.6875rem 1.25rem;
    font-size: 0.6875rem; }

.nav-btn{
	transition: $secondary-color 0.25s ease-out, color 0.25s ease-out;
  background-color: $secondary-color;
  margin:.5rem 0;
  width:6.25rem;
 }

.nav-btn:hover, .nav-btn:focus {
    background-color: $secondary-darker; 
}

.checkbox,
.radio {
  margin-bottom: 12px;
  padding-left: 32px;
  position: relative;
  -webkit-transition: color .25s linear;
          transition: color .25s linear;
  font-size: 14px;
  line-height: 1.5;
}
.checkbox .icons,
.radio .icons {
  color: #bdc3c7;
  display: block;
  height: 20px;
  top: 0;
  left: 0;
  position: absolute;
  width: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 20px;
  cursor: pointer;
}
.checkbox .icons .icon-checked,
.radio .icons .icon-checked {
  opacity: 0;
  filter: alpha(opacity=0);
}
.checkbox .icon-checked,
.radio .icon-checked,
.checkbox .icon-unchecked,
.radio .icon-unchecked {
  display: inline-table;
  position: absolute;
  left: 0;
  top: 0;
  background-color: transparent;
  margin: 0;
  opacity: 1;
  -webkit-filter: none;
          filter: none;
  -webkit-transition: color .25s linear;
          transition: color .25s linear;
}
.checkbox .icon-checked:before,
.radio .icon-checked:before,
.checkbox .icon-unchecked:before,
.radio .icon-unchecked:before {
  font-family: 'Flat-UI-Icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.checkbox .icon-checked:before {
  content: "\e60e";
}
.checkbox .icon-unchecked:before {
  content: "\e60d";
}
.radio .icon-checked:before {
  content: "\e60c";
}
.radio .icon-unchecked:before {
  content: "\e60b";
}
.checkbox input[type="checkbox"].custom-checkbox,
.radio input[type="checkbox"].custom-checkbox,
.checkbox input[type="radio"].custom-radio,
.radio input[type="radio"].custom-radio {
  outline: none !important;
  opacity: 0;
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
}

