
/// Padding inside buttons.
$button-padding: 0.85em 1em !default;

/// Margin around buttons.
$button-margin: 0 !default;

/// Default fill for buttons. Can either be `solid` or `hollow`.
$button-fill: solid !default;

/// Default background color for buttons.
$button-background: $turquois-green !default;

/// Background color on hover for buttons.
$button-hover-color: scale-color($turquois-green, $lightness: -15%) !default;

/// Font color for buttons.
$button-color: $white !default;

/// Font color for buttons, if the background is light.
$button-color-alt: $asbestos-grey !default;

/// Border radius for buttons, defaulted to global-radius.
$button-radius: 0.25rem !default;

button:focus {
    outline: none;
}

/// Sizes for buttons.
$button-sizes: (
  tiny: 0.6rem,
  small: 0.75rem,
  default: 0.9rem,
  large: 1.25rem,
) !default;

/// opacity for a disabled button.
$button-opacity-disabled: 0.25 !default;


button, 
.button{
	display: inline-block;
	text-align: center;
	line-height: 1;
	cursor: pointer;
  border-radius:$button-radius;
	transition: background-color 0.25s ease-out, color 0.25s ease-out;
	vertical-align: middle;
	border: 1px solid transparent;
	padding: $button-padding;
	margin:$button-margin;
	background-color: $button-background;
	color: $button-color;
	overflow: visible;
}

button:hover, 
button:focus, 
.button:hover, 
.button:focus {
  background-color: $button-hover-color; 
}

button.large, .button.large {
    padding: 1.125rem 2.25rem 1.1875rem 2.25rem;
    font-size: 1.25rem; }
button.small, .button.small {
    padding: 0.8rem 1.2rem 0.9rem 1.2rem;
    font-size: 0.8125rem; }
button.tiny, .button.tiny {
    padding: 0.625rem 1.25rem 0.6875rem 1.25rem;
    font-size: 0.6875rem; }

.nav-btn{
	transition: $secondary-color 0.25s ease-out, color 0.25s ease-out;
  background-color: $secondary-color;
  margin:.5rem 0;
  width:6.25rem;
 }

.nav-btn:hover, .nav-btn:focus {
    background-color: $secondary-darker; 
}

