

body{
	font-family:  'Jaldi', sans-serif;
}

.bold{
  font-weight: 700;
}

.page{
  width:100%;

  h4{
    //Used every page for sub title manager name or other
    margin-bottom: 10px;
  }
  .page-title-bar{
    height:36px;
    width:100%;
    background-color:$section-header-bkg;
    margin-bottom: .7em;
    h2{
      color:#FFFFFF;
      font-size:1.2em;
      font-weight: 400;
      line-height: 36px;
      vertical-align: middle;
      margin:0 0 0 .5em;
    }
  }

  .section-header{
    height:24px;
    background-color:$section-header-bkg;
    h2{
      color:#FFFFFF;
      font-size:1em;
      font-weight: 400;
      line-height: 24px;
      vertical-align: middle;
      margin:0 0 0 .3em;
    }
  }
}

$status-item-height:32px;

.status-container{
  width:100%;

  .status-item{
    background-color: #cdcdcd;
    height:$status-item-height;
    width:100%;
    display:flex;
    margin:3px 0 0 0;

    h4{
      line-height: $status-item-height;
      vertical-align: middle;
      padding:0;
      margin:0 0 0 3px;
    }
    h3{
      line-height: $status-item-height;
      vertical-align: middle;
      padding:0;
      margin:0 0 0 3px;
    }
    .button{
      border:0;
      padding:8px 16px;
      width:80px;
    }

  }

  .status-item-title{
    background-color: #3a3a3a;
    width:100px;
    height:$status-item-height;
    h4{
      color:#fff;
      line-height:$status-item-height;
      vertical-align: middle;
      margin-left: 4px;
    }
  }

  .status-item-date{
    width:100px;
    height:$status-item-height;
    color:#000000;
  }

  .status-item-update{
    height:$status-item-height;
  }
}

$summary-item-height:42px;

.job-summary-item{
  display:flex;
  height:$summary-item-height;
  margin-top: 6px;
  background-color:#cccccc;
  button{
    height:$summary-item-height;
    width:105px;
    padding:0;
    transition: $secondary-color 0.25s ease-out, color 0.25s ease-out;
    background-color: $secondary-color;
  }
  button:hover, button:focus, .button:hover, .button:focus {
    background-color: $secondary-darker; }

  .stage{
    height:$summary-item-height;
    margin-left:5px;
    background-color: $tertiary-color;
    color:#fff;
    width:100px;
    h4{
      width:100px;
      line-height:$summary-item-height;
      vertical-align: middle;
      text-align: center;
    }
  }

  .prop{
    height:$summary-item-height;
    margin-left:5px;
    overflow: hidden;
    h4{
      margin-left:5px;
      line-height:$summary-item-height;
      vertical-align: middle;
    }
  }

}



.top-bar{
  height:45px;
  width:100%;
  display:flex;
  background-color: $top-bar-bkg;
  h1{
    color:#fff;
    line-height:45px;
    vertical-align: middle;
    margin:0 0 0 .5em;
    padding:0;
  }
  button{
    height:45px;
    width:80px;
    padding:0;
    transition: $secondary-color 0.25s ease-out, color 0.25s ease-out;
    background-color: $secondary-color;
  }
  button:hover, button:focus, .button:hover, .button:focus {
    background-color: $secondary-darker; }
}

.view-container{
  max-width:640px;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.page-nav{
  width:100%;
  display:flex;
  justify-content:space-between;
}


