$title-bar-color:$primary-color;
$section-header-color:#0463A1;
$button-background:#FF0000;

body{
	font-family:  'Jaldi', sans-serif;
}



.page{
  width:648px;
  .page-title-bar{
    height:40px;
    background-color:$title-bar-color;
    margin-bottom: 1em;
    h2{
      color:#FFFFFF;
      font-size:1.5em;
      font-weight: 600;
      line-height: 40px;
      vertical-align: middle;
      margin:0 0 0 .5em;
    }
  }

  .section-header{
    height:24px;
    background-color:$section-header-color;
    h2{
      color:#FFFFFF;
      font-size:1em;
      font-weight: 600;
      line-height: 24px;
      vertical-align: middle;
      margin:0 0 0 .3em;
    }
  }
}

.view-container{
  margin:1.5em;
}



.flex-column{
  display: flex;
  flex-direction: column;
}


