

body{
	font-family:  'Jaldi', sans-serif;
}



.page{
  width:100%;

  h4{
    //Used every page for sub title manager name or other
    margin-bottom: 10px;
  }
  .page-title-bar{
    height:36px;
    width:100%;
    background-color:$section-header-bkg;
    margin-bottom: .7em;
    h2{
      color:#FFFFFF;
      font-size:1.2em;
      font-weight: 400;
      line-height: 36px;
      vertical-align: middle;
      margin:0 0 0 .5em;
    }
  }

  .section-header{
    height:24px;
    background-color:$section-header-bkg;
    h2{
      color:#FFFFFF;
      font-size:1em;
      font-weight: 400;
      line-height: 24px;
      vertical-align: middle;
      margin:0 0 0 .3em;
    }
  }
}

.top-bar{
  height:45px;
  width:100%;
  display:flex;
  background-color: $top-bar-bkg;
  h1{
    color:#fff;
    line-height:45px;
    vertical-align: middle;
    margin:0 0 0 .5em;
    padding:0;
  }
  button{
    height:45px;
    width:80px;
    padding:0;
    transition: #048F7B 0.25s ease-out, color 0.25s ease-out;
    background-color: #048F7B;
  }
  button:hover, button:focus, .button:hover, .button:focus {
    background-color: #025C4F; }
}

.view-container{
  width:100%;
}



.flex-column{
  display: flex;
  flex-direction: column;
}

.page-nav{
  margin:1em 0 2em 0;
  height:30px;
  width:100%;
  display:flex;
  justify-content:space-between;
  i{
    cursor:pointer;
  }
  .page-nav-left{

  }

  .page-nav-right{
    
  }
}


