
.login-form{
  display:inline-block;
  form{
    display:flex;
    align-items:flex-end;

    div{
      margin-right:.5rem;
    }
  }

  label{
    font-size: 1rem;
    line-height: 1;
    font-weight: 700;
    display:block;
    color:$asbestos-grey;
  }
  

  input[type="text"]{
    height:2rem;
    width:6.25rem;
    display:block;
  }

	.button{
    height:2.25rem;
    padding:4px 10px;
    width:6.25rem;
    box-sizing: border-box;
    border:0;
    margin-bottom:1px;
	}

}

.login-error{
    font-size: .9em;
    color:$tertiary-color;
  }

  .login-attention{
    font-size: .9em;
    color:$tertiary-color;
  }

