
.login-form{
  margin-left: 1em;
	width:300px;
  label{
    font-size: 1em;
    font-weight: 700;
    display:block;
  }

  input[type="text"]{
    padding:2px;
    margin:0 0 .5rem 0;
    height:28px;
    width:120px;
    display:block;
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
  }
	.button{
		margin-top:1.5em;
	}

  .login-error{
    font-size: .9em;
    color:#FF0000;
  }

  .login-attention{
    font-size: .9em;
    color:#FF0000;
  }
}

