
//Define colors

//Blue
$base-color:#34495E;
$base-darker:#2C3E50;
//Dark Blues
$wetAsphalt:#34495E;//same as base
$midnight-blue:#2C3E50;

//Turquois
$secondary-color:#1ABC9C;
$secondary-darker:#16A085;
// duplicates of above with names
$turquois-green:#1ABC9C;
$turquois-green-lighter:#48c9b0;
$sea-green:#16A085;

//Red
$tertiary-color:#E74C3C;
$tertiary-darker:#C0392B;

//Green
$emerald-green:#2ECC71;
$nephritis-green:#27AE60;

//Blue
$peterRiver-blue:#3498DB;
$belizeHole-blue:#2980B9;


//Greys
$clouds-grey:#ECF0F1;
$silver-grey:#BDC3C7;
$concrete-grey:#95A5A6;
$asbestos-grey:#7F8C8D;

// Purple
$amethyst-purple:#9B59B6;
$wisteria-purple:#8E44AD;

//Yellow-orange
$sunFlower-yellow:#F1C40F;
$orange-yellow:#F39C12;
$carrot-orange:#E67E22;
$pumpkin-orange:#D35400;

$white:#FFFFFF;
$black:#000000;


$primary-button-up:$turquois-green;
$primary-button-over:$sea-green;


// Assign colors
$title-bar-bkg:$base-color;
$top-bar-bkg:$base-darker;
$section-header-bkg:$base-color;

$off-canvas-bkg:$base-darker;
$off-canvas-btn-bkg:$base-darker;
$off-canvas-btn-bdr:$asbestos-grey;

h1{
	font-size: 1.3em;
	padding:0;
	margin:0;
	font-weight: 700;}
h2{
	font-size: 1.2em;
	padding:0;
	margin:0;
	font-weight: 700;}

h3{
	font-size: 1.1em;
	font-weight: 600;
	padding:0;
	margin:0;
	font-family: 'Open Sans', sans-serif;}	

h4{
	font-size: 1em;
	font-weight: 600;
	padding:0;
	margin:0;
	font-family: 'Open Sans', sans-serif;}

h5{
	font-size: .9em;
	font-weight: 700;
	padding:0;
	margin:0;
	font-family: 'Open Sans', sans-serif;}
p{
	font-size: .9em;}