/// Defualt color for table background.
/// @type Color
$table-background: #fff  !default;

/// Defualt scale for darkening the striped table rows and the table border.
/// @type Number
$table-color-scale: 5% !default;

/// Defualt style for table border.
/// @type List
$table-border: 1px solid #999999 !default;

/// Defualt padding for table.
/// @type Number
$table-padding: 4px 8px !default;

/// Defualt scale for darkening the table rows on hover.
/// @type Number
$table-hover-scale: 2% !default;

/// Defualt color of standard rows on hover.
/// @type List
$table-row-hover: darken($table-background, $table-hover-scale) !default;

/// Defualt color of striped rows on hover.
/// @type List
$table-row-stripe-hover: darken($table-background, $table-color-scale + $table-hover-scale) !default;

/// Defualt background color for striped rows.
/// @type Color
$table-striped-background: smart-scale($table-background, $table-color-scale) !default;

/// Defualt value for showing the stripe on rows of the tables, excluding the header and footer If even, the even rows will have a background color. If odd, the odd rows will have a background color. If empty, or anyother value, the table rows will have no striping.
/// @type Keyoword
$table-stripe: even !default;

/// Defualt color for header background.
/// @type Color
$table-head-background: smart-scale($table-background, $table-color-scale / 2) !default;

/// Defualt color for footer background.
/// @type Color
$table-foot-background: smart-scale($table-background, $table-color-scale) !default;

/// Defualt font color for header.
/// @type Color
$table-head-font-color: #000 !default;

/// Defualt value for showing the header when using stacked tables.
/// @type Boolean
$show-header-for-stacked: false !default;

/// Adds the general styles for tables.
/// @param {Keyword} $stripe [$table-stripe] - Uses kewords even, odd, or none to darken rows of the table. The defualt value is even.
table{
	margin-bottom: 1em;
	border-radius: 0;
	border: $table-border;
	background-color: $table-background;
   
    // Caption
    caption {
      font-weight: 700;
      padding: $table-padding;
    }

    // Table head and foot
    thead,
    tfoot {
      background: $table-head-background;
      color: $table-head-font-color;

      // Rows within head and foot
      tr {
        background: transparent;
      }

      // Cells within head and foot
      th,
      td {
        padding: $table-padding;
        font-weight: 700;
        text-align: left;
      }
    }

    // Table rows
    tbody {
      tr {
        // If stripe is set to even, darken the even rows.
        @if $table-stripe == even {
          &:nth-child(even) {
            background-color: $table-striped-background;
          }
        }

        // If stripe is set to odd, darken the odd rows.
        @else if $table-stripe == odd {
          &:nth-child(odd) {
            background-color: $table-striped-background;
          }
        }
      }

      th,
      td {
        padding: $table-padding;
      }
    }
 }


/// Adds the ability to horizontally scroll the table when the content overflows horizontally.
.table-scroll {
  display: block;
  width: 100%;
  overflow-x: auto;
}

.table-striped {
	tbody {
      	tr {
      		&:nth-child(odd) {
    			background-color:#eee;
  			}
		}
	}
}



#jobs-table-container{
	width:500px;
	button{
		margin-bottom: 10px;
	}
}

.status-table{
	margin:10px 0 0 10px;
}
.jobs-table{
	min-height:100px;
	.title{
		height: 1.4em;
		background-color: $section-header-bkg;
	}

	h2{
		color:#FFFFFF;
		font-size: 1em;
		margin: 0 0 0 .5em;
		font-weight: 700;
		line-height: 1.4em;
		vertical-align: middle;
	}

	table{
	    table-layout: fixed;
	    width: 600px;
	}

	th, td{
	    border: 1px solid black;
	    overflow: hidden;
	    //padding:.35em .6em;
	}

	.tbl-btn{
		margin:0;
		
	}
	#tbl-width-190{
		width:190px;
	}

	#tbl-width-70{
		width:70px;
	}
	#tbl-width-100{
		width:100px;
	}
	#tbl-width-170{
		width:170px;
	}
}


#editForm{
	.btnContainer{
		width:350px;
		height:80px;
		border-radius:10px;
		
		button{
			float:left;
			margin-right: 1em;
		}
	}
}

.table-icon-btn{
	cursor:pointer;
	
}