<div class="page" ng-controller="AdminProspectCtrl as ChildCtrl">
    <div class="title-with-btn">
        <i ng-click="Ctrl.backToHome()" class="fa fa-arrow-circle-left fa-3x"></i>
        <h2>Prospects Review</h2>
    </div>
    <div>
        <table st-table="ChildCtrl.reviewList" class="table table-striped" style="width:100%;">
            <thead>
                <tr>
                    <th>Details</th>
                    <th>Date</th>
                    <th>Client</th>
                    <th>Property</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in ChildCtrl.reviewList">
                    <td>
                        <div class="check-radio-container">
                            <input type="checkbox" id="{{row.Sort}}" ng-model="row.Default" ng-change="ChildCtrl.toggleCheckBox()"></input>
                            <label for="{{row.Sort}}"><span></span></label>
                        </div>
                    </td>
                    <td>{{row.Date}}</td>
                    <td>{{row.ClientName}}</td>
                    <td>{{row.PropertyName}}</td>
                    <td>{{row.PropertyAddress}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>