<div class="page" ng-controller="PropertiesCtrl as Ctrl">
    <div class="page-title-bar"><h2>Properties</h2></div>
    <div ui-view>
    	<div id="jobs-table-container">
    	<button ng-click="Ctrl.getManagerJobs()" type="button" class="button">Refresh List</button>
	        <div class="jobs-table">
	            <div>
	                <table st-table="Ctrl.properties" class="table table-striped">
	                    <thead>
	                        <tr>
	                            <th id="tbl-width-70">Details</th>
	                            <th id="tbl-width-190">Name</th>
	                            <th id="tbl-width-190">Address</th>
	                            
	                        </tr>
	                    </thead>
	                    <tbody>
	                        <tr ng-repeat="row in Ctrl.properties">
	                            <td><button ng-click="Ctrl.showDetails($index)" type="button" class="button tbl-btn">Show</button></td>
	                            <td>{{row.name}}</td>
	                            <td>{{row.street + ", " + row.city}}</td>
	                        </tr>
	                    </tbody>
	                </table>
	            </div>
	        </div>
	    </div>
    </div>
</div>