<div ng-controller="NewPropertyViewCtrl as Ctrl" class="page">
    <div class="page-title-bar">
        <h2>
            New Property
        </h2>
    </div>
    <horiz-rule margintop="5px" marginbottom="10px">
    </horiz-rule>
    <div ui-view>
        <div class="ez-form">
            <div class="ez-form-item">
                <h3>
                    Choose the Client for this Property
                </h3>
                <select id="selectClient" ng-model="Ctrl.selectedClient" ng-options="c.company for c in Ctrl.clientList"></select>
                <div class="page-nav">
                    <div class="page-nav-left">
                    </div>
                    <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">
                        {{Ctrl.inputMsg}}
                    </div>
                    <div class="page-nav-right">
                        <i ng-click="Ctrl.submitT1();" class="fa fa-arrow-circle-right fa-3x">
                        </i>
                    </div>
                </div>
            </div>
            <div ng-show="Ctrl.inputField == 'T1'" class="block-outline-red">
                <h5>
                    If the Client for this Property is not listed,
                    <a ui-sref="addNewClient">
                        Add a New Client
                    </a>
                    , then return here.
                </h5>
            </div>
        </div>
    </div>
</div>
