<div ng-controller="NewPropertyCtrl as Ctrl" class="page">
    <div class="page-title-bar">
        <h2>
            New Property
        </h2>
    </div>
    <horiz-rule margintop="5px" marginbottom="10px"></horiz-rule>
    
    <div class="ez-form">
        <div class="ez-form-item" ng-show="Ctrl.inputField == 'T1'">
            <h3>
                Choose the Client for this Property
            </h3>
            <select id="selectClient" ng-model="Ctrl.T1" ng-options="c.company for c in Ctrl.clientList">
            </select>
            <div class="page-nav">
                <div class="page-nav-left">
                </div>
                <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">
                    {{Ctrl.inputMsg}}
                </div>
                <div class="page-nav-right">
                    <i ng-click="Ctrl.submitT1();" class="fa fa-arrow-circle-right fa-3x">
                    </i>
                </div>
            </div>
        </div>
        
        <div ng-show="Ctrl.inputField == 'T1'" class="block-outline-red">
            <h5>If the Client for this Property is not listed, <a ui-sref="addNewClient">Add a New Client</a>, then return here.</h5>
        </div>

        <div class="ez-form-item" ng-show="Ctrl.inputField == 'T2'">
            <h3>
                Property or Building Name
            </h3>
            <input name="T2" type="text" ng-model="Ctrl.T2" placeholder="Name"/>
            <div class="page-nav">
                <div class="page-nav-left">
                    <i ng-click="Ctrl.goPrevious('1')" class="fa fa-arrow-circle-left fa-3x">
                    </i>
                </div>
                <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">
                    {{Ctrl.inputMsg}}
                </div>
                <div class="page-nav-right">
                    <i ng-click="Ctrl.submitT2();" class="fa fa-arrow-circle-right fa-3x">
                    </i>
                </div>
            </div>
        </div>
        <div class="ez-form-item" ng-show="Ctrl.inputField=='T3'">
            <h3>
                Street Address
            </h3>
            <input name="T3" type="text" ng-model="Ctrl.T3"/>
            <div class="page-nav">
                <div class="page-nav-left">
                    <i ng-click="Ctrl.goPrevious('2')" class="fa fa-arrow-circle-left fa-3x">
                    </i>
                </div>
                <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">
                    {{Ctrl.inputMsg}}
                </div>
                <div class="page-nav-right">
                    <i ng-click="Ctrl.submitT3();" class="fa fa-arrow-circle-right fa-3x">
                    </i>
                </div>
            </div>
        </div>
        <div class="ez-form-item" ng-show="Ctrl.inputField == 'T4'">
            <h3>
                City
            </h3>
            <input name="T4" type="text" ng-model="Ctrl.T4"/>
            <div class="page-nav">
                <div class="page-nav-left">
                    <i ng-click="Ctrl.goPrevious('3')" class="fa fa-arrow-circle-left fa-3x">
                    </i>
                </div>
                <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">
                    {{Ctrl.inputMsg}}
                </div>
                <div class="page-nav-right">
                    <i ng-click="Ctrl.submitT4();" class="fa fa-arrow-circle-right fa-3x">
                    </i>
                </div>
            </div>
        </div>
        <div class="ez-form-item" ng-show="Ctrl.inputField == 'T5'">
            <h3>
                State
            </h3>
            <input name="T5" type="text" ng-model="Ctrl.T5"/>
            <div class="page-nav">
                <div class="page-nav-left">
                    <i ng-click="Ctrl.goPrevious('4')" class="fa fa-arrow-circle-left fa-3x">
                    </i>
                </div>
                <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">
                    {{Ctrl.inputMsg}}
                </div>
                <div class="page-nav-right">
                    <i ng-click="Ctrl.submitT5();" class="fa fa-arrow-circle-right fa-3x">
                    </i>
                </div>
            </div>
        </div>
        <div class="ez-form-item" ng-show="Ctrl.inputField == 'T6'">
            <h3>
                Zip
            </h3>
            <input name="T6" type="text" ng-model="Ctrl.T6"/>
            <div class="page-nav">
                <div class="page-nav-left">
                    <i ng-click="Ctrl.goPrevious('5')" class="fa fa-arrow-circle-left fa-3x">
                    </i>
                </div>
                <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">
                    {{Ctrl.inputMsg}}
                </div>
                <div class="page-nav-right">
                    <i ng-click="Ctrl.submitT6();" class="fa fa-arrow-circle-right fa-3x">
                    </i>
                </div>
            </div>
        </div>
        <div class="ez-form-item" ng-show="Ctrl.inputField == 'T7'">
            <h3>
                Levels (stories)
            </h3>
            <div class="radio-btns">
                <div>
                     <label>
                       <input type="radio" name="Rad0" id="radio1A" value="One" class="custom-radio" ng-model="Ctrl.T7"/>
                        One
                </label>
                </div>
                <div>
                     <label>
                       <input type="radio" name="Rad0" id="radio1B" value="Two" class="custom-radio" ng-model="Ctrl.T7"/>
                        Two
                </label>
                </div>
                 <div>
                     <label>
                       <input type="radio" name="Rad0" id="radio1C" value="Three" class="custom-radio" ng-model="Ctrl.T7"/>
                        Three
                </label>
                </div>
            </div>
            <div class="page-nav">
                <div class="page-nav-left">
                    <i ng-click="Ctrl.goPrevious('6')" class="fa fa-arrow-circle-left fa-3x">
                    </i>
                </div>
                <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">
                    {{Ctrl.inputMsg}}
                </div>
                <div class="page-nav-right">
                    <i ng-click="Ctrl.submitT7();" class="fa fa-arrow-circle-right fa-3x">
                    </i>
                </div>
            </div>
        </div>
        <div class="ez-form-item" ng-show="Ctrl.inputField == 'T8'">
            <h3>
                Shingle Style
            </h3>
            <div class="radio-btns">
                <div>
                     <label>
                       <input type="radio" name="Rad1" id="radio1A" value="3-tab" class="custom-radio" ng-model="Ctrl.T8"/>
                        3-tab
                </label>
                </div>
                <div>
                     <label>
                       <input type="radio" name="Rad1" id="radio1B" value="Dimensional" class="custom-radio" ng-model="Ctrl.T8"/>
                        Dimensional
                </label>
                </div>
                 <div>
                     <label>
                       <input type="radio" name="Rad1" id="radio1C" value="Speciality" class="custom-radio" ng-model="Ctrl.T8"/>
                        Speciality
                </label>
                </div>
            </div>
            <div class="page-nav">
                <div class="page-nav-left">
                    <i ng-click="Ctrl.goPrevious('7')" class="fa fa-arrow-circle-left fa-3x">
                    </i>
                </div>
                <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">
                    {{Ctrl.inputMsg}}
                </div>
                <div class="page-nav-right">
                    <i ng-click="Ctrl.submitT8();" class="fa fa-arrow-circle-right fa-3x">
                    </i>
                </div>
            </div>
        </div>
        <div class="ez-form-item" ng-show="Ctrl.inputField == 'T9'">
            <h3>
                Decking
            </h3>
            <div class="radio-btns">
                <div>
                    <label>
                       <input type="radio" name="Rad2" id="radio2A" value="Plywood" class="custom-radio" ng-model="Ctrl.T9"/>
                        Plywood
                    </label>
                </div>
                
                <div>
                    <label>
                       <input type="radio" name="Rad2" id="radio2B" value="Tongue and Groove" class="custom-radio" ng-model="Ctrl.T9"/>
                        Tongue and Groove
                    </label>
                </div>
            </div>
            <div class="page-nav">
                <div class="page-nav-left">
                    <i ng-click="Ctrl.goPrevious('8')" class="fa fa-arrow-circle-left fa-3x">
                    </i>
                </div>
                <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">
                    {{Ctrl.inputMsg}}
                </div>
                <div class="page-nav-right">
                    <i ng-click="Ctrl.submitT9();" class="fa fa-arrow-circle-right fa-3x">
                    </i>
                </div>
            </div>
        </div>
        <div class="ez-form-item" ng-show="Ctrl.inputField == 'T10'">
            <h3>
                Decking Material
            </h3>
            <div class="radio-btns">
                <div>
                    <label>
                       <input type="radio" name="Rad3" id="radio3A" value="Composition over plywood deck" class="custom-radio" ng-model="Ctrl.T10"/>
                        Composition over plywood deck
                    </label>
                </div>
                
                <div>
                   <label>
                       <input type="radio" name="Rad3" id="radio3B" value="Composition over wood shingles" class="custom-radio" ng-model="Ctrl.T10"/>
                        Composition over wood shingles
                    </label>
                </div>
                <div>
                    <label>
                       <input type="radio" name="Rad3" id="radio3C" value="Low slope" class="custom-radio" ng-model="Ctrl.T10"/>
                        Low slope
                    </label>
                </div>
            </div>

            <div class="page-nav">
                <div class="page-nav-left">
                    <i ng-click="Ctrl.goPrevious('9')" class="fa fa-arrow-circle-left fa-3x">
                    </i>
                </div>
                <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">
                    {{Ctrl.inputMsg}}
                </div>
                <div class="page-nav-right">
                    <i ng-click="Ctrl.submitT10();" class="fa fa-arrow-circle-right fa-3x">
                    </i>
                </div>
            </div>
        </div>
        <div class="ez-form-item" ng-show="Ctrl.inputField == 'T11'">
            <h3>
                Layers
            </h3>
            <input type="tel" ng-model="Ctrl.T11" min="1" max="5"/>
            <div class="page-nav">
                <div class="page-nav-left">
                    <i ng-click="Ctrl.goPrevious('10')" class="fa fa-arrow-circle-left fa-3x">
                    </i>
                </div>
                <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">
                    {{Ctrl.inputMsg}}
                </div>
                <div class="page-nav-right">
                    <i ng-click="Ctrl.submitT11();" class="fa fa-arrow-circle-right fa-3x">
                    </i>
                </div>
            </div>
        </div>

        <div class="ez-form-item" ng-show="Ctrl.inputField == 'T12'">
            <h3>
                Edge Detail
            </h3>
            <div class="radio-btns">
                <div>
                    <label>
                       <input type="radio" name="Rad12" id="radio12A" value="Painted Drip Edge" class="custom-radio" ng-model="Ctrl.T12"/>
                        Painted Drip Edge
                    </label>
                </div>
                
                <div>
                   <label>
                       <input type="radio" name="Rad12" id="radio12B" value="With trim" class="custom-radio" ng-model="Ctrl.T12"/>
                        With trim
                    </label>
                </div>
                
            </div>
            <div class="page-nav">
                <div class="page-nav-left">
                    <i ng-click="Ctrl.goPrevious('11')" class="fa fa-arrow-circle-left fa-3x">
                    </i>
                </div>
                <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">
                    {{Ctrl.inputMsg}}
                </div>
                <div class="page-nav-right">
                    <i ng-click="Ctrl.submitT12();" class="fa fa-arrow-circle-right fa-3x">
                    </i>
                </div>
            </div>
        </div>

        <div class="ez-form-item" ng-show="Ctrl.inputField == 'T13'">
            <h3>
                Valleys
            </h3>
            <div class="radio-btns">
                <div>
                    <label>
                       <input type="radio" name="Rad13" id="radio13A" value="Single-laced" class="custom-radio" ng-model="Ctrl.T13"/>
                       Single-laced
                    </label>
                </div>
                
                <div>
                   <label>
                       <input type="radio" name="Rad13" id="radio13B" value="Open metal" class="custom-radio" ng-model="Ctrl.T13"/>
                       Open metal
                    </label>
                </div>
            </div>
            <div class="page-nav">
                <div class="page-nav-left">
                    <i ng-click="Ctrl.goPrevious('12')" class="fa fa-arrow-circle-left fa-3x">
                    </i>
                </div>
                <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">
                    {{Ctrl.inputMsg}}
                </div>
                <div class="page-nav-right">
                    <i ng-click="Ctrl.submitT13();" class="fa fa-arrow-circle-right fa-3x">
                    </i>
                </div>
            </div>
        </div>

        <div class="ez-form-item" ng-show="Ctrl.inputField == 'T14'">
            <h3>
                Ridges
            </h3>
            <div class="radio-btns">
                <div>
                    <label>
                       <input type="radio" name="Rad14" id="radio14A" value="Standard 3" class="custom-radio" ng-model="Ctrl.T14"/>
                       Standard 3
                    </label>
                </div>
                
                <div>
                   <label>
                       <input type="radio" name="Rad14" id="radio14B" value="Enhanced" class="custom-radio" ng-model="Ctrl.T14"/>
                       Enhanced
                    </label>
                </div>
            </div>
            <div class="page-nav">
                <div class="page-nav-left">
                    <i ng-click="Ctrl.goPrevious('13')" class="fa fa-arrow-circle-left fa-3x">
                    </i>
                </div>
                <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">
                    {{Ctrl.inputMsg}}
                </div>
                <div class="page-nav-right">
                    <i ng-click="Ctrl.submitT14();" class="fa fa-arrow-circle-right fa-3x">
                    </i>
                </div>
            </div>
        </div>

        <div class="ez-form-item" ng-show="Ctrl.inputField == 'T15'">
            <h3>
                Ventilation
            </h3>
            <div class="radio-btns">
                <div>
                    <label>
                       <input type="radio" name="Rad15" id="radio15A" value="Ridge Vents" class="custom-radio" ng-model="Ctrl.T15"/>
                       Ridge Vents
                    </label>
                </div>
                
                <div>
                   <label>
                       <input type="radio" name="Rad15" id="radio15B" value="Static Vents" class="custom-radio" ng-model="Ctrl.T15"/>
                       Static Vents
                    </label>
                </div>
                <div>
                   <label>
                       <input type="radio" name="Rad15" id="radio15C" value="Turbine Vents" class="custom-radio" ng-model="Ctrl.T15"/>
                       Turbine Vents
                    </label>
                </div>
                <div>
                   <label>
                       <input type="radio" name="Rad15" id="radio15D" value="Power Vents" class="custom-radio" ng-model="Ctrl.T15"/>
                       Power Vents
                    </label>
                </div>
                <div>
                   <label>
                       <input type="radio" name="Rad15" id="radio15E" value="Solar Vents" class="custom-radio" ng-model="Ctrl.T15"/>
                       Solar Vents
                    </label>
                </div>
            </div>
            <div class="page-nav">
                <div class="page-nav-left">
                    <i ng-click="Ctrl.goPrevious('14')" class="fa fa-arrow-circle-left fa-3x">
                    </i>
                </div>
                <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">
                    {{Ctrl.inputMsg}}
                </div>
                <div class="page-nav-right">
                    <i ng-click="Ctrl.submitT15();" class="fa fa-arrow-circle-right fa-3x">
                    </i>
                </div>
            </div>
        </div>
        <div class="ez-form-item" ng-show="Ctrl.inputField == 'SUBMIT'">
            <h3>
                Review and Submit
            </h3>
           
            <div class="page-nav">
                <div class="page-nav-left">
                    <i ng-click="Ctrl.goPrevious('11')" class="fa fa-arrow-circle-left fa-3x">
                    </i>
                </div>
                <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">
                    {{Ctrl.inputMsg}}
                </div>
                <div class="page-nav-right">
                    <button type="button" ng-click="Ctrl.submitForm()">
                        Submit
                    </button>
                </div>
            </div>
        </div>
        <div class="ez-form-item" ng-show="Ctrl.inputField == 'SUCCESS'">
            <h3>
                Success!
            </h3>
            <p>
                {{Ctrl.T3}} has been added as a property for {{Ctrl.T1.company}}.
            </p>
        </div>
        <div class="ez-form-item" ng-show="Ctrl.inputField == 'ERROR'">
            <h3>
                Oops!  An error occured saving the data.
            </h3>
            <p>
                Try again later or click below to reset and try again now.
            </p>
            <button type="button" ng-click="Ctrl.clearForm()">
                Reset
            </button>
        </div>
    </div>

    <div class="ez-form" ng-show="Ctrl.">
        <div id="liveReview" class="review-section">
            <div class="text-block-display">
                <h4>
                    Property:
                </h4>
                <h4>
                    Owner: {{Ctrl.T1.company}}
                </h4>
                <h3>
                    Name: {{Ctrl.T2}}
                </h3>
                <h3>
                    Street: {{Ctrl.T3}}
                </h3>
                <h3>
                    City: {{Ctrl.T4}}
                </h3>
                <h3>
                    State: {{Ctrl.T5}}
                </h3>
                <h3>
                    Zip: {{Ctrl.T6}}
                </h3>
               
            </div>
            <div class="text-block-display" style="margin-left:3rem;">
                <h4>
                    Existing Conditions:
                </h4>
                <h3>
                    Levels: {{Ctrl.T7}}
                </h3>
                
                <h3>
                   Shingle Style: {{Ctrl.T8}}
                </h3>
                <h3>
                    Decking: {{Ctrl.T9}}
                </h3>
                 <h3>
                    Roof: {{Ctrl.T10}}
                </h3>
                <h3>
                    Layers: {{Ctrl.T11}}
                </h3>
                <h3>
                    Edge Detail: {{Ctrl.T12}}
                </h3>
                 <h3>
                    Valley: {{Ctrl.T13}}
                </h3>
                 <h3>
                    Ridge: {{Ctrl.T14}}
                </h3>
                 <h3>
                    Ventilation: {{Ctrl.T15}}
                </h3>
            </div>
        </div>
    </div>




</div>
