<div ng-controller="NewPropertyAddressCtrl as Ctrl">
    <div class="ez-form-item" ng-show="Ctrl.inputField == 'propertyName'">
        <h3>Building Name or Discriptive Reference</h3>
        <input name="propertyName" type="text" ng-model="Ctrl.propertyName" placeholder="Smith Residence" />
        <div>
            <h3>Number of Buildings</h3>
            <input type="text" ng-model="Ctrl.multiUnitNumber" />
        </div>
        
        <div class="page-nav">
            <div class="page-nav-left">
                <i ng-click="Ctrl.goPrevious('propertyName')" class="fa fa-arrow-circle-left fa-3x"></i>
            </div>
            <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">
                {{Ctrl.inputMsg}}
            </div>
            <div class="page-nav-right">
                <i ng-click="Ctrl.submit_propertyName();" class="fa fa-arrow-circle-right fa-3x"></i>
            </div>
        </div>
    </div>
    <div class="ez-form-item" ng-show="Ctrl.inputField=='propertyAddress'">
        <h3>Street Address</h3>
        <input type="text" ng-model="Ctrl.streetAddress" />
        <h3>City</h3>
        <input type="text" ng-model="Ctrl.propertyCity" />
        <h3>State</h3>
        <input type="text" ng-model="Ctrl.propertyState" placeholder="USPS 2-Letter Code" />
        <h3>Zip</h3>
        <input type="text" ng-model="Ctrl.propertyZip" placeholder="USPS 5-digit zip code" />
        <div class="page-nav">
            <div class="page-nav-left">
                <i ng-click="Ctrl.goPrevious('propertyAddress')" class="fa fa-arrow-circle-left fa-3x"></i>
            </div>
            <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">
                {{Ctrl.inputMsg}}
            </div>
            <div class="page-nav-right">
                <i ng-click="Ctrl.submit_propertyAddress();" class="fa fa-arrow-circle-right fa-3x"></i>
            </div>
        </div>
    </div>
   
    <div class="ez-form-item" ng-show="Ctrl.inputField == 'SUBMIT'">
        <h3>Review and Submit</h3>
        <p>Proof below and Submit or use the back arrow to revise.</p>
        <div class="page-nav">
            <div class="page-nav-left">
                <i ng-click="Ctrl.goPrevious('SUBMIT')" class="fa fa-arrow-circle-left fa-3x"></i>
            </div>
            <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">
                {{Ctrl.inputMsg}}
            </div>
            <div class="page-nav-right">
                <button type="button" ng-click="Ctrl.submitForm()">Submit</button>
            </div>
        </div>
    </div>
    <div class="ez-form-item" ng-show="Ctrl.inputField == 'SUCCESS'">
        <h3>Success!</h3>
        <p>{{Ctrl.propertyName}} has been added as a property for {{Ctrl.clientName}}.</p>
        <p>You can now create Job by clicking below.</p>
        <button type="button" ng-click="Ctrl.goNewJob()">Create Job</button>
    </div>
    <div class="ez-form-item" ng-show="Ctrl.inputField == 'ERROR'">
        <h3>Oops!  An error occured saving the data.</h3>
        <p>Try again later or click below to reset and try again now.</p>
        <button type="button" ng-click="Ctrl.clearForm()">Reset</button>
    </div>
    <div class="review-section" ng-show="Ctrl.inputField == 'SUBMIT'">
        <div>
            <h4 style="margin-bottom:.5rem;">Property:</h4>
            <h3>Name: {{Ctrl.propertyName}}</h3>
            <h3>Street: {{Ctrl.streetAddress}}</h3>
            <h3>City: {{Ctrl.propertyCity}}</h3>
            <h3>State: {{Ctrl.propertyState}}</h3>
            <h3>Zip: {{Ctrl.propertyZip}}</h3>
        </div>
    </div>
</div>
