<div>
    <div class="section-header">Add Client</div>
    <div>
		<div class="hrule"></div>
		<form class="short-form" name="Ctrl.FormA" data-ng-submit="Ctrl.submitClient()" novalidate >
			<label>Company<input data-ng-class="{error:Ctrl.FormA.T1.$invalid&&invalid}" name="T1" type="text" ng-model="Ctrl.T1" required></label>
			<label>First Name<input data-ng-class="{error:Ctrl.FormA.T2.$invalid&&invalid}" name="T2" type="text" ng-model="Ctrl.T2" required></label>
			<label>Last Name<input data-ng-class="{error:Ctrl.FormA.T3.$invalid&&invalid}" name="T3" type="text" ng-model="Ctrl.T3" required></label>
			<label>Street<input data-ng-class="{error:Ctrl.FormA.T4.$invalid&&invalid}" name="T4" type="text" ng-model="Ctrl.T4" required></label>
			<label>City<input data-ng-class="{error:Ctrl.FormA.T5.$invalid&&invalid}" name="T5" type="text" ng-model="Ctrl.T5" required></label>
			<label>State<input data-ng-class="{error:Ctrl.FormA.T6.$invalid&&invalid}" name="T6" type="text" ng-model="Ctrl.T6" required></label>
			<label>Zip<input data-ng-class="{error:Ctrl.FormA.T7.$invalid&&invalid}" name="T7" type="text" ng-model="Ctrl.T7" required></label>
			<label>Bus. Phone<input data-ng-class="{error:Ctrl.FormA.T8.$invalid&&invalid}" name="T8" type="text" ng-model="Ctrl.T8" required></label>
			<label>Cell Phone<input data-ng-class="{error:Ctrl.FormA.T9.$invalid&&invalid}" name="T9" type="text" ng-model="Ctrl.T9" required></label>
			<label>Emaile<input data-ng-class="{error:Ctrl.FormA.T10.$invalid&&invalid}" name="T10" type="text" ng-model="Ctrl.T10" required></label>
			<button type="submit" class="button small">Submit</button>
		</form>
	</div>
</div>