<div ng-controller="NewPropertyIndCtrl as Ctrl" class="page">
    <div class="ez-form-item" ng-show="Ctrl.inputField == 'propertyName'">
        <h3>Building Name or Discriptive Reference</h3>
        <input name="propertyName" type="text" ng-model="Ctrl.propertyName" placeholder="Smith Residence" />
        <div class="page-nav">
            <div class="page-nav-left">
                <i ng-click="Ctrl.goPrevious('propertyName')" class="fa fa-arrow-circle-left fa-3x"></i>
            </div>
            <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">
                {{Ctrl.inputMsg}}
            </div>
            <div class="page-nav-right">
                <i ng-click="Ctrl.submit_propertyName();" class="fa fa-arrow-circle-right fa-3x"></i>
            </div>
        </div>
    </div>
    <div class="ez-form-item" ng-show="Ctrl.inputField=='propertyAddress'">
        <h3>Street Address</h3>
        <input type="text" ng-model="Ctrl.streetAddress" />
        <h3>City</h3>
        <input type="text" ng-model="Ctrl.propertyCity" />
        <h3>State</h3>
        <input type="text" ng-model="Ctrl.propertyState" placeholder="USPS 2-Letter Code" />
        <h3>Zip</h3>
        <input type="text" ng-model="Ctrl.propertyZip" placeholder="USPS 5-digit zip code" />
        <div class="page-nav">
            <div class="page-nav-left">
                <i ng-click="Ctrl.goPrevious('propertyName')" class="fa fa-arrow-circle-left fa-3x"></i>
            </div>
            <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">
                {{Ctrl.inputMsg}}
            </div>
            <div class="page-nav-right">
                <i ng-click="Ctrl.submit_propertyAddress();" class="fa fa-arrow-circle-right fa-3x"></i>
            </div>
        </div>
    </div>
    <div class="ez-form-item" ng-show="Ctrl.inputField == 'numLevels'">
        <h3>Levels (number of stories)</h3>
        <div class="dropDownSelector">
            <select ng-model="Ctrl.numLevels" ng-options="c.label for c in Ctrl.S.levelOptions"></select>
        </div>
        <div class="page-nav">
            <div class="page-nav-left">
                <i ng-click="Ctrl.goPrevious('numLevels')" class="fa fa-arrow-circle-left fa-3x"></i>
            </div>
            <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">
                {{Ctrl.inputMsg}}
            </div>
            <div class="page-nav-right">
                <i ng-click="Ctrl.submit_numLevels();" class="fa fa-arrow-circle-right fa-3x"></i>
            </div>
        </div>
    </div>
    <div class="ez-form-item" ng-show="Ctrl.inputField == 'roofPitch'">
        <h2>Existing Roof Assembly</h2>
        <h3>Pitch</h3>
        <div>
            <select ng-model="Ctrl.roofPitch" ng-options="c.label for c in Ctrl.S.pitchOptions" ng-change="Ctrl.selectPitch()"></select>
        </div>
        <div ng-show="Ctrl.DOM.isMultiLevel">
            <table class="table table-striped" style="width:100%;">
                <thead>
                    <tr>
                        <th>Level</th>
                        <th>Pitch</th>
                        <th>Percent</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <h3>Level A</h3></td>
                        <td>
                            <select ng-model="Ctrl.multiLevelModel.levelOne.pitch" ng-options="c.label for c in Ctrl.S.multiLevelOptions"></select>
                        </td>
                        <td>
                            <select ng-model="Ctrl.multiLevelModel.levelOne.percent" ng-options="c.label for c in Ctrl.S.percentOptions"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3>Level B</h3></td>
                        <td>
                            <select ng-model="Ctrl.multiLevelModel.levelTwo.pitch" ng-options="c.label for c in Ctrl.S.multiLevelOptions"></select>
                        </td>
                        <td>
                            <select ng-model="Ctrl.multiLevelModel.levelTwo.percent" ng-options="c.label for c in Ctrl.S.percentOptions"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3>Level C</h3></td>
                        <td>
                            <select ng-model="Ctrl.multiLevelModel.levelThree.pitch" ng-options="c.label for c in Ctrl.S.multiLevelOptions"></select>
                        </td>
                        <td>
                            <select ng-model="Ctrl.multiLevelModel.levelThree.percent" ng-options="c.label for c in Ctrl.S.percentOptions"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3>Level D</h3></td>
                        <td>
                            <select ng-model="Ctrl.multiLevelModel.levelFour.pitch" ng-options="c.label for c in Ctrl.S.multiLevelOptions"></select>
                        </td>
                        <td>
                            <select ng-model="Ctrl.multiLevelModel.levelFour.percent" ng-options="c.label for c in Ctrl.S.percentOptions"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3>Level E</h3></td>
                        <td>
                            <select ng-model="Ctrl.multiLevelModel.levelFive.pitch" ng-options="c.label for c in Ctrl.S.multiLevelOptions"></select>
                        </td>
                        <td>
                            <select ng-model="Ctrl.multiLevelModel.levelFive.percent" ng-options="c.label for c in Ctrl.S.percentOptions"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3>Level F</h3></td>
                        <td>
                            <select ng-model="Ctrl.multiLevelModel.levelSix.pitch" ng-options="c.label for c in Ctrl.S.multiLevelOptions"></select>
                        </td>
                        <td>
                            <select ng-model="Ctrl.multiLevelModel.levelSix.percent" ng-options="c.label for c in Ctrl.S.percentOptions"></select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="page-nav">
            <div class="page-nav-left">
                <i ng-click="Ctrl.goPrevious('roofPitch')" class="fa fa-arrow-circle-left fa-3x"></i>
            </div>
            <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">
                {{Ctrl.inputMsg}}
            </div>
            <div class="page-nav-right">
                <i ng-click="Ctrl.submit_roofPitch();" class="fa fa-arrow-circle-right fa-3x"></i>
            </div>
        </div>
    </div>
    <div class="ez-form-item" ng-show="Ctrl.inputField == 'shingleGrade'">
        <h2>Existing Roof Assembly</h2>
        <h3>Field Shingle Grade</h3>
        <div class="dropDownSelector">
            <select ng-model="Ctrl.shingleGrade" ng-options="c.label for c in Ctrl.S.shingleGradeOptions"></select>
        </div>
        <div class="page-nav">
            <div class="page-nav-left">
                <i ng-click="Ctrl.goPrevious('shingleGrade')" class="fa fa-arrow-circle-left fa-3x"></i>
            </div>
            <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">
                {{Ctrl.inputMsg}}
            </div>
            <div class="page-nav-right">
                <i ng-click="Ctrl.submit_shingleGrade();" class="fa fa-arrow-circle-right fa-3x"></i>
            </div>
        </div>
    </div>
    <div class="ez-form-item" ng-show="Ctrl.inputField == 'roofDeck'">
        <h2>Existing Roof Assembly</h2>
        <h3>Roof Deck</h3>
        <div class="dropDownSelector">
            <select ng-model="Ctrl.roofDeck" ng-options="c.label for c in Ctrl.S.roofDeckOptions"></select>
        </div>
        <div class="page-nav">
            <div class="page-nav-left">
                <i ng-click="Ctrl.goPrevious('roofDeck')" class="fa fa-arrow-circle-left fa-3x"></i>
            </div>
            <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">
                {{Ctrl.inputMsg}}
            </div>
            <div class="page-nav-right">
                <i ng-click="Ctrl.submit_roofDeck();" class="fa fa-arrow-circle-right fa-3x"></i>
            </div>
        </div>
    </div>
    <div class="ez-form-item" ng-show="Ctrl.inputField == 'layers'">
        <h2>Existing Roof Assembly</h2>
        <h3>Number of Layers (previous roof coverings including current)</h3>
        <div class="dropDownSelector">
            <select ng-model="Ctrl.layers" ng-options="c.label for c in Ctrl.S.numbersToFive"></select>
        </div>
        <div class="page-nav">
            <div class="page-nav-left">
                <i ng-click="Ctrl.goPrevious('layers')" class="fa fa-arrow-circle-left fa-3x"></i>
            </div>
            <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">
                {{Ctrl.inputMsg}}
            </div>
            <div class="page-nav-right">
                <i ng-click="Ctrl.submit_layers();" class="fa fa-arrow-circle-right fa-3x"></i>
            </div>
        </div>
    </div>
    <div class="ez-form-item" ng-show="Ctrl.inputField == 'edgeDetail'">
        <h2>Existing Roof Assembly</h2>
        <h3>Edge Detail</h3>
        <div class="dropDownSelector">
            <select ng-model="Ctrl.edgeDetail" ng-options="c.label for c in Ctrl.S.edgeDetail"></select>
        </div>
        <div class="check-radio-container" style="margin-bottom:10px;">
            <input type="checkbox" id="trimCB" ng-model="Ctrl.edgeTrim"></input>
            <label for="trimCB"><span></span>Enhanced with trim</label>
        </div>
        <div class="page-nav">
            <div class="page-nav-left">
                <i ng-click="Ctrl.goPrevious('edgeDetail')" class="fa fa-arrow-circle-left fa-3x"></i>
            </div>
            <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">
                {{Ctrl.inputMsg}}
            </div>
            <div class="page-nav-right">
                <i ng-click="Ctrl.submit_edgeDetail();" class="fa fa-arrow-circle-right fa-3x"></i>
            </div>
        </div>
    </div>
    <div class="ez-form-item" ng-show="Ctrl.inputField == 'valleyDetail'">
        <h2>Existing Roof Assembly</h2>
        <h3>Valley Detail</h3>
        <div class="dropDownSelector">
            <select ng-model="Ctrl.valleyDetail" ng-options="c.label for c in Ctrl.S.valleyOptions"></select>
        </div>
        <div class="page-nav">
            <div class="page-nav-left">
                <i ng-click="Ctrl.goPrevious('valleyDetail')" class="fa fa-arrow-circle-left fa-3x"></i>
            </div>
            <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">
                {{Ctrl.inputMsg}}
            </div>
            <div class="page-nav-right">
                <i ng-click="Ctrl.submit_valleyDetail();" class="fa fa-arrow-circle-right fa-3x"></i>
            </div>
        </div>
    </div>
    <div class="ez-form-item" ng-show="Ctrl.inputField == 'ridgeCap'">
        <h2>Existing Roof Assembly</h2>
        <h3>Ridge Detail</h3>
        <div class="dropDownSelector">
            <select ng-model="Ctrl.ridgeCap" ng-options="c.label for c in Ctrl.S.ridgeCapShingles"></select>
        </div>
        <div class="page-nav">
            <div class="page-nav-left">
                <i ng-click="Ctrl.goPrevious('ridgeCap')" class="fa fa-arrow-circle-left fa-3x"></i>
            </div>
            <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">
                {{Ctrl.inputMsg}}
            </div>
            <div class="page-nav-right">
                <i ng-click="Ctrl.submit_ridgeCap();" class="fa fa-arrow-circle-right fa-3x"></i>
            </div>
        </div>
    </div>
    <div class="ez-form-item" ng-show="Ctrl.inputField == 'roofVents'">
        <h2>Existing Roof Assembly</h2>
        <h3>Ventilation</h3>
        <div>
            <select ng-model="Ctrl.roofVents" ng-options="c.label for c in Ctrl.S.ventOptions" ng-change="Ctrl.selectVentilation()"></select>
        </div>
        <div ng-show="Ctrl.DOM.isMultiVented">
            <table class="table table-striped" style="width:100%;">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <h3>Static / RV151</h3></td>
                        <td>
                            <select ng-model="Ctrl.multiVentModel.STATIC" ng-options="c.label for c in Ctrl.S.numbersToTen"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3>Turbine</h3></td>
                        <td>
                            <select ng-model="Ctrl.multiVentModel.TURBNS" ng-options="c.label for c in Ctrl.S.numbersToTen"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3>Power</h3></td>
                        <td>
                            <select ng-model="Ctrl.multiVentModel.PWRVNT" ng-options="c.label for c in Ctrl.S.numbersToTen"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3>Air Hawks</h3></td>
                        <td>
                            <select ng-model="Ctrl.multiVentModel.AIRHWK" ng-options="c.label for c in Ctrl.S.numbersToTen"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h3>Solar</h3></td>
                        <td>
                            <select ng-model="Ctrl.multiVentModel.SLRVNT" ng-options="c.label for c in Ctrl.S.numbersToTen"></select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="page-nav">
            <div class="page-nav-left">
                <i ng-click="Ctrl.goPrevious('roofVents')" class="fa fa-arrow-circle-left fa-3x"></i>
            </div>
            <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">
                {{Ctrl.inputMsg}}
            </div>
            <div class="page-nav-right">
                <i ng-click="Ctrl.submit_roofVents();" class="fa fa-arrow-circle-right fa-3x"></i>
            </div>
        </div>
    </div>
    <div class="ez-form-item" ng-show="Ctrl.inputField == 'specialFlashing'">
        <h2>Existing Roof Assembly</h2>
        <h3>Special Flashing Requirements</h3>
        <p>Check all that apply</p>
        <div>
            <div>
                <label>
                    <input type="checkbox" ng-model="specialFlashing.chimney">Chimney</label>
                <br/>
                <label>
                    <input type="checkbox" ng-model="specialFlashing.pipes">Pipe Jacks</label>
                <br/>
                <label>
                    <input type="checkbox" ng-model="specialFlashing.skylights">Skylights</label>
            </div>
            <div>
                <label>
                    <input type="checkbox" ng-model="specialFlashing.joints">Solar Panels</label>
                <br/>
                <label>
                    <input type="checkbox" ng-model="specialFlashing.equipment">Equipment</label>
            </div>
        </div>
        <div class="page-nav">
            <div class="page-nav-left">
                <i ng-click="Ctrl.goPrevious('specialFlashing')" class="fa fa-arrow-circle-left fa-3x"></i>
            </div>
            <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">
                {{Ctrl.inputMsg}}
            </div>
            <div class="page-nav-right">
                <i ng-click="Ctrl.submit_specialFlashing();" class="fa fa-arrow-circle-right fa-3x"></i>
            </div>
        </div>
    </div>
    <div class="ez-form-item" ng-show="Ctrl.inputField == 'SUBMIT'">
        <h3>Review and Submit</h3>
        <p>Proof below and Submit or use the back arrow to revise.</p>
        <div class="page-nav">
            <div class="page-nav-left">
                <i ng-click="Ctrl.goPrevious('Submit')" class="fa fa-arrow-circle-left fa-3x"></i>
            </div>
            <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">
                {{Ctrl.inputMsg}}
            </div>
            <div class="page-nav-right">
                <button type="button" ng-click="Ctrl.submitForm()">Submit</button>
            </div>
        </div>
    </div>
    <div class="ez-form-item" ng-show="Ctrl.inputField == 'SUCCESS'">
        <h3>Success!</h3>
        <p>{{Ctrl.propertyName}} has been added as a property for {{Ctrl.clientName}}.</p>
        <p>You can now create Job by clicking below.</p>
        <button type="button" ng-click="Ctrl.goNewJob()">Create Job</button>
    </div>
    <div class="ez-form-item" ng-show="Ctrl.inputField == 'ERROR'">
        <h3>Oops!  An error occured saving the data.</h3>
        <p>Try again later or click below to reset and try again now.</p>
        <button type="button" ng-click="Ctrl.clearForm()">Reset</button>
    </div>
    <div class="review-section" ng-show="Ctrl.inputField == 'SUBMIT'">
        <div>
            <h4 style="margin-bottom:.5rem;">Property:</h4>
            <h3>Owner: {{Ctrl.clientName}}</h3>
            <h3>Name: {{Ctrl.propertyName}}</h3>
            <h3>Street: {{Ctrl.streetAddress}}</h3>
            <h3>City: {{Ctrl.propertyCity}}</h3>
            <h3>State: {{Ctrl.propertyState}}</h3>
            <h3>Zip: {{Ctrl.propertyZip}}</h3>
        </div>
        <div style="margin-left:1rem;">
            <h4 style="margin-bottom:.5rem;">Existing Roof Description</h4>
            <h3>Levels: <span class="bold">{{Ctrl.numLevels.label}}</span></h3>
            <h3>Pitch: <span class="bold">{{Ctrl.roofPitch.label}}</span></h3>
            <h3>Shingle Grade: <span class="bold">{{Ctrl.shingleGrade.label}}</span></h3>
            <h3>Decking: <span class="bold">{{Ctrl.roofDeck.label}}</span></h3>
            <h3>Layers: <span class="bold">{{Ctrl.layers.label}}</span></h3>
            <h3>Edge Detail: <span class="bold">{{Ctrl.edgeDetail.label}}</span></h3>
            <h3>Valley Detail: <span class="bold">{{Ctrl.valleyDetail.label}}</span></h3>
            <h3>Ridge Cap: <span class="bold">{{Ctrl.ridgeCap.label}}</span></h3>
            <h3>Ventilation: <span class="bold">{{Ctrl.roofVents.label}}</span></h3>
        </div>
    </div>
</div>
