<div  class="text-block-display">
    <h4>{{Ctrl.selectedProperty.client}}</h4>
    <h4>{{Ctrl..selectedProperty.name}}</h4>
    <h4>{{Ctrl.selectedProperty.street}}</h4>
    <h4>{{Ctrl.selectedProperty.city}}, {{Ctrl.selectedProperty.street}} {{Ctrl.selectedProperty.zip}}</h4>
    <h4>{{Ctrl.selectedProperty.city}}</h4>
    <h4>{{Ctrl.selectedProperty.class}}</h4>
    <h4>{{Ctrl.selectedProperty.roof}}</h4>
    <h4>{{Ctrl.selectedProperty.description}}</h4>
    <h4>{{Ctrl.selectedProperty.layers}}</h4>
</div>

<a ui-sref="properties"><button>Back</button></a>
