<button type="button" class="button nav-btn" ng-click="Ctrl.backToList()">Back</button>
<div class="section-header">
    <h2>Property</h2>
</div>
<div class="text-block-display">
    <div>
        <h3><span class="bold">{{Ctrl.selectedPropertyObj.name}}</span></h3>
        <h3>{{Ctrl.selectedPropertyObj.street}}</h3>
        <h3>{{Ctrl.selectedPropertyObj.city + ", " + Ctrl.selectedPropertyObj.state + " " + Ctrl.selectedPropertyObj.zip}}</h3>
        <h3 style="margin-top:.5em;">Client: {{Ctrl.selectedPropertyObj.clientName}}</h3>
    </div>
    <div>
        <h3></h3>
    </div>
</div>
<div class="section-header">
    <h2>Multi-Unit Property</h2>
</div>
<div class="top-page-menu">
    <div><i ng-click="Ctrl.goAddMultiUnit();" class="fa fa-plus fa-2x"></i></div>
    <div><h3>Add Unit</h3></div>
</div>
<div>
    <table st-table="Ctrl.roofDescriptions" class="table table-striped">
    <thead>
    <tr>
        <th>Building</th>
        <th>Levels</th>
        <th>Edge</th>
        <th>Valley</th>
        <th>Ridge</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in Ctrl.roofDescriptions">
        <td>{{row.name}}</td>
        <td>{{row.numLevels.label}}</td>
        <td>{{row.edgeDetail.label}}</td>
        <td>{{row.valleyDetail.label}}</td>
        <td>{{row.ridgeCap.label}}</td>
    </tr>
    </tbody>
</table>
</div>
