<div class="section-header">
    <h2>Property</h2>
</div>
<div class="text-block-display">
    <div>
        <h3><span class="bold">{{Ctrl.selectedPropertyObj.name}}</span></h3>
        <h3>{{Ctrl.selectedPropertyObj.street}}</h3>
        <h3>{{Ctrl.selectedPropertyObj.city + ", " + Ctrl.selectedPropertyObj.state + " " + Ctrl.selectedPropertyObj.zip}}</h3>
        <h3 style="margin-top:.5em;">Client: {{Ctrl.selectedPropertyObj.clientName}}</h3>
    </div>
    <div>
        <h3></h3>
    </div>
    
</div>
<div class="section-header">
    <h2>Roof Description</h2>
</div>
<div class="text-block-display">
    <div>
        <h3>Levels:<span class="bold"> {{Ctrl.selectedPropertyObj.numLevels.label}}</span></h3>
        <h3>Pitch:<span class="bold"> {{Ctrl.selectedPropertyObj.pitch.label}}</span></h3>
        <h3>Shingle Grade:<span class="bold"> {{Ctrl.selectedPropertyObj.shingleGrade.label}}</span></h3>
    </div>
    <div>
        <h3>Deck:<span class="bold"> {{Ctrl.selectedPropertyObj.roofDeck.label}}</span></h3>
        <h3>Edge Detail:<span class="bold"> {{Ctrl.selectedPropertyObj.edgeDetail.label}}</span></h3>
        <h3>Edge Trim:<span class="bold"> {{Ctrl.selectedPropertyObj.edgeTrim.label}}</span></h3>
    </div>
    <div>
        <h3>Valley Detail:<span class="bold"> {{Ctrl.selectedPropertyObj.valleyDetail.label}}</span></h3>
        <h3>Ridge Detail:<span class="bold"> {{Ctrl.selectedPropertyObj.ridgeCap.label}}</span></h3>
        <h3>Ventilation:<span class="bold"> {{Ctrl.selectedPropertyObj.roofVents.label}}</span></h3>
    </div>
</div>

<div>
    <i ng-click="Ctrl.editRoofDetails()" class="fa fa-pencil-square fa-2x"></i>
    <button type="button" class="button nav-btn" ng-click="Ctrl.backToList()">Back</button>
</div>

