<div ng-controller="NewPropertyIndCtrl as Ctrl" class="page">

    <div class="ez-form-item" ng-show="Ctrl.inputField == 'propertyName'">
        <h2>Property</h2>
        <h3>Building Name or Reference</h3>
        <input name="propertyName" type="text" ng-model="Ctrl.propertyName" placeholder="Smith Residence" />
        <div class="page-nav">
            <div class="page-nav-left">
                <i ng-click="Ctrl.goPrevious('propertyName')" class="fa fa-arrow-circle-left fa-3x"></i>
            </div>
            <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">
                {{Ctrl.inputMsg}}
            </div>
            <div class="page-nav-right">
                <i ng-click="Ctrl.submit_propertyName();" class="fa fa-arrow-circle-right fa-3x"></i>
            </div>
        </div>
    </div>

    <div class="ez-form-item" ng-show="Ctrl.inputField=='streetAddress'">
        <h2>Property</h2>
        <h3>Street Address</h3>
        <input type="text" ng-model="Ctrl.streetAddress" />
        <div class="page-nav">
            <div class="page-nav-left">
                <i ng-click="Ctrl.goPrevious('streetAddress')" class="fa fa-arrow-circle-left fa-3x"></i>
            </div>
            <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">
                {{Ctrl.inputMsg}}
            </div>
            <div class="page-nav-right">
                <i ng-click="Ctrl.submit_streetAddress();" class="fa fa-arrow-circle-right fa-3x"></i>
            </div>
        </div>
    </div>


    <div class="ez-form-item" ng-show="Ctrl.inputField == 'propertyCity'">
        <h2>Property</h2>
        <h3>City</h3>
        <input type="text" ng-model="Ctrl.propertyCity" />
        <div class="page-nav">
            <div class="page-nav-left">
                <i ng-click="Ctrl.goPrevious('propertyCity')" class="fa fa-arrow-circle-left fa-3x"></i>
            </div>
            <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">
                {{Ctrl.inputMsg}}
            </div>
            <div class="page-nav-right">
                <i ng-click="Ctrl.submit_propertyCity();" class="fa fa-arrow-circle-right fa-3x"></i>
            </div>
        </div>
    </div>


    <div class="ez-form-item" ng-show="Ctrl.inputField == 'propertyState'">
        <h2>Property</h2>
        <h3>State</h3>
        <input type="text" ng-model="Ctrl.propertyState" />
        <div class="page-nav">
            <div class="page-nav-left">
                <i ng-click="Ctrl.goPrevious('propertyState')" class="fa fa-arrow-circle-left fa-3x"></i>
            </div>
            <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">
                {{Ctrl.inputMsg}}
            </div>
            <div class="page-nav-right">
                <i ng-click="Ctrl.submit_propertyState();" class="fa fa-arrow-circle-right fa-3x"></i>
            </div>
        </div>
    </div>
    <div class="ez-form-item" ng-show="Ctrl.inputField == 'propertyZip'">
        <h2>Property</h2>
        <h3>Zip</h3>
        <input type="text" ng-model="Ctrl.propertyZip" />
        <div class="page-nav">
            <div class="page-nav-left">
                <i ng-click="Ctrl.goPrevious('propertyZip')" class="fa fa-arrow-circle-left fa-3x"></i>
            </div>
            <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">
                {{Ctrl.inputMsg}}
            </div>
            <div class="page-nav-right">
                <i ng-click="Ctrl.submit_propertyZip();" class="fa fa-arrow-circle-right fa-3x"></i>
            </div>
        </div>
    </div>
    <div class="ez-form-item" ng-show="Ctrl.inputField == 'numLevels'">
        <h2>Property</h2>
        <h3>Levels (number of stories)</h3>
        <div class="dropDownSelector">
            <select ng-model="Ctrl.numLevels" ng-options="c.label for c in Ctrl.S.levelOptions"></select>
        </div>
        <div class="page-nav">
            <div class="page-nav-left">
                <i ng-click="Ctrl.goPrevious('numLevels')" class="fa fa-arrow-circle-left fa-3x"></i>
            </div>
            <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">
                {{Ctrl.inputMsg}}
            </div>
            <div class="page-nav-right">
                <i ng-click="Ctrl.submit_numLevels();" class="fa fa-arrow-circle-right fa-3x"></i>
            </div>
        </div>
    </div>
    <div class="ez-form-item" ng-show="Ctrl.inputField == 'shingleGrade'">
        <h2>Existing Roof Assembly</h2>
        <h3>Shingle Grade</h3>
        <div class="dropDownSelector">
            <select ng-model="Ctrl.shingleGrade" ng-options="c.label for c in Ctrl.S.shingleGradeOptions"></select>
        </div>
        <div class="page-nav">
            <div class="page-nav-left">
                <i ng-click="Ctrl.goPrevious('shingleGrade')" class="fa fa-arrow-circle-left fa-3x"></i>
            </div>
            <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">
                {{Ctrl.inputMsg}}
            </div>
            <div class="page-nav-right">
                <i ng-click="Ctrl.submit_shingleGrade();" class="fa fa-arrow-circle-right fa-3x"></i>
            </div>
        </div>
    </div>

    <div class="ez-form-item" ng-show="Ctrl.inputField == 'roofDeck'">
        <h2>Existing Roof Assembly</h2>
        <h3>Roof Deck</h3>
        <div class="dropDownSelector">
            <select ng-model="Ctrl.roofDeck" ng-options="c.label for c in Ctrl.S.roofDeckOptions"></select>
        </div>
        <div class="page-nav">
            <div class="page-nav-left">
                <i ng-click="Ctrl.goPrevious('roofDeck')" class="fa fa-arrow-circle-left fa-3x"></i>
            </div>
            <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">
                {{Ctrl.inputMsg}}
            </div>
            <div class="page-nav-right">
                <i ng-click="Ctrl.submit_roofDeck();" class="fa fa-arrow-circle-right fa-3x"></i>
            </div>
        </div>
    </div>

    <div class="ez-form-item" ng-show="Ctrl.inputField == 'coveredLayer'">
        <h2>Existing Roof Assembly</h2>
        <h3>Under-layer (Previous roofing installation)</h3>
       
        <div class="dropDownSelector">
            <select ng-model="Ctrl.coveredLayer" ng-options="c.label for c in Ctrl.S.coveredLayerOptions"></select>
        </div>
       
        <div class="page-nav">
            <div class="page-nav-left">
                <i ng-click="Ctrl.goPrevious('coveredLayer')" class="fa fa-arrow-circle-left fa-3x"></i>
            </div>
            <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">
                {{Ctrl.inputMsg}}
            </div>
            <div class="page-nav-right">
                <i ng-click="Ctrl.submit_coveredLayer();" class="fa fa-arrow-circle-right fa-3x"></i>
            </div>
        </div>
    </div>

    <div class="ez-form-item" ng-show="Ctrl.inputField == 'layersCovering'">
        <h2>Existing Roof Assembly</h2>
        <h3>Number of layers of existing roof covering:</h3>
        <div class="dropDownSelector">
            <select ng-model="Ctrl.layersCovering" ng-options="c.label for c in Ctrl.S.numbersToFive"></select>
        </div>
        <div class="page-nav">
            <div class="page-nav-left">
                <i ng-click="Ctrl.goPrevious('layersCovering')" class="fa fa-arrow-circle-left fa-3x"></i>
            </div>
            <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">
                {{Ctrl.inputMsg}}
            </div>
            <div class="page-nav-right">
                <i ng-click="Ctrl.submit_layersCovering();" class="fa fa-arrow-circle-right fa-3x"></i>
            </div>
        </div>
    </div>
    <div class="ez-form-item" ng-show="Ctrl.inputField == 'edgeDetail'">
        <h2>Existing Roof Assembly</h2>
        <h3>Edge Detail</h3>

        <div class="dropDownSelector">
            <select ng-model="Ctrl.edgeDetail" ng-options="c.label for c in Ctrl.S.edgeDetail"></select>
        </div>

        <div class="page-nav">
            <div class="page-nav-left">
                <i ng-click="Ctrl.goPrevious('edgeDetail')" class="fa fa-arrow-circle-left fa-3x"></i>
            </div>
            <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">
                {{Ctrl.inputMsg}}
            </div>
            <div class="page-nav-right">
                <i ng-click="Ctrl.submit_edgeDetail();" class="fa fa-arrow-circle-right fa-3x"></i>
            </div>
        </div>
    </div>
    <div class="ez-form-item" ng-show="Ctrl.inputField == 'valleyDetail'">
        <h2>Existing Roof Assembly</h2>
        <h3>Valley Detail</h3>
        <div class="dropDownSelector">
            <select ng-model="Ctrl.valleyDetail" ng-options="c.label for c in Ctrl.S.valleyOptions"></select>
        </div>
        <div class="page-nav">
            <div class="page-nav-left">
                <i ng-click="Ctrl.goPrevious('valleyDetail')" class="fa fa-arrow-circle-left fa-3x"></i>
            </div>
            <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">
                {{Ctrl.inputMsg}}
            </div>
            <div class="page-nav-right">
                <i ng-click="Ctrl.submit_valleyDetail();" class="fa fa-arrow-circle-right fa-3x"></i>
            </div>
        </div>
    </div>
    <div class="ez-form-item" ng-show="Ctrl.inputField == 'ridgeCap'">
        <h2>Existing Roof Assembly</h2>
        <h3>Ridge Detail</h3>
        <div class="dropDownSelector">
            <select ng-model="Ctrl.ridgeCap" ng-options="c.label for c in Ctrl.S.shingleGradeOptions"></select>
        </div>
        <div class="page-nav">
            <div class="page-nav-left">
                <i ng-click="Ctrl.goPrevious('ridgeCap')" class="fa fa-arrow-circle-left fa-3x"></i>
            </div>
            <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">
                {{Ctrl.inputMsg}}
            </div>
            <div class="page-nav-right">
                <i ng-click="Ctrl.submit_ridgeCap();" class="fa fa-arrow-circle-right fa-3x"></i>
            </div>
        </div>
    </div>
    <div class="ez-form-item" ng-show="Ctrl.inputField == 'roofVents'">
        <h2>Existing Roof Assembly</h2>
        <h3>Ventilation</h3>
        <div>
            <select ng-model="Ctrl.roofVents" ng-options="c.label for c in Ctrl.S.ventOptions"></select>
        </div>
        <div class="page-nav">
            <div class="page-nav-left">
                <i ng-click="Ctrl.goPrevious('roofVents')" class="fa fa-arrow-circle-left fa-3x"></i>
            </div>
            <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">
                {{Ctrl.inputMsg}}
            </div>
            <div class="page-nav-right">
                <i ng-click="Ctrl.submit_roofVents();" class="fa fa-arrow-circle-right fa-3x"></i>
            </div>
        </div>
    </div>
    <div class="ez-form-item" ng-show="Ctrl.inputField == 'specialFlashing'">
        <h2>Existing Roof Assembly</h2>
        <h3>Special Flashing Requirements</h3>
        <p>Check all that apply</p>
        <div >
            <div>
                <label><input type="checkbox" ng-model="specialFlashing.chimney">Chimney</label>
                    <br/>
                <label><input type="checkbox" ng-model="specialFlashing.pipes">Pipe Jacks</label>
                   <br/>
                <label><input type="checkbox" ng-model="specialFlashing.skylights">Skylights</label>
            </div>
            <div>
                <label><input type="checkbox" ng-model="specialFlashing.joints">Joints</label>
                    <br/>
                <label><input type="checkbox" ng-model="specialFlashing.scuppers">Scuppers</label>
                   <br/>
                <label><input type="checkbox" ng-model="specialFlashing.equipment">Equipment</label>
            </div>

        </div>
        <div class="page-nav">
            <div class="page-nav-left">
                <i ng-click="Ctrl.goPrevious('specialFlashing')" class="fa fa-arrow-circle-left fa-3x"></i>
            </div>
            <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">
                {{Ctrl.inputMsg}}
            </div>
            <div class="page-nav-right">
                <i ng-click="Ctrl.submit_specialFlashing();" class="fa fa-arrow-circle-right fa-3x"></i>
            </div>
        </div>
    </div>
    <div class="ez-form-item" ng-show="Ctrl.inputField == 'SUBMIT'">
        <h3>Review and Submit</h3>
        <p>Proof below and Submit or use the back arrow to revise.</p>

        <div class="page-nav">
            <div class="page-nav-left">
                <i ng-click="Ctrl.goPrevious('Submit')" class="fa fa-arrow-circle-left fa-3x"></i>
            </div>
            <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">
                {{Ctrl.inputMsg}}
            </div>
            <div class="page-nav-right">
                <button type="button" ng-click="Ctrl.submitForm()">Submit</button>
            </div>
        </div>
    </div>
    <div class="ez-form-item" ng-show="Ctrl.inputField == 'SUCCESS'">
        <h3>Success!</h3>
        <p>{{Ctrl.propertyName}} has been added as a property for {{Ctrl.clientName}}.</p>
        <p>You can now create Job by clicking below.</p>
        <button type="button" ng-click="Ctrl.goNewJob()">Create Job</button>
    </div>
    <div class="ez-form-item" ng-show="Ctrl.inputField == 'ERROR'">
        <h3>Oops!  An error occured saving the data.</h3>
        <p>Try again later or click below to reset and try again now.</p>
        <button type="button" ng-click="Ctrl.clearForm()">Reset</button>
    </div>

    <div class="review-section">
        <div>
            <h4 style="margin-bottom:.5rem;">Property:</h4>
            <h3>Owner: {{Ctrl.clientName}}</h3>
            <h3>Name: {{Ctrl.propertyName}}</h3>
            <h3>Street: {{Ctrl.streetAddress}}</h3>
            <h3>City: {{Ctrl.propertyCity}}</h3>
            <h3>State: {{Ctrl.propertyState}}</h3>
            <h3>Zip: {{Ctrl.propertyZip}}</h3>
        </div>
        <div style="margin-left:1rem;">
            <h4 style="margin-bottom:.5rem;">Existing Conditions:</h4>
            <h3>Levels: {{Ctrl.numLevels.label}}</h3>
            <h3>Shingle Grade: {{Ctrl.shingleGrade.label}}</h3>
            <h3>Decking: {{Ctrl.roofDeck.label}}</h3>
            <h3>Underlayer: {{Ctrl.coveredLayer.label}}</h3>
            <h3>Layers: {{Ctrl.layersCovering.label}}</h3>
            <h3>Edge Detail: {{Ctrl.edgeDetail.label}}</h3>
            <h3>Valley Detail: {{Ctrl.valleyDetail.label}}</h3>
            <h3>Ridge Cap: {{Ctrl.ridgeCap.label}}</h3>
            <h3>Ventilation: {{Ctrl.roofVents.label}}</h3>
        </div>
    </div>
   
</div>

