<div class="page" ng-controller="PropertiesCtrl as Ctrl">
    <div class="page-title-bar">
        <button ng-click="Ctrl.goClients()" type="button" class="button">CLIENTS</button>
        <button type="button" class="button middle inactive">PROPERTIES</button>
        <button ng-click="Ctrl.goJobs()" type="button" class="button">JOBS</button>
    </div>
    <horiz-rule margintop="5px" marginbottom="10px"></horiz-rule>
    <div ui-view>
        <div class="top-page-menu">
            <div><i ng-click="Ctrl.goNewProperty();" class="fa fa-plus fa-2x"></i></div>
            <div><h3>New Property</h3></div>
        </div>
    	
    	<div class="property-list-container">
            <div property-item id="{{e.PRIMARY_ID}}" name="{{e.name}}" details="Ctrl.showDetails"
                address="{{e.street + ', ' + e.city}}" ng-repeat="e in Ctrl.properties">
            </div> 
        </div>
	    
        <div class="block-section" style="margin-top:20px;">
            <div class="text-block-display large">
                <p>Every Job needs a <span class="bold">Property</span>. Every property must have a Client that it belongs to.</p>
                <p>Click the <span class="bold">New Property</span> button in the menu bar add a client.</p>
                <p>Click the <span class="bold">Pencil Icon</span> button at the end of each listing to view the Property Details or to make edits.</p>
            </div>
        </div> 
    </div>
</div>