<div class="text-input-form-item" style="margin-top:2rem;">
    <label>Item</label>
    <input type="text" ng-model="Invt.inputDataObj.Item" style="width:600px">
</div>
<div class="flex-row">
    <div style="width:50%">
        <div class="text-input-form-item">
            <label>Sort</label>
            <input type="text" ng-model="Invt.inputDataObj.Sort">
        </div>
        <div class="text-input-form-item">
            <label>Category</label>
            <input type="text" ng-model="Invt.inputDataObj.Category">
        </div>
        <div class="text-input-form-item">
            <label>Supplier</label>
            <input type="text" ng-model="Invt.inputDataObj.Manufacturer">
        </div>
        <div class="text-input-form-item">
            <label>Code</label>
            <input type="text" ng-model="Invt.inputDataObj.Code">
        </div>
        <div class="text-input-form-item">
            <label>Package</label>
            <select ng-model="Invt.selectDataObj.Package" ng-options="c.label for c in Invt.S.packageOptions"></select>
        </div>
        <div class="text-input-form-item">
            <label>QtyPkg</label>
            <input type="text" ng-model="Invt.inputDataObj.QtyPkg">
        </div>
        <div class="text-input-form-item">
            <label>UnitPkg</label>
            <select ng-model="Invt.selectDataObj.UnitPkg" ng-options="c.label for c in Invt.S.unitOptions"></select>
        </div>
    </div>
    <div style="width:50%">
        <div class="text-input-form-item">
            <label>PkgPrice</label>
            <input type="text" ng-model="Invt.inputDataObj.PkgPrice">
        </div>
        <div class="text-input-form-item">
            <label>QtyCoverage</label>
            <input type="text" ng-model="Invt.inputDataObj.QtyCoverage">
        </div>
        <div class="text-input-form-item">
            <label>UnitCoverage</label>
            <select ng-model="Invt.selectDataObj.UnitCoverage" ng-options="c.label for c in Invt.S.unitOptions"></select>
        </div>
        <div class="text-input-form-item">
            <label>RoundUp</label>
            <input type="text" ng-model="Invt.inputDataObj.RoundUp">
        </div>
        <div class="text-input-form-item">
            <label>Margin</label>
            <input type="text" ng-model="Invt.inputDataObj.Margin">
        </div>
        <div class="text-input-form-item">
            <label>InputParam</label>
            <select ng-model="Invt.selectDataObj.InputParam" ng-options="c.label for c in Invt.S.propertyParams"></select>
        </div>
        <div class="text-input-form-item">
            <label>Checked</label>
            <input type="text" ng-model="Invt.inputDataObj.Checked">
        </div>
    </div>
</div>
<div class="text-input-form-item">
    <label>url</label>
    <input type="text" ng-model="Invt.inputDataObj.url" style="width:600px">
</div>
<button type="button" class="button radius" ng-click="Invt.addItemSubmit()" style="margin-top: 1rem; width:100%;">Submit</button>

<horiz-rule margintop="15" marginbottom="15"></horiz-rule>
