<div style="margin-top: 2rem;">
	<div class="text-input-form-item">
		<label>Sort</label>
		<input type="text" ng-model="Invt.inputDataObj.Sort">
	</div>
	<div class="text-input-form-item">
		<label>Category</label>
		<input type="text" ng-model="Invt.inputDataObj.Category">
	</div>
	<div class="text-input-form-item">
		<label>Supplier</label>
		<input type="text" ng-model="Invt.inputDataObj.Manufacturer">
	</div>
	<div class="text-input-form-item">
		<label>Item</label>
		<input type="text" ng-model="Invt.inputDataObj.Item">
	</div>
	<div class="text-input-form-item">
		<label>Code</label>
		<input type="text" ng-model="Invt.inputDataObj.Code">
	</div>
	<div class="text-input-form-item">
		<label>Package</label>
		<select ng-model="Invt.selectDataObj.Package" ng-options="c.label for c in Invt.S.packageOptions"></select>
	</div>
	<div class="text-input-form-item">
		<label>QtyPkg</label>
		<input type="text" ng-model="Invt.inputDataObj.QtyPkg">
	</div>
	<div class="text-input-form-item">
		<label>UnitPkg</label>
		<select ng-model="Invt.selectDataObj.UnitPkg" ng-options="c.label for c in Invt.S.unitOptions"></select>
	</div>
	<div class="text-input-form-item">
		<label>PkgPrice</label>
		<input type="text" ng-model="Invt.inputDataObj.PkgPrice">
	</div>
	<div class="text-input-form-item">
		<label>QtyCoverage</label>
		<input type="text" ng-model="Invt.inputDataObj.QtyCoverage">
	</div>
	<div class="text-input-form-item">
		<label>UnitCoverage</label>
		<select ng-model="Invt.selectDataObj.UnitCoverage" ng-options="c.label for c in Invt.S.unitOptions"></select>
	</div>
	<div class="text-input-form-item">
		<label>RoundUp</label>
		<input type="text" ng-model="Invt.inputDataObj.RoundUp">
	</div>
	<div class="text-input-form-item">
		<label>Margin</label>
		<input type="text" ng-model="Invt.inputDataObj.Margin">
	</div>
	<div class="text-input-form-item">
		<label>InputParam</label>
		<select ng-model="Invt.selectDataObj.InputParam" ng-options="c.label for c in Invt.S.propertyParams"></select>
	</div>
	<div class="text-input-form-item">
		<label>Checked</label>
		<input type="text" ng-model="Invt.inputDataObj.Checked">
	</div>
	<div class="text-input-form-item">
		<label>Notes</label>
		<input type="text" ng-model="Invt.inputDataObj.Notes">
	</div>
	<div class="text-input-form-item">
		<label>url</label>
		<input type="text" ng-model="Invt.inputDataObj.url">
	</div>
	<button type="button" class="button radius" ng-click="Invt.addItemSubmit()">Submit</button>
	<div style="margin-top: 3rem;">
		
	</div>
</div>