<div>
    <horiz-rule margintop="5" marginbottom="5"></horiz-rule>
    <div class="text-input-form-item-min">
        <h2>{{Invt.modePrompt}}</h2>
        <select ng-model="Invt.itemSelected" ng-options="c.Item for c in Invt.pitchedInventoryList" ng-change="Invt.selectItem();"></select>
    </div>
    <horiz-rule margintop="5" marginbottom="5"></horiz-rule>
    <div class="flex-row">
        <div style="width:50%; background-color: #EEEEEE;">
            <div style="padding: 0 10px;">
                <h2>Updates</h2>
                <div class="text-input-form-item">
                    <label>Item</label>
                    <input type="text" ng-model="Invt.inputDataObj.Item" ng-change="Invt.formChange();">
                </div>
                <div class="text-input-form-item">
                    <label>Sort</label>
                    <input type="text" ng-model="Invt.inputDataObj.Sort" ng-change="Invt.formChange();">
                </div>
                <div class="text-input-form-item">
                    <label>Category</label>
                    <input type="text" ng-model="Invt.inputDataObj.Category" ng-change="Invt.formChange();">
                </div>
                <div class="text-input-form-item">
                    <label>Supplier</label>
                    <input type="text" ng-model="Invt.inputDataObj.Manufacturer" ng-change="Invt.formChange();">
                </div>
                <div class="text-input-form-item">
                    <label>Code</label>
                    <input type="text" ng-model="Invt.inputDataObj.Code" ng-change="Invt.formChange();">
                </div>
                <div class="text-input-form-item">
                    <label>Package</label>
                    <select ng-model="Invt.selectDataObj_dp.Package" ng-options="c.label for c in Invt.L.packageOptions" ng-change="Invt.formChange();"></select>
                </div>
                <div class="text-input-form-item">
                    <label>QtyPkg</label>
                    <input type="text" ng-model="Invt.inputDataObj.QtyPkg">
                </div>
                <div class="text-input-form-item">
                    <label>UnitPkg</label>
                    <select ng-model="Invt.selectDataObj_dp.UnitPkg" ng-options="c.label for c in Invt.L.unitOptions" ng-change="Invt.formChange();"></select>
                </div>
                <div class="text-input-form-item">
                    <label>PkgPrice</label>
                    <input type="text" ng-model="Invt.inputDataObj.PkgPrice" ng-change="Invt.formChange();">
                </div>
                <div class="text-input-form-item">
                    <label>QtyCoverage</label>
                    <input type="text" ng-model="Invt.inputDataObj.QtyCoverage" ng-change="Invt.formChange();">
                </div>
                <div class="text-input-form-item">
                    <label>UnitCoverage</label>
                    <select ng-model="Invt.selectDataObj_dp.UnitCoverage" ng-options="c.label for c in Invt.L.unitOptions" ng-change="Invt.formChange();"></select>
                </div>
                <div class="text-input-form-item">
                    <label>RoundUp</label>
                    <input type="text" ng-model="Invt.inputDataObj.RoundUp" ng-change="Invt.formChange();">
                </div>
                <div class="text-input-form-item">
                    <label>Margin</label>
                    <input type="text" ng-model="Invt.inputDataObj.Margin" ng-change="Invt.formChange();">
                </div>
                <div class="text-input-form-item">
                    <label>InputParam</label>
                    <select ng-model="Invt.selectDataObj_dp.InputParam" ng-options="c.label for c in Invt.L.propertyParams" ng-change="Invt.formChange();"></select>
                </div>
                <div class="text-input-form-item">
                    <label>Checked</label>
                    <select ng-model="Invt.selectDataObj_dp.Checked" ng-options="c.label for c in Invt.L.trueFalse" ng-change="Invt.formChange();"></select>
                </div>
            </div>
        </div>
        <div style="width:50%; background-color: #DDDDDD;">
            <div style="padding: 0 10px;">
                <h2>Original</h2>
                <div class="text-input-form-item">
                    <label>Item</label>
                    <input type="text" ng-model="Invt.sampleDataObj.Item" ng-disabled = true;>
                </div>
                <div class="text-input-form-item">
                    <label>Sort</label>
                    <input type="text" ng-model="Invt.sampleDataObj.Sort" ng-disabled = true;>
                </div>
                <div class="text-input-form-item">
                    <label>Category</label>
                    <input type="text" ng-model="Invt.sampleDataObj.Category" ng-disabled = true;>
                </div>
                <div class="text-input-form-item">
                    <label>Supplier</label>
                    <input type="text" ng-model="Invt.sampleDataObj.Manufacturer" ng-disabled = true;>
                </div>
                <div class="text-input-form-item">
                    <label>Code</label>
                    <input type="text" ng-model="Invt.sampleDataObj.Code" ng-disabled = true;>
                </div>
                <div class="text-input-form-item">
                    <label>Package</label>
                    <input type="text" ng-model="Invt.sampleDataObj.Package" ng-disabled = true;>
                </div>
                <div class="text-input-form-item">
                    <label>QtyPkg</label>
                    <input type="text" ng-model="Invt.sampleDataObj.QtyPkg" ng-disabled = true;>
                </div>
                <div class="text-input-form-item">
                    <label>UnitPkg</label>
                    <input type="text" ng-model="Invt.sampleDataObj.UnitPkg" ng-disabled = true;>
                </div>
                <div class="text-input-form-item">
                    <label>PkgPrice</label>
                    <input type="text" ng-model="Invt.sampleDataObj.PkgPrice" ng-disabled = true;>
                </div>
                <div class="text-input-form-item">
                    <label>QtyCoverage</label>
                    <input type="text" ng-model="Invt.sampleDataObj.QtyCoverage" ng-disabled = true;>
                </div>
                <div class="text-input-form-item">
                    <label>UnitCoverage</label>
                    <input type="text" ng-model="Invt.sampleDataObj.UnitCoverage" ng-disabled = true;>
                </div>
                <div class="text-input-form-item">
                    <label>RoundUp</label>
                    <input type="text" ng-model="Invt.sampleDataObj.RoundUp" ng-disabled = true;>
                </div>
                <div class="text-input-form-item">
                    <label>Margin</label>
                    <input type="text" ng-model="Invt.sampleDataObj.Margin" ng-disabled = true;>
                </div>
                <div class="text-input-form-item">
                    <label>InputParam</label>
                    <input type="text" ng-model="Invt.sampleDataObj.InputParam" ng-disabled = true;>
                </div>
                <div class="text-input-form-item">
                    <label>Checked</label>
                    <input type="text" ng-model="Invt.sampleDataObj.Checked" ng-disabled = true;>
                </div>
            </div>
        </div>
    </div>
    <add-space heightpx="10"></add-space>
    <div class="text-input-form-item">
        <label>url</label>
        <input type="text" ng-model="Invt.inputDataObj.url" style="display:block;" ng-change="Invt.formChange();">
    </div>
    <button type="button" class="button radius" ng-click="Invt.submitUpdateItem()" ng-disabled="Invt.submitDisabled" style="margin-top: 1rem; width:100%;">Update Item</button>
    <add-space heightpx="10"></add-space>
</div>
