<div class="page" ng-controller="PitchedRoofInventoryCtrl as Invt">
    <div class="top">
        <div class="title-with-btn">
            <i ng-click="Invt.backToHome()" class="fa fa-arrow-circle-left fa-3x"></i>
            <h2>Pitched Roof Inventory Management</h2>
        </div>
        <div id='cssmenu' ng-controller="TabbedMenuCtrl">
            <ul>
                <li ng-class="{ active: Invt.EditMode == 'Add Item'}" ng-click="Invt.addItem()"><a>Add Item</a></li>
                <li ng-class="{ active: Invt.EditMode == 'Update Item'}" ng-click="Invt.updateItem()"><a>Update Item</a></li>
                <li ng-class="{ active: Invt.EditMode == 'Update Price'}" ng-click="Invt.updatePrice()"><a>Update Price</a></li>
                <li ng-class="{ active: Invt.EditMode == 'Remove Item'}" ng-click="Invt.removeItem()"><a>Remove Item</a></li>
            </ul>
        </div>
        <div ui-view></div>
    </div>
</div>
