<div class="job-items-container">
    <div class="job-item-name"><h4>{{item}}</h4></div>
    <div class="job-item-qty"><h3>{{qty}}</h3></div>
    <div class="job-item-unit"><h3>{{unit}}</h3></div>
    <div class="job-item-input"><input type="tel" ng-model="inputNum"></div>
    
    <div class="job-item-icon"><i ng-click="submitEqual();" class="fa fa-plus fa-2x"></i></div>
    <div class="job-item-icon"><i ng-click="submitMinus();" class="fa fa-minus fa-2x"></i></div>
    <div class="job-item-icon"><i ng-click="submitAdd();" class="fa fa-plus fa-2x"></i></div>
</div>