<div class="page">
    <div class="page-title-bar">
        <h2>
            New Property
        </h2>
    </div>
    <horiz-rule margintop="5px" marginbottom="10px"></horiz-rule>
        <div class="ez-form-item">
            <h3>
                Shingle Style
            </h3>
            <div class="radio-btns">
                <label>
                       <input type="radio" name="1A" id="radio1A" value="3-tab" class="custom-radio" ng-model="Ctrl.T8"/>
                        3-tab
                </label>
                <label>
                       <input type="radio" name="1A" id="radio2A" value="4-tab" class="custom-radio" ng-model="Ctrl.T8"/>
                        4-tab
                </label>
                <label>
                       <input type="radio" name="1A" id="radio3A" value="5-tab" class="custom-radio" ng-model="Ctrl.T8"/>
                        5-tab
                </label>
            </div>
        </div>
</div>
