<div class="list-container-item">
	<div class="job-material-item">
	<div class="top">
		<div class="item"><h4>{{item}}</h4></div>
		<div class="qty"><h4>{{qty}}</h4></div>
		<div class="icon"><i ng-click="OpenAdd();" class="fa fa-plus fa-2x"></i></div>
		<div class="icon"><i ng-click="openInfo();" class="fa fa-info fa-2x"></i></div>
	</div>
	<div class="bottom" ng-if="showAdd">
		<div class="in-put"><input type="text" ng-model="inputNum"></input></div>
	</div>
	<div class="bottom" ng-if="showInfo">
		<h5>{{qty}} per {{unit}} @ ${{price}}</h5>
	</div>
		
</div>