<div class="top page" ng-controller="ProposalCtrl as Ctrl">
    <div class="page-title-bar">
        <button ng-click="Ctrl.goClients()" type="button" class="button">CLIENTS</button>
        <button ng-click="Ctrl.goProperties()" type="button" class="button middle">PROPERTIES</button>
        <button type="button" class="button inactive">JOBS</button>
    </div>
    
    <div class="page-title">
        <h2>Proposal</h2>
    </div>
    <div class="section-header">
        <h2>Property</h2>
    </div>
    <div class="text-block-display">
        <h4>{{Ctrl.selectedPropertyObj.name}} {{Ctrl.selectedJobObj.bldgName}}</h4>
        <h3>{{Ctrl.selectedPropertyObj.street}}</h3>
        <h3>{{Ctrl.selectedPropertyObj.city + ", " + Ctrl.selectedPropertyObj.state + " " + Ctrl.selectedPropertyObj.zip}}</h3>
        <p>Property ID: {{Ctrl.selectedPropertyObj.PRIMARY_ID}} Job ID: {{Ctrl.selectedJobObj.PRIMARY_ID}}</p>
    </div>
    
    <div id='cssmenu' ng-controller="ProposalMenuCtrl">
        <ul>
            <li ng-class="{ active: isCurrentPath('/proposal/params')}"><a ui-sref='proposal.params'>Parameters</a></li>
            <li ng-class="{ active: isCurrentPath('/proposal/photos')}"><a ui-sref='proposal.photos'>Photos</a></li>
            <li ng-class="{ active: isCurrentPath('/proposal/special')}"><a ui-sref='proposal.special'>Special Considerations</a></li>
            <li ng-class="{ active: isCurrentPath('/proposal/submit')}"><a ui-sref='proposal.submit'>Finalize</a></li>
        </ul>
    </div>
    <div ui-view></div>
    <add-space heightpx="600"></add-space>
</div>
