<div ng-controller="AmazonS3Ctrl as ImgCtrl">
    <div class="section-header">
        <h2>Photos</h2>
    </div>
    <p>Upload at least one photo for each category.</p>
    <div class="flex-row">
        <div>
            <h4>Front View</h4></div>
        <div file-upload="ImgCtrl.onFile(files)"></div>
    </div>
    <div>
        <div>
            <h4>Front View</h4>
            <div file-upload="ImgCtrl.onFile(files)"></div>
        </div>
    </div>
    <div>
        <div>
            <h4>Front View</h4>
            <div file-upload="ImgCtrl.onFile(files)"></div>
        </div>
    </div>
    <div>
        <div>
            <h4>Front View</h4>
            <div file-upload="ImgCtrl.onFile(files)"></div>
        </div>
    </div>
    <div>
        <div>
            <h4>Other Photos</h4>
            <div file-upload="ImgCtrl.onFile(files)"></div>
        </div>
    </div>
