<div class="section-header">
    <h2>Roofing Parameters</h2>
</div>
<div class="list-container-proposal">
    <div>
        <div class="job-items-container">
            <div class="job-item-name">
                <h4>Field</h4></div>
            <div class="job-item-input">
                <input type="tel" name="qtyInput" ng-model="Ctrl.PARAMS.FIELD">
            </div>
            <div class="job-item-unit">
                <h3>Sqs</h3></div>
        </div>
        
        <div class="job-items-container">
            <div class="job-item-name">
                <h4>Top Ridge</h4></div>
            <div class="job-item-input">
                <input type="tel" name="qtyInput" ng-model="Ctrl.PARAMS.TOPRDG">
            </div>
            <div class="job-item-unit">
                <h3>LF</h3></div>
        </div>
        <div class="job-items-container">
            <div class="job-item-name">
                <h4>Rake Ridge</h4></div>
            <div class="job-item-input">
                <input type="tel" name="qtyInput" ng-model="Ctrl.PARAMS.RKERDG">
            </div>
            <div class="job-item-unit">
                <h3>LF</h3></div>
        </div>
        <div class="job-items-container">
            <div class="job-item-name">
                <h4>Rake Wall</h4></div>
            <div class="job-item-input">
                <input type="tel" name="qtyInput" ng-model="Ctrl.PARAMS.RKEWALL">
            </div>
            <div class="job-item-unit">
                <h3>LF</h3></div>
        </div>
        <div class="job-items-container">
            <div class="job-item-name">
                <h4>Eave</h4></div>
            <div class="job-item-input">
                <input type="tel" name="qtyInput" ng-model="Ctrl.PARAMS.EAVE">
            </div>
            <div class="job-item-unit">
                <h3>LF</h3></div>
        </div>
        <div class="job-items-container">
            <div class="job-item-name">
                <h4>Perimeter</h4></div>
            <div class="job-item-input">
                <input type="tel" name="qtyInput" ng-model="Ctrl.PARAMS.PRMITR">
            </div>
            <div class="job-item-unit">
                <h3>LF</h3></div>
        </div>
        <div class="job-items-container">
            <div class="job-item-name">
                <h4>Valley</h4></div>
            <div class="job-item-input">
                <input type="tel" name="qtyInput" ng-model="Ctrl.PARAMS.VALLEY">
            </div>
            <div class="job-item-unit">
                <h3>LF</h3></div>
        </div>
        
        <div class="job-items-container">
            <div class="job-item-name">
                <h4>1.5 in. Lead Pipe</h4></div>
            <div class="job-item-input">
                <input type="tel" name="qtyInput" ng-model="Ctrl.PARAMS.LPIPE1">
            </div>
            <div class="job-item-unit">
                <h3>Each</h3></div>
        </div>
        <div class="job-items-container">
            <div class="job-item-name">
                <h4>2 in. Lead Pipe</h4></div>
            <div class="job-item-input">
                <input type="tel" name="qtyInput" ng-model="Ctrl.PARAMS.LPIPE2">
            </div>
            <div class="job-item-unit">
                <h3>Each</h3></div>
        </div>
        <div class="job-items-container">
            <div class="job-item-name">
                <h4>3 in. Lead Pipe</h4></div>
            <div class="job-item-input">
                <input type="tel" name="qtyInput" ng-model="Ctrl.PARAMS.LPIPE3">
            </div>
            <div class="job-item-unit">
                <h3>Each</h3></div>
        </div>
        <div class="job-items-container">
            <div class="job-item-name">
                <h4>4 in. Lead Pipe</h4></div>
            <div class="job-item-input">
                <input type="tel" name="qtyInput" ng-model="Ctrl.PARAMS.LPIPE4">
            </div>
            <div class="job-item-unit">
                <h3>Each</h3></div>
        </div>
    </div>
    <div>
        <div class="job-items-container">
            <div class="job-item-name">
                <h4>8 in. Vents</h4></div>
            <div class="job-item-input">
                <input type="tel" name="qtyInput" ng-model="Ctrl.PARAMS.VENT8">
            </div>
            <div class="job-item-unit">
                <h3>Each</h3></div>
        </div>
        
        <div class="job-items-container">
            <div class="job-item-name">
                <h4>Turbines</h4></div>
            <div class="job-item-input">
                <input type="tel" name="qtyInput" ng-model="Ctrl.PARAMS.TURBNS">
            </div>
            <div class="job-item-unit">
                <h3>Each</h3></div>
        </div>
        <div class="job-items-container">
            <div class="job-item-name">
                <h4>Air Hawks</h4></div>
            <div class="job-item-input">
                <input type="tel" name="qtyInput" ng-model="Ctrl.PARAMS.AIRHWK">
            </div>
            <div class="job-item-unit">
                <h3>Each</h3></div>
        </div>
        <div class="job-items-container">
            <div class="job-item-name">
                <h4>Power Vents</h4></div>
            <div class="job-item-input">
                <input type="tel" name="qtyInput" ng-model="Ctrl.PARAMS.PWRVNT">
            </div>
            <div class="job-item-unit">
                <h3>Each</h3></div>
        </div>
        <div class="job-items-container">
            <div class="job-item-name">
                <h4>Solar Vents</h4></div>
            <div class="job-item-input">
                <input type="tel" name="qtyInput" ng-model="Ctrl.PARAMS.SLRVNT">
            </div>
            <div class="job-item-unit">
                <h3>Each</h3></div>
        </div>
        
        <div class="job-items-container">
            <div class="job-item-name">
                <h4>Low Slope</h4></div>
            <div class="job-item-input">
                <input type="tel" name="qtyInput" ng-model="Ctrl.PARAMS.LOWSLP">
            </div>
            <div class="job-item-unit">
                <h3>Sq</h3></div>
        </div>
        
       
        <div class="job-items-container">
            <div class="job-item-name">
                <h4>Carport</h4></div>
            <div class="job-item-input">
               <div class="check-radio-container" style="margin-bottom:10px;">
                    <input type="checkbox" id="carCB" ng-model="Ctrl.PARAMS.CARPRT"></input>
                    <label for="carCB"><span></span></label>
                </div>
            </div>
            <div class="job-item-unit">
                <h3>Each</h3></div>
        </div>
        <div class="job-items-container">
            <div class="job-item-name">
                <h4>Satellite</h4></div>
            <div class="job-item-input">
                <div class="check-radio-container" style="margin-bottom:10px;">
                    <input type="checkbox" id="satCB" ng-model="Ctrl.PARAMS.SATDSH"></input>
                    <label for="satCB"><span></span></label>
                </div>
            </div>
            <div class="job-item-unit">
                <h3>Each</h3></div>
        </div>
        
        <div class="job-items-container">
            <button type="button" ng-click="Ctrl.submitParams()">Submit</button>
        </div>
    </div>
</div>
