<div class="section-header">
    <h2>Roofing Parameters</h2>
</div>
<div class="list-container-proposal">
    <div>
        <div class="job-items-container">
            <div class="job-item-name">
                <h4>Field</h4></div>
            <div class="job-item-input">
                <input type="tel" name="qtyInput" ng-model="Ctrl.params.FIELD">
            </div>
            <div class="job-item-unit">
                <h3>Sqs</h3></div>
        </div>
        
        <div class="job-items-container">
            <div class="job-item-name">
                <h4>Top Ridge</h4></div>
            <div class="job-item-input">
                <input type="tel" name="qtyInput" ng-model="Ctrl.params.TOPRDG">
            </div>
            <div class="job-item-unit">
                <h3>LF</h3></div>
        </div>
        <div class="job-items-container">
            <div class="job-item-name">
                <h4>Rake Ridge</h4></div>
            <div class="job-item-input">
                <input type="tel" name="qtyInput" ng-model="Ctrl.params.RKERDG">
            </div>
            <div class="job-item-unit">
                <h3>LF</h3></div>
        </div>
        <div class="job-items-container">
            <div class="job-item-name">
                <h4>Perimeter</h4></div>
            <div class="job-item-input">
                <input type="tel" name="qtyInput" ng-model="Ctrl.params.PRMITR">
            </div>
            <div class="job-item-unit">
                <h3>LF</h3></div>
        </div>
        <div class="job-items-container">
            <div class="job-item-name">
                <h4>Valley</h4></div>
            <div class="job-item-input">
                <input type="tel" name="qtyInput" ng-model="Ctrl.params.VALLEY">
            </div>
            <div class="job-item-unit">
                <h3>LF</h3></div>
        </div>
        <div class="job-items-container">
            <div class="job-item-name">
                <h4>1.5 in. Lead Pipe</h4></div>
            <div class="job-item-input">
                <input type="tel" name="qtyInput" ng-model="Ctrl.params.LPIPE1">
            </div>
            <div class="job-item-unit">
                <h3>Each</h3></div>
        </div>
        <div class="job-items-container">
            <div class="job-item-name">
                <h4>2 in. Lead Pipe</h4></div>
            <div class="job-item-input">
                <input type="tel" name="qtyInput" ng-model="Ctrl.params.LPIPE2">
            </div>
            <div class="job-item-unit">
                <h3>Each</h3></div>
        </div>
        <div class="job-items-container">
            <div class="job-item-name">
                <h4>3 in. Lead Pipe</h4></div>
            <div class="job-item-input">
                <input type="tel" name="qtyInput" ng-model="Ctrl.params.LPIPE3">
            </div>
            <div class="job-item-unit">
                <h3>Each</h3></div>
        </div>
        <div class="job-items-container">
            <div class="job-item-name">
                <h4>4 in. Lead Pipe</h4></div>
            <div class="job-item-input">
                <input type="tel" name="qtyInput" ng-model="Ctrl.params.LPIPE4">
            </div>
            <div class="job-item-unit">
                <h3>Each</h3></div>
        </div>
    </div>
    <div>
        <div class="job-items-container">
            <div class="job-item-name">
                <h4>8 in. Vents</h4></div>
            <div class="job-item-input">
                <input type="tel" name="qtyInput" ng-model="Ctrl.params.JKVNT8">
            </div>
            <div class="job-item-unit">
                <h3>Each</h3></div>
        </div>
        <div class="job-items-container">
            <div class="job-item-name">
                <h4>8 X 8 Flashing</h4></div>
            <div class="job-item-input">
                <input type="tel" name="qtyInput" ng-model="Ctrl.params.FLHSH8">
            </div>
            <div class="job-item-unit">
                <h3>LF</h3></div>
        </div>
        <div class="job-items-container">
            <div class="job-item-name">
                <h4>Turbines</h4></div>
            <div class="job-item-input">
                <input type="tel" name="qtyInput" ng-model="Ctrl.params.TURBNS">
            </div>
            <div class="job-item-unit">
                <h3>Each</h3></div>
        </div>
        <div class="job-items-container">
            <div class="job-item-name">
                <h4>Power Vents</h4></div>
            <div class="job-item-input">
                <input type="tel" name="qtyInput" ng-model="Ctrl.params.PWRVNT">
            </div>
            <div class="job-item-unit">
                <h3>Each</h3></div>
        </div>
        <div class="job-items-container">
            <div class="job-item-name">
                <h4>Air Hawks</h4></div>
            <div class="job-item-input">
                <input type="tel" name="qtyInput" ng-model="Ctrl.params.AIRHWK">
            </div>
            <div class="job-item-unit">
                <h3>Each</h3></div>
        </div>
       
        <div class="job-items-container">
            <div class="job-item-name">
                <h4>Carport</h4></div>
            <div class="job-item-input">
               <div class="check-radio-container" style="margin-bottom:10px;">
                    <input type="checkbox" id="carCB" ng-model="Ctrl.params.CARPRT"></input>
                    <label for="carCB"><span></span></label>
                </div>
            </div>
            <div class="job-item-unit">
                <h3>Each</h3></div>
        </div>
        <div class="job-items-container">
            <div class="job-item-name">
                <h4>Satellite</h4></div>
            <div class="job-item-input">
                <div class="check-radio-container" style="margin-bottom:10px;">
                    <input type="checkbox" id="satCB" ng-model="Ctrl.params.SATDSH"></input>
                    <label for="satCB"><span></span></label>
                </div>
            </div>
            <div class="job-item-unit">
                <h3>Each</h3></div>
        </div>
        <div class="job-items-container">
            <div class="job-item-name">
                <h4>Paint</h4></div>
            <div class="job-item-input">
                <input type="tel" name="qtyInput" ng-model="Ctrl.params.PAINT">
            </div>
            <div class="job-item-unit">
                <h3>Qts.</h3></div>
        </div>
        <div class="job-items-container">
            <div class="job-item-name">
                <h4>Caulk</h4></div>
            <div class="job-item-input">
                <input type="tel" name="qtyInput" ng-model="Ctrl.params.CAULK">
            </div>
            <div class="job-item-unit">
                <h3>Tubes</h3></div>
        </div>
        <div class="job-items-container">
            <button type="button" ng-click="Ctrl.submitParams()">Submit</button>
        </div>
    </div>
</div>
