<div class="page" ng-controller="ApprovalCtrl as CTRL">
    
    <div class="page-title"><h2>Work Proposal</h2></div>
    <div class="section-header">
        <h2>Proposal For</h2>
    </div>
    <div class="block-section-width text-block-display">
        <div class="flex-space-between">
            <div>
                <h4>Client/Owner</h4>
                <h3>{{CTRL.C.idObj.displayName}}</h3>
                <h3>{{CTRL.C.idObj.street}}</h3>
                <h3>{{CTRL.C.idObj.city + ", " + CTRL.C.idObj.state + " " + CTRL.C.idObj.zip}}</h3>
                <h3>{{CTRL.C.idObj.phone_cell}}</h3>
                <h3>{{CTRL.C.idObj.email}}</h3>
            </div>
            <div>
                
            </div>
            <div>
                <h4>Property</h4>
                <h3>{{CTRL.C.propertyObj.name}}</h3>
                <h3>{{CTRL.C.propertyObj.street}}</h3>
                <h3>{{CTRL.C.propertyObj.city + ", " + CTRL.C.propertyObj.state + " " + CTRL.C.propertyObj.zip}}</h3>
            </div>
        </div>
    </div>
    <div class="section-header">
        <h2>Existing Roof Assembly</h2>
    </div>
    <div class="block-section-width text-block-display">
        <ol>
            <li>Roof Type:</li>
            <li>Deck Type:</li>
            <li>Edge Detail:</li>
            <li>Valley Detail:</li>
            <li>Ridge Detail:</li>
            <li>Ventilation Detail:</li>
        </ol>
    </div>

    <div class="section-header">
        <h2>Scope of Proposal</h2>
    </div>

    <div class="block-section-width text-block-display">
        <h4>Field Shingles</h4>
        <a href="http://www.gaf.com/Roofing/Residential/Products/Shingles/Timberline"><h3>GAF Timberline</h3></a>
       
    </div>

    <div class="section-header">
        <h2>Options</h2>
    </div>

    <div class="block-section-width text-block-display">
        <h4>Field Shingles</h4>
        <a href="http://www.gaf.com/Roofing/Residential/Products/Shingles/Specialty"><h3>GAF Speciality</h3></a>
       
        <p></p>

    </div>

    <div class="section-header">
        <h2>Cost Estimate</h2>
    </div>

    <div class="block-section-width text-block-display">
        <h4>Materials and Labor</h4>
    </div>

    <div class="section-header">
        <h2>Agreement Terms</h2>
    </div>

    <div class="block-section-width text-block-display">
        
    </div>

    <div class="section-header">
        <h2>Acceptance of Contract</h2>
    </div>

    <div class="block-section-width text-block-display">
        
    </div>
</div>