<div class="top" ng-controller="AdminSalesClientsCtrl as Ctrl">
    <div class="title-with-btn">
        <i ng-click="Ctrl.backToHome();" class="fa fa-arrow-circle-left fa-3x"></i>
        <h2>Clients</h2>
    </div>
    <div id='cssmenu' ng-controller="TabbedMenuCtrl">
        <ul>
            <li ng-class="{ active: Ctrl.EditMode
 == 'Add Client'}" ng-click="Ctrl.addItem()"><a>Add Client</a></li>
            <li ng-class="{ active: Ctrl.EditMode == 'Update Client'}" ng-click="Ctrl.updateItem()"><a>Update Client</a></li>
            <li ng-class="{ active: Ctrl.EditMode == 'Remove Client'}" ng-click="Ctrl.removeItem()"><a>Remove Client</a></li>
        </ul>
    </div>
    
    <div class="text-input-form-item-min">
        <h2>{{Ctrl.modePrompt}}</h2>
        <select ng-model="Ctrl.selectedClient" ng-options="c.displayName for c in Ctrl.clientsDP" ng-change="Ctrl.selectClient();" ng-hide="Ctrl.EditMode=='Add Client'"></select>
    </div>
    <horiz-rule margintop="5" marginbottom="10"></horiz-rule>
   
    <div class="text-input-form-item">
        <label>Sales Rep</label>
        <select ng-model="Ctrl.selectedSalesRep" ng-options="c.displayName for c in Ctrl.S.salesReps" ng-change="Ctrl.formChange();"></select>
    </div>
    <div class="flex-row">
        <div style="width:50%">
            <div class="text-input-form-item">
                <label>First Name</label>
                <input type="text" ng-model="Ctrl.inputDataObj.name_first" ng-change="Ctrl.formChange();">
            </div>
            <div class="text-input-form-item">
                <label>Last Name</label>
                <input type="text" ng-model="Ctrl.inputDataObj.name_last" ng-change="Ctrl.formChange();">
            </div>
            <div class="text-input-form-item">
                <label>Company</label>
                <input type="text" ng-model="Ctrl.inputDataObj.company" ng-change="Ctrl.formChange();">
            </div>
            <div class="text-input-form-item">
                <label>Street</label>
                <input type="text" ng-model="Ctrl.inputDataObj.street" ng-change="Ctrl.formChange();">
            </div>
            <div class="text-input-form-item">
                <label>City</label>
                <input type="text" ng-model="Ctrl.inputDataObj.city">
            </div>
        </div>
        <div style="width:50%">
            <div class="text-input-form-item">
                <label>State</label>
                <input type="text" ng-model="Ctrl.inputDataObj.state" ng-change="Ctrl.formChange();">
            </div>
            <div class="text-input-form-item">
                <label>Zip</label>
                <input type="text" ng-model="Ctrl.inputDataObj.zip" ng-change="Ctrl.formChange();">
            </div>
            <div class="text-input-form-item">
                <label>Phone</label>
                <input type="text" ng-model="Ctrl.inputDataObj.phone_cell" ng-change="Ctrl.formChange();">
            </div>
            <div class="text-input-form-item">
                <label>Business Phone</label>
                <input type="text" ng-model="Ctrl.inputDataObj.phone_bus" ng-change="Ctrl.formChange();">
            </div>
            <div class="text-input-form-item">
                <label>Email</label>
                <input type="text" ng-model="Ctrl.inputDataObj.email" ng-change="Ctrl.formChange();">
            </div>
        </div>
    </div>
    <button type="button" class="button radius" ng-click="Ctrl.submit()" style="margin-top: 1rem; width:100%;"><h3>{{Ctrl.EditMode}}</h3></button>
    <div class="tiny-text">Form Status: {{Ctrl.formStatus}}</div>
    <horiz-rule margintop="15" marginbottom="15"></horiz-rule>
   
</div>
