
    <div class="top ez-form" ng-controller="NewClientOrgCtrl as Ctrl">
        <div class="ez-form-item" ng-show="Ctrl.inputField=='companyName'">
            <h3>Name of Business / Organization</h3>
            <input type="text" ng-model="Ctrl.inputModelObj.companyName" placeholder="name"/>
            <div class="page-nav">
                <div class="page-nav-left">
                    <i ng-click="Ctrl.goStart()" class="fa fa-arrow-circle-left fa-3x"></i>
                </div>
                <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">
                    {{Ctrl.inputMsg}}
                </div>
                <div class="page-nav-right">
                    <i ng-click="Ctrl.submit_companyName();" class="fa fa-arrow-circle-right fa-3x"></i>
                </div>
            </div>
        </div>
        <div class="ez-form-item" ng-show="Ctrl.inputField=='companyStreet'">
            <h3>Street Address</h3>
            <input type="text" ng-model="Ctrl.inputModelObj.companyStreet" placeholder="street"/>
            <div class="page-nav">
                <div class="page-nav-left">
                    <i ng-click="Ctrl.goPrevious('companyName')" class="fa fa-arrow-circle-left fa-3x"></i>
                </div>
                <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">
                    {{Ctrl.inputMsg}}
                </div>
                <div class="page-nav-right">
                    <i ng-click="Ctrl.submit_companyStreet();" class="fa fa-arrow-circle-right fa-3x"></i>
                </div>
            </div>
        </div>
        <div class="ez-form-item" ng-show="Ctrl.inputField=='companyCity'">
            <h3>City</h3>
            <input name="T3" type="text" ng-model="Ctrl.inputModelObj.companyCity" placeholder="city"/>
            <div class="page-nav">
                <div class="page-nav-left">
                    <i ng-click="Ctrl.goPrevious('companyStreet')" class="fa fa-arrow-circle-left fa-3x"></i>
                </div>
                <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">
                    {{Ctrl.inputMsg}}
                </div>
                <div class="page-nav-right">
                    <i ng-click="Ctrl.submit_companyCity();" class="fa fa-arrow-circle-right fa-3x"></i>
                </div>
            </div>
        </div>
        <div class="ez-form-item" ng-show="Ctrl.inputField=='companyState'">
            <h3>State</h3>
            <input type="text" ng-model="Ctrl.inputModelObj.companyState" placeholder="state"/>
            <div class="page-nav">
                <div class="page-nav-left">
                    <i ng-click="Ctrl.goPrevious('companyCity')" class="fa fa-arrow-circle-left fa-3x"></i>
                </div>
                <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">
                    {{Ctrl.inputMsg}}
                </div>
                <div class="page-nav-right">
                    <i ng-click="Ctrl.submit_companyState();" class="fa fa-arrow-circle-right fa-3x"></i>
                </div>
            </div>
        </div>
        <div class="ez-form-item" ng-show="Ctrl.inputField=='companyZip'">
            <h3>Zip</h3>
            <input type="tel" ng-model="Ctrl.inputModelObj.companyZip" placeholder="zip"/>
            <div class="page-nav">
                <div class="page-nav-left">
                    <i ng-click="Ctrl.goPrevious('companyState')" class="fa fa-arrow-circle-left fa-3x"></i>
                </div>
                <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">
                    {{Ctrl.inputMsg}}
                </div>
                <div class="page-nav-right">
                    <i ng-click="Ctrl.submit_companyZip();" class="fa fa-arrow-circle-right fa-3x"></i>
                </div>
            </div>
        </div>
        <div class="ez-form-item" ng-show="Ctrl.inputField=='companyPhone'">
            <h3>Business Phone</h3>
            <input type="tel" ng-model="Ctrl.inputModelObj.companyPhone" placeholder="phone"/>
            <div class="page-nav">
                <div class="page-nav-left">
                    <i ng-click="Ctrl.goPrevious('companyzip')" class="fa fa-arrow-circle-left fa-3x"></i>
                </div>
                <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">
                    {{Ctrl.inputMsg}}
                </div>
                <div class="page-nav-right">
                    <i ng-click="Ctrl.submit_companyPhone();" class="fa fa-arrow-circle-right fa-3x"></i>
                </div>
            </div>
        </div>
        <div class="ez-form-item" ng-show="Ctrl.inputField=='contactFirstName'">
            <h3>Your Contact at the Organization - First Name</h3>
            <input type="text" ng-model="Ctrl.inputModelObj.contactFirstName" placeholder="first name" />
            <div class="page-nav">
                <div class="page-nav-left">
                    <i ng-click="Ctrl.goPrevious('companyPhone')" class="fa fa-arrow-circle-left fa-3x"></i>
                </div>
                <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">
                    {{Ctrl.inputMsg}}
                </div>
                <div class="page-nav-right">
                    <i ng-click="Ctrl.submit_contactFirstName();" class="fa fa-arrow-circle-right fa-3x"></i>
                </div>
            </div>
        </div>
        <div class="ez-form-item" ng-show="Ctrl.inputField=='contactLastName'">
            <h3>Last Name</h3>
            <input name="T8" type="text" ng-model="Ctrl.inputModelObj.contactLastName"  placeholder="last name"/>
            <div class="page-nav">
                <div class="page-nav-left">
                    <i ng-click="Ctrl.goPrevious('contactFirstName')" class="fa fa-arrow-circle-left fa-3x"></i>
                </div>
                <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">
                    {{Ctrl.inputMsg}}
                </div>
                <div class="page-nav-right">
                    <i ng-click="Ctrl.submit_contactLastName();" class="fa fa-arrow-circle-right fa-3x"></i>
                </div>
            </div>
        </div>
        <div class="ez-form-item" ng-show="Ctrl.inputField=='contactCell'">
            <h3>Cell Phone</h3>
            <input type="tel" ng-model="Ctrl.inputModelObj.contactCell" placeholder="phone"/>
            <div class="page-nav">
                <div class="page-nav-left">
                    <i ng-click="Ctrl.goPrevious('contactLastName')" class="fa fa-arrow-circle-left fa-3x"></i>
                </div>
                <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">
                    {{Ctrl.inputMsg}}
                </div>
                <div class="page-nav-right">
                    <i ng-click="Ctrl.submit_contactCell();" class="fa fa-arrow-circle-right fa-3x"></i>
                </div>
            </div>
        </div>
        <div class="ez-form-item" ng-show="Ctrl.inputField=='contactEmail'">
            <h3>Email</h3>
            <input type="email" ng-model="Ctrl.inputModelObj.contactEmail" placeholder="email"/>
            <div class="page-nav">
                <div class="page-nav-left">
                    <i ng-click="Ctrl.goPrevious('contactCell')" class="fa fa-arrow-circle-left fa-3x"></i>
                </div>
                <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">
                    {{Ctrl.inputMsg}}
                </div>
                <div class="page-nav-right">
                    <i ng-click="Ctrl.submitT_contactEmail();" class="fa fa-arrow-circle-right fa-3x"></i>
                </div>
            </div>
        </div>
        <div class="ez-form-item" ng-show="Ctrl.inputField=='SUBMIT'">
            <h2>Review your new client information below and click Submit to finalize, or use the back arrow to make changes.</h2>
            
            <div class="page-nav">
                <div class="page-nav-left">
                    <i ng-click="Ctrl.goPrevious('contactEmail')" class="fa fa-arrow-circle-left fa-3x"></i>
                </div>
                <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">
                    {{Ctrl.inputMsg}}
                </div>
                <div class="page-nav-right">
                    <button type="button" ng-click="Ctrl.submitForm()">
                        Submit
                    </button>
                </div>
            </div>
        </div>
        <div class="ez-form-item" ng-show="Ctrl.inputField == 'SUCCESS'">
            <h3>Success!</h3>
            <p>{{Ctrl.inputModelObj.companyName}} has been added as a client.</p>
        </div>
        <div class="ez-form-item" ng-show="Ctrl.inputField == 'ERROR'">
            <h3>Oops!  An error occured saving the data.</h3>
            <p>Try again later or click below to reset and try again now.</p>
            <button type="button" ng-click="Ctrl.clearForm()">Reset</button>
        </div>
   
    <div class="ez-form">
        <div id="liveReview" class="review-section">
            <div class="text-block-display">
                <h4 style="margin-bottom:.5rem;">Business:</h4>
                <h3>Name: {{Ctrl.inputModelObj.companyName}}</h3>
                <h3>Street: {{Ctrl.inputModelObj.companyStreet}}</h3>
                <h3>City: {{Ctrl.inputModelObj.companyCity}}</h3>
                <h3>State: {{Ctrl.inputModelObj.companyState}}</h3>
                <h3>Zip: {{Ctrl.inputModelObj.companyZip}}</h3>
                <h3>Bus Phone: {{Ctrl.inputModelObj.companyPhone}}</h3>
            </div>
            <div class="text-block-display" style="margin-left:3rem;">
                <h4 style="margin-bottom:.5rem;">Contact Information:</h4>
                <h3>First: {{Ctrl.inputModelObj.contactFirstName}}</h3>
                <h3>Last: {{Ctrl.inputModelObj.contactLastName}}</h3>
                <h3>Cell Phone: {{Ctrl.inputModelObj.contactCell}}</h3>
                <h3>Email: {{Ctrl.inputModelObj.contactEmail}}</h3>
            </div>
        </div>
    </div>

 </div>