<div class="top page" ng-controller="ClientsCtrl as Ctrl">
    <div class="page-title-bar">
        <button type="button" class="button inactive">CLIENTS</button>
        <button ng-click="Ctrl.goProperties()" type="button" class="button middle">PROPERTIES</button>
        <button ng-click="Ctrl.goJobs()" type="button" class="button">JOBS</button>
    </div>
    <horiz-rule margintop="5px" marginbottom="10px"></horiz-rule>
    <div ui-view>
        <div class="top-page-menu">
            <div><i ng-click="Ctrl.goNewClient();" class="fa fa-plus fa-2x"></i></div>
            <div>
                <h3>New Client</h3></div>
        </div>
        <div class="client-list-container">
            <div client-item id="{{e.PRIMARY_ID}}" company="{{e.displayName}}" details="Ctrl.showDetails" contact="{{e.name_first + ' ' + e.name_last}}" ng-repeat="e in Ctrl.clients">
            </div>
        </div>
        <horiz-rule margintop="5" marginbottom="5"></horiz-rule>
        <div class="help-icon"><i ng-click="Ctrl.showHelp = !Ctrl.showHelp;" class="fa fa-question-circle"></i></div>
        <div class="block-section" style="margin-top:20px;" ng-show="Ctrl.showHelp">
            <div class="text-block-display large">
                <p>Every Job begins with a <span class="bold">Client</span>. This may be an individual, such as a the home owner; or a company, such as a real estate developer or property manager.</p>
                <p>Click the <span class="bold">New Client</span> button in the menu bar add a client.</p>
                <p>Click the <span class="bold">Pencil Icon</span> button at the end of each listing to view the Client Details or to make edits.</p>
            </div>
        </div>
    </div>
</div>
<add-space heightpx="600"></add-space>