<div class="page" ng-controller="ClientsCtrl as Ctrl">
    <div class="page-title-bar"><h2>Clients</h2></div>
    <div ui-view>
        <div id="jobs-table-container">
            <button ng-click="Ctrl.getManagerJobs()" type="button" class="button">Refresh List</button>
            <div class="jobs-table">
                <div>
                    <table st-table="Ctrl.clients" class="table table-striped">
                        <thead>
                            <tr>
                                <th id="tbl-width-70">Details</th>
                                <th id="tbl-width-190">Company</th>
                                <th id="tbl-width-190">Contact</th>
                                <th id="tbl-width-100">Mobile</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in Ctrl.clients">
                                <td><button ng-click="Ctrl.editClient($index)" type="button" class="button tbl-btn">Show</button></td>
                                <td>{{row.company}}</td>
                                <td>{{row.name_first + " " + row.name_last}}</td>
                                <td>{{row.phone_cell}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>