<div ng-controller="NewClientCtrl as Ctrl" class="page">
    <div class="page-title-bar"><h2>Add New Client</h2></div>
    <div class="mobile-input">
        <div class="mobile-input-item" ng-show="Ctrl.inputField == 'T1'">
            <h3>Company</h3>
            <input name="T1" type="text" ng-model="Ctrl.T1"/>
            <div class="page-nav">
                <div class="page-nav-left">
                </div>
                <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">{{Ctrl.inputMsg}}</div>
                <div class="page-nav-right">
                    <i ng-click="Ctrl.submitT1();" class="fa fa-arrow-circle-right fa-3x"></i>
                </div>
            </div>
        </div>
        <div class="mobile-input-item" ng-show="Ctrl.inputField == 'T2'">
            <h3>Contact First Name</h3>
            <input name="T2" type="text" ng-model="Ctrl.T2"/>
            <div class="page-nav">
                <div class="page-nav-left">
                    <i ng-click="Ctrl.inputField='T1'" class="fa fa-arrow-circle-left fa-3x"></i>
                </div>
                <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">{{Ctrl.inputMsg}}</div>
                <div class="page-nav-right">
                    <i ng-click="Ctrl.submitT2();" class="fa fa-arrow-circle-right fa-3x"></i>
                </div>
            </div>
        </div>
        <div class="mobile-input-item" ng-show="Ctrl.inputField == 'T3'">
            <h3>Contact Last Name</h3>
            <input name="T3" type="text" ng-model="Ctrl.T3"/>
            <div class="page-nav">
                <div class="page-nav-left">
                    <i ng-click="Ctrl.inputField='T2'" class="fa fa-arrow-circle-left fa-3x"></i>
                </div>
                <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">{{Ctrl.inputMsg}}</div>
                <div class="page-nav-right">
                    <i ng-click="Ctrl.submitT3();" class="fa fa-arrow-circle-right fa-3x"></i>
                </div>
            </div>
        </div>
        <div class="mobile-input-item" ng-show="Ctrl.inputField == 'T4'">
            <h3>Street Address</h3>
            <input name="T4" type="text" ng-model="Ctrl.T4"/>
            <div class="page-nav">
                <div class="page-nav-left">
                    <i ng-click="Ctrl.inputField='T3'" class="fa fa-arrow-circle-left fa-3x"></i>
                </div>
                <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">{{Ctrl.inputMsg}}</div>
                <div class="page-nav-right">
                    <i ng-click="Ctrl.submitT4();" class="fa fa-arrow-circle-right fa-3x"></i>
                </div>
            </div>
        </div>
        <div class="mobile-input-item" ng-show="Ctrl.inputField == 'T5'">
            <h3>City</h3>
            <input name="T5" type="text" ng-model="Ctrl.T5"/>
            <div class="page-nav">
                <div class="page-nav-left">
                    <i ng-click="Ctrl.inputField='T4'" class="fa fa-arrow-circle-left fa-3x"></i>
                </div>
                <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">{{Ctrl.inputMsg}}</div>
                <div class="page-nav-right">
                    <i ng-click="Ctrl.submitT5();" class="fa fa-arrow-circle-right fa-3x"></i>
                </div>
            </div>
        </div>
        <div class="mobile-input-item" ng-show="Ctrl.inputField == 'T6'">
            <h3>State</h3>
            <input name="T6" type="text" ng-model="Ctrl.T6"/>
            <div class="page-nav">
                <div class="page-nav-left">
                    <i ng-click="Ctrl.inputField='T5'" class="fa fa-arrow-circle-left fa-3x"></i>
                </div>
                <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">{{Ctrl.inputMsg}}</div>
                <div class="page-nav-right">
                    <i ng-click="Ctrl.submitT6();" class="fa fa-arrow-circle-right fa-3x"></i>
                </div>
            </div>
        </div>
        <div class="mobile-input-item" ng-show="Ctrl.inputField == 'T7'">
            <h3>Zip</h3>
            <input name="T7" type="tel" ng-model="Ctrl.T7"/>
            <div class="page-nav">
                <div class="page-nav-left">
                    <i ng-click="Ctrl.inputField='T6'" class="fa fa-arrow-circle-left fa-3x"></i>
                </div>
                <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">{{Ctrl.inputMsg}}</div>
                <div class="page-nav-right">
                    <i ng-click="Ctrl.submitT7();" class="fa fa-arrow-circle-right fa-3x"></i>
                </div>
            </div>
        </div>
        <div class="mobile-input-item" ng-show="Ctrl.inputField == 'T8'">
            <h3>Contact's Mobile Phone</h3>
            <input name="T8" type="tel" ng-model="Ctrl.T8"/>
            <div class="page-nav">
                <div class="page-nav-left">
                    <i ng-click="Ctrl.inputField='T7'" class="fa fa-arrow-circle-left fa-3x"></i>
                </div>
                <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">{{Ctrl.inputMsg}}</div>
                <div class="page-nav-right">
                    <i ng-click="Ctrl.submitT8();" class="fa fa-arrow-circle-right fa-3x"></i>
                </div>
            </div>
        </div>
        <div class="mobile-input-item" ng-show="Ctrl.inputField == 'T9'">
            <h3>Company Phone</h3>
            <input name="T9" type="tel" ng-model="Ctrl.T9"/>
            <div class="page-nav">
                <div class="page-nav-left">
                    <i ng-click="Ctrl.inputField='T8'" class="fa fa-arrow-circle-left fa-3x"></i>
                </div>
                <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">{{Ctrl.inputMsg}}</div>
                <div class="page-nav-right">
                    <i ng-click="Ctrl.submitT9();" class="fa fa-arrow-circle-right fa-3x"></i>
                </div>
            </div>
        </div>
        <div class="mobile-input-item" ng-show="Ctrl.inputField == 'T10'">
            <h3>Contact's Email</h3>
            <input name="T10" type="email" ng-model="Ctrl.T10"/>
            <div class="page-nav">
                <div class="page-nav-left">
                    <i ng-click="Ctrl.inputField='T9'" class="fa fa-arrow-circle-left fa-3x"></i>
                </div>
                <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">{{Ctrl.inputMsg}}</div>
                <div class="page-nav-right">
                    <i ng-click="Ctrl.submitT10();" class="fa fa-arrow-circle-right fa-3x"></i>
                </div>
            </div>
        </div>
        <div class="mobile-input-item" ng-show="Ctrl.inputField == 'SUBMIT'">
            <h3>Review and Submit</h3>
            <div class="text-block-display">
                <h4>Company Information:</h4>
                <h3>{{Ctrl.T1}}</h3>
                <h3>{{Ctrl.T4}}</h3>
                <h3>{{Ctrl.T5 + ", " + Ctrl.T6 + " " + Ctrl.T7}}</h3>
                <h4>Contact Information:</h4>
                <h3>{{Ctrl.T2 + " " + Ctrl.T3}}</h3>
                <h3>Cell: {{Ctrl.T8}}</h3>
                <h3>Bus: {{Ctrl.T9}}</h3>
                <h3>Email: {{Ctrl.T10}}</h3>
            </div>
            <div class="page-nav">
                <div class="page-nav-left">
                    <i ng-click="Ctrl.inputField='T10'" class="fa fa-arrow-circle-left fa-3x"></i>
                </div>
                <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">{{Ctrl.inputMsg}}</div>
                <div class="page-nav-right">
                    <button type="button" ng-click="Ctrl.submitForm()">Submit</button>
                </div>
            </div>
        </div>
        <div class="mobile-input-item" ng-show="Ctrl.inputField == 'SUCCESS'">
            <h3>Success!</h3>
            <p>{{Ctrl.T1}} has been added as a client.</p>
        </div>

        <div class="mobile-input-item" ng-show="Ctrl.inputField == 'ERROR'">
            <h3>Oops!  An error occured saving the data.</h3>
            <p>Try again later or click below to reset and try again now.</p>
            <button type="button" ng-click="Ctrl.clearForm()">Reset</button>
        </div>
    </div>
</div>