<div ng-controller="NewClientViewCtrl as Ctrl" class="page">
    <div class="page-title-bar">
        <button type="button" class="button inactive">CLIENTS</button>
        <button ng-click="Ctrl.goProperties()" type="button" class="button middle">PROPERTIES</button>
        <button ng-click="Ctrl.goJobs()" type="button" class="button">JOBS</button>
    </div>
   <div ui-view>
        <h2>New Client</h2>
        <div class="ez-form-item">
            <h3>
                Is this client an individual homeowner or an organization?
            </h3>
            <div class="radio-btns">
                <div>
                    <label>
                       <input type="radio" name="Rad1" id="radio1A" value="Individual" class="custom-radio" ng-model="Ctrl.ClientType"/>
                        Individual
                    </label>
                </div>
                
                <div>
                    <label>
                       <input type="radio" name="Rad1" id="radio1B" value="Organization" class="custom-radio" ng-model="Ctrl.ClientType"/>
                        Organization
                    </label>
                </div>
            </div>

            <div class="page-nav">
                <div class="page-nav-left">
                    
                </div>
                <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">
                    {{Ctrl.inputMsg}}
                </div>
                <div class="page-nav-right">
                    <i ng-click="Ctrl.submitClientType();" class="fa fa-arrow-circle-right fa-3x"></i>
                </div>
            </div>
        </div>
    </div>   
</div>
