<div class="title-with-btn">
    <i ng-click="Ctrl.backToList();" class="fa fa-arrow-circle-left fa-3x"></i>
    <h2>Client Details</h2>
</div>

<div class="top section-header">
    <h2>Name/Address</h2>
</div>
<div class="text-block-display" ng-show="Ctrl.selectedClientObj.type=='Business'">
    <h4>{{Ctrl.selectedClientObj.company}}</h4>
    <h3>{{Ctrl.selectedClientObj.street}}</h3>
    <h3>{{Ctrl.selectedClientObj.city + ", " + Ctrl.selectedClientObj.state + " " + Ctrl.selectedClientObj.zip}}</h3>
    <h4 style="margin-top:.5em;">Contact Information:</h4>
    <h3>{{Ctrl.selectedClientObj.name_first + " " + Ctrl.selectedClientObj.name_last}}</h3>
    <h3>{{Ctrl.selectedClientObj.phone_cell}}</h3>
    <h3>{{Ctrl.selectedClientObj.email}}</h3>
</div>

<div class="text-block-display" ng-show="Ctrl.selectedClientObj.type=='Individual'">
    <h4>{{Ctrl.selectedClientObj.displayName}}</h4>
    <h3>{{Ctrl.selectedClientObj.street}}</h3>
    <h3>{{Ctrl.selectedClientObj.city + ", " + Ctrl.selectedClientObj.state + " " + Ctrl.selectedClientObj.zip}}</h3>
    <h3>{{Ctrl.selectedClientObj.phone_cell}}</h3>
    <h3>{{Ctrl.selectedClientObj.email}}</h3>
</div>

<div class="top section-header">
    <h2>Properties</h2>
</div>

<div style="width:100%; margin-top: 10px;">
    <table st-table="Ctrl.clientPropreties" class="table table-striped" style="width:100%;">
        <thead>
            <tr>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in Ctrl.roofDescriptions">
                <td>{{row.street}}</td>
                <td>{{row.city}}</td>
                <td>{{row.state}}</td>
            </tr>
        </tbody>
    </table>
</div>


