<!doctype html>
<html lang="en">

<head>
    <title>Evolution</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="cache-control" content="no-cache, must-revalidate, post-check=0, pre-check=0">
    <meta http-equiv="pragma" content="no-cache">
    <!--Dependencies; AngularJS etc.-->
    <script src="bundle.js?v=1"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,600' rel='stylesheet' type='text/css' />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700italic' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Jaldi:400,700' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/ngDialog.min.css" />
    <link rel="stylesheet" href="css/ngDialog-theme-default.min.css" />
    <link rel="stylesheet" href="css/ngDialog-theme-alert.css" />
    <script src="https://plus.google.com/js/client:platform.js" async defer></script>
    <link rel="stylesheet" href="css/app.css?v=5" />
    <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>

<body ng-app="AdminApp">
    <div id="site-wrapper" ng-controller="NavCtrl as Ctrl">
        <div class="header-light" role="banner">
            <div class="headerLogo" ng-click="Ctrl.goSplash();">
                <img src="img/evo-logo-black.png" alt="">
            </div>
            <div></div>
            <div class="header-right" ng-click="Ctrl.goReference();">
                <img src="img/GetEducatedIcon.png" alt="">
            </div>
        </div>
        <div>
            <div ui-view class="view-container"></div>
        </div>
        <!-- #site-canvas -->
    </div>
    <!--APP-->
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.0.0-rc1.min.js"></script>
    <script src="adminApp.js?v=3"></script>
    <!--Global Services-->
    <!--<script src="js/lodash.js?v=3"></script>-->
    <script src="js/jobConfig.srvc.js?v=3"></script>
    <script src="js/AWSService.js?v=3"></script>
    <script src="js/data.srvc.js?v=3"></script>
    <script src="js/login.srvc.js?v=3"></script>
    <script src="js/inventory.srvc.js?v=3"></script>
    <script src="js/shared.srvc.js?v=3"></script>
    <script src="js/jobConfig.srvc.js?v=3"></script>
    <script src="shared/list.srvc.js?v=3"></script>
    
    <!--Admin-->
    <script src="views/admin/adminData.srvc.js?v=2"></script>
    <script src="views/admin/services/jobData.srvc.js?v=2"></script>
    <script src="views/admin/adminShared.srvc.js?v=2"></script>
    <script src="views/admin/admin.ctrl.js?v=2"></script>
    <script src="views/admin/purchaseItem.dir.js?v=1"></script>
    <!--Jobs Review-->
    <script src="views/admin/proposal/adminProposal.ctrl.js?v=2"></script>
    <script src="views/admin/proposal/adminProposal-input.ctrl.js?v=2"></script>
    <script src="views/admin/proposal/adminProposal-pricing.ctrl.js?v=2"></script>
    <script src="views/admin/reviews/prospects/adminProspect.ctrl.js?v=2"></script>
    <script src="views/admin/reviews/active/adminActive.ctrl.js?v=2"></script>
    <script src="views/admin/reviews/contracts/adminContract.ctrl.js?v=2"></script>
    <script src="views/admin/reviews/complete/adminComplete.ctrl.js?v=2"></script>

    <!--Sales-->
    <script src="views/admin/sales/clients/adminSalesClients.ctrl.js?v=2"></script>
    <script src="views/admin/sales/properties/adminSalesProperties.ctrl.js?v=2"></script>
    <script src="views/admin/sales/jobs/adminSalesJobs.ctrl.js?v=2"></script>

     <!--Inventory-->
    <script src="views/admin/inventory/pitched-roof-inventory.ctrl.js?v=1"></script>

    <!--Controllers-->
    <script src="views/login/admin-login.ctrl.js?v=3"></script>
    <script src="js/tabbedMenu.ctrl.js?v=3"></script>
    <script src="views/nav.ctrl.js?v=1"></script>
    <!--Inventory-->
    <script src="views/inventory/inventory.ctrl.js?v=1"></script>
    <!--Directives-->
    <script src="js/directives/hrule.dir.js?v=1"></script>
    <script src="js/directives/space.dir.js?v=1"></script>
</body>

</html>
