<div class="top page" ng-controller="AdminProposalCtrl as Ctrl">
    <div class="title-with-btn">
        <i ng-click="Ctrl.backToHome()" class="fa fa-arrow-circle-left fa-3x"></i>
        <h2>Proposal Review</h2>
    </div>
    <div>
        <select ng-model="Ctrl.selectedProposal" ng-options="c.label for c in Ctrl.selectDataProvider" ng-change="Ctrl.selectProposal()" style="width:48%"></select>
    </div>
    <add-space heightpx="10"></add-space>
    <div ng-hide="Ctrl.roofSelectionsDP==null">
        <select ng-model="Ctrl.selectedProposalRoof" ng-options="c.label for c in Ctrl.roofSelectionsDP" ng-change="Ctrl.selectRoof()" style="width:48%" 
        ng-disabled="Ctrl.roofSelectionsDP==null"></select>
    </div>
    <div>
        <h2>Sales Rep: {{Ctrl.proposalData.salesRep}}</h2>
        <p class="tinyFont">Job ID: {{Ctrl.proposalData.jobID}}, Property ID: {{Ctrl.proposalData.propertyID}}, Client ID: {{Ctrl.proposalData.clientID}}</p>
    </div>
    <div id='cssmenu' ng-controller="TabbedMenuCtrl">
        <ul>
            <li ng-class="{ active: isCurrentPath('/admin/proposal-review/input')}"><a ui-sref='admin.proposalsReview.input'>Input</a></li>
            <li ng-class="{ active: isCurrentPath('/admin/proposal-review/design')}"><a ui-sref='admin.proposalsReview.design'>Design</a></li>
            <li ng-class="{ active: isCurrentPath('/admin/proposal-review/materials')}"><a ui-sref='admin.proposalsReview.materials'>Materials</a></li>
            <li ng-class="{ active: isCurrentPath('/admin/proposal-review/labor')}"><a ui-sref='admin.proposalsReview.labor'>Labor</a></li>
            <li ng-class="{ active: isCurrentPath('/admin/proposal-review/summary')}"><a ui-sref='admin.proposalsReview.summary'>Summary</a></li>
        </ul>
    </div>
    <div ui-view></div>
    <div style="height:3rem;"></div>
</div>
