<div class="top page" ng-controller="AdminProposalCtrl as Ctrl">
    <div class="title-with-btn">
        <i ng-click="Ctrl.backToHome()" class="fa fa-arrow-circle-left fa-3x"></i>
        <h2>Proposal Review</h2>
    </div>
    <div>
        <select ng-model="Ctrl.selectedProposal" ng-options="c.label for c in Ctrl.selectDataProvider" ng-change="Ctrl.selectProposal()" style="width:50%" ;></select>
    </div>
    <div>
        <h2>Sales Rep: {{Ctrl.salesRep}}</h2>
    </div>
    <div id='cssmenu' ng-controller="TabbedMenuCtrl">
        <ul>
            <li ng-class="{ active: isCurrentPath('/admin/proposal-review/input')}"><a ui-sref='admin.proposalsReview.input'>Input</a></li>
            <li ng-class="{ active: isCurrentPath('/admin/proposal-review/pricing')}"><a ui-sref='admin.proposalsReview.pricing'>Pricing</a></li>
            <li ng-class="{ active: isCurrentPath('/admin/proposal-review/supplies')}"><a ui-sref='admin.proposalsReview.supplies'>Supplies</a></li>
        </ul>
    </div>
    <div ui-view></div>
    <div style="height:3rem;"></div>
</div>