<div class="top page" ng-controller="AdminPropPricing as ChildCtrl">
    <div class="standardParagraph">
        <p>The <span class="bold">Quantities</span> listed here are derived from the values shown on the 'Input' tab.</p>
        <p>The <span class="bold">Include</span> column should be adjusted to reflect the client options and choices. </p>
        <p><span class="hilite">IMPORTANT!</span> This screen will always reflect the default selections and current pricing until it is Saved.</p>
    </div>
    <horiz-rule margintop="5" marginbottom="5"></horiz-rule>
    <div style="margin-top: .5rem;">
        <h2>Grand Total: {{ChildCtrl.GrandTotal | currency:"$":2}}</h2>
    </div>
    <div>
        <button type="button" class="button radius" ng-click="ChildCtrl.saveJobConfig()">Save</button>
    </div>
    <div class="section-header">
        <h2>Field Shingles</h2>
    </div>
    <div>
        <table st-table="ChildCtrl.propertyInputParams" class="table table-striped" style="width:100%;">
            <thead>
                <tr>
                	<th>Include</th>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Unit</th>
                    <th>Qty</th>
                    <td>Pkg</td>
                    <td>Margin</td>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in ChildCtrl.materialPricingDP.Field">
                    <td>
						<div class="check-radio-container">
							<input type="checkbox" id="{{row.Sort}}" ng-model="row.Checked" ng-change="ChildCtrl.toggleCheckBox()"></input>
							<label for="{{row.Sort}}"><span></span></label>
						</div>
                    </td>
                    <td>{{row.Item}}</td>
                    <td>{{row.PkgPrice | currency:"$":2}}</td>
                    <td>{{row.UnitPkg}}</td>
                    <td>{{row.Qty}}</td>
                    <td>{{row.QtyPkg}}</td>
                    <td>{{row.Margin}}</td>
                    <td>{{row.Total | currency:"$":2}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="pricingCategoryTotal">
    	<h2>Total Field Shingles: {{ChildCtrl.ShinglesFieldTotal | currency:"$":2}}</h2>
    </div>

    <div class="section-header">
        <h2>Ridges</h2>
    </div>
    <div>
        <table st-table="ChildCtrl.propertyInputParams" class="table table-striped" style="width:100%;">
            <thead>
                <tr>
                    <th>Include</th>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Unit</th>
                    <th>Qty</th>
                    <td>Pkg</td>
                    <td>Margin</td>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in ChildCtrl.materialPricingDP.Ridge">
                    <td>
                        <div class="check-radio-container">
                            <input type="checkbox" id="{{row.Sort}}" ng-model="row.Checked" ng-change="ChildCtrl.toggleCheckBox()"></input>
                            <label for="{{row.Sort}}"><span></span></label>
                        </div>
                    </td>
                    <td>{{row.Item}}</td>
                    <td>{{row.PkgPrice | currency:"$":2}}</td>
                    <td>{{row.UnitPkg}}</td>
                    <td>{{row.Qty}}</td>
                    <td>{{row.QtyPkg}}</td>
                    <td>{{row.Margin}}</td>
                    <td>{{row.Total | currency:"$":2}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="pricingCategoryTotal">
        <h2>Total Ridge: {{ChildCtrl.ShinglesRidgeTotal | currency:"$":2}}</h2>
    </div>

    <div class="section-header">
        <h2>Ventilation</h2>
    </div>

    <div>
        <table st-table="ChildCtrl.propertyInputParams" class="table table-striped" style="width:100%;">
            <thead>
                <tr>
                	<th>Include</th>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Unit</th>
                    <th>Qty</th>
                    <td>Pkg</td>
                    <td>Margin</td>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr  ng-repeat="row in ChildCtrl.materialPricingDP.Vents">
                    <td>
						<div class="check-radio-container">
							<input type="checkbox" id="{{row.Sort}}" ng-model="row.Checked" ng-change="ChildCtrl.toggleCheckBox()"></input>
							<label for="{{row.Sort}}"><span></span></label>
						</div>
                    </td>
                    <td>{{row.Item}}</td>
                    <td>{{row.PkgPrice | currency:"$":2}}</td>
                    <td>{{row.UnitPkg}}</td>
                    <td>{{row.Qty}}</td>
                    <td>{{row.QtyPkg}}</td>
                    <td>{{row.Margin}}</td>
                    <td>{{row.Total | currency:"$":2}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="pricingCategoryTotal">
    	<h2>Total Ventilation: {{ChildCtrl.VentsTotal | currency:"$":2}}</h2>
    </div>
    <div class="section-header">
        <h2>Edge and Flashing</h2>
    </div>
    <div>
        <table st-table="ChildCtrl.propertyInputParams" class="table table-striped" style="width:100%;">
            <thead>
                <tr>
                	<th>Include</th>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Unit</th>
                    <th>Qty</th>
                    <td>Pkg</td>
                    <td>Margin</td>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr  ng-repeat="row in ChildCtrl.materialPricingDP.Flashing">
                    <td>
						<div class="check-radio-container">
							<input type="checkbox" id="{{row.Sort}}" ng-model="row.Checked" ng-change="ChildCtrl.toggleCheckBox()"></input>
							<label for="{{row.Sort}}"><span></span></label>
						</div>
                    </td>
                    <td>{{row.Item}}</td>
                    <td>{{row.PkgPrice | currency:"$":2}}</td>
                    <td>{{row.UnitPkg}}</td>
                    <td>{{row.Qty}}</td>
                    <td>{{row.QtyPkg}}</td>
                    <td>{{row.Margin}}</td>
                    <td>{{row.Total | currency:"$":2}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="pricingCategoryTotal">
    	<h2>Total Edge and Flashing: {{ChildCtrl.FlashingTotal | currency:"$":2}}</h2>
    </div>
    <div class="section-header">
        <h2>Roof Caps and Other Accessories</h2>
    </div>
    <div>
        <table st-table="ChildCtrl.propertyInputParams" class="table table-striped" style="width:100%;">
            <thead>
                <tr>
                	<th>Include</th>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Unit</th>
                    <th>Qty</th>
                    <td>Pkg</td>
                    <td>Margin</td>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr  ng-repeat="row in ChildCtrl.materialPricingDP.Caps">
                    <td>
						<div class="check-radio-container">
							<input type="checkbox" id="{{row.Sort}}" ng-model="row.Checked" ng-change="ChildCtrl.toggleCheckBox()"></input>
							<label for="{{row.Sort}}"><span></span></label>
						</div>
                    </td>
                    <td>{{row.Item}}</td>
                    <td>{{row.PkgPrice | currency:"$":2}}</td>
                    <td>{{row.UnitPkg}}</td>
                    <td>{{row.Qty}}</td>
                    <td>{{row.QtyPkg}}</td>
                    <td>{{row.Margin}}</td>
                    <td>{{row.Total | currency:"$":2}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="pricingCategoryTotal">
    	<h2>Total Roof Caps: {{ChildCtrl.CapsTotal | currency:"$":2}}</h2>
    </div>
    <div class="section-header">
        <h2>Low Slope</h2>
    </div>
    <div>
        <table st-table="ChildCtrl.propertyInputParams" class="table table-striped" style="width:100%;">
            <thead>
                <tr>
                	<th>Include</th>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Unit</th>
                    <th>Qty</th>
                    <td>Pkg</td>
                    <td>Margin</td>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr  ng-repeat="row in ChildCtrl.materialPricingDP.Flat">
                    <td>
						<div class="check-radio-container">
							<input type="checkbox" id="{{row.Sort}}" ng-model="row.Checked" ng-change="ChildCtrl.toggleCheckBox()"></input>
							<label for="{{row.Sort}}"><span></span></label>
						</div>
                    </td>
                    <td>{{row.Item}}</td>
                    <td>{{row.PkgPrice | currency:"$":2}}</td>
                    <td>{{row.UnitPkg}}</td>
                    <td>{{row.Qty}}</td>
                    <td>{{row.QtyPkg}}</td>
                    <td>{{row.Margin}}</td>
                    <td>{{row.Total | currency:"$":2}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="pricingCategoryTotal">
    	<h2>Total Flat: {{ChildCtrl.FlatTotal | currency:"$":2}}</h2>
    </div>
    <div class="section-header">
        <h2>Other Supplies</h2>
    </div>
    <div>
        <table st-table="ChildCtrl.propertyInputParams" class="table table-striped" style="width:100%;">
            <thead>
                <tr>
                	<th>Include</th>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Unit</th>
                    <th>Qty</th>
                    <td>Pkg</td>
                    <td>Margin</td>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr  ng-repeat="row in ChildCtrl.materialPricingDP.Other">
                    <td>
						<div class="check-radio-container">
							<input type="checkbox" id="{{row.Sort}}" ng-model="row.Checked" ng-change="ChildCtrl.toggleCheckBox()"></input>
							<label for="{{row.Sort}}"><span></span></label>
						</div>
                    </td>
                    <td>{{row.Item}}</td>
                    <td>{{row.PkgPrice | currency:"$":2}}</td>
                    <td>{{row.Unit}}</td>
                    <td>{{row.Qty}}</td>
                    <td>{{row.QtyPkg}}</td>
                    <td>{{row.Margin}}</td>
                    <td>{{row.Total | currency:"$":2}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="pricingCategoryTotal">
    	<h2>Total Other: {{ChildCtrl.OtherTotal | currency:"$":2}}</h2>
    </div>
    <div class="section-header">
        <h2>Labor</h2>
    </div>
</div>
