<div ng-controller="AdminPropPricing as ChildCtrl">
    <div style="margin-top: .5rem;">
        <h2>Grand Total: {{ChildCtrl.GrandTotal | currency:"$":2}}</h2>
    </div>
    <div class="section-header">
        <h2>Shingles</h2>
    </div>
    <div>
        <table st-table="ChildCtrl.propertyInputParams" class="table table-striped" style="width:100%;">
            <thead>
                <tr>
                	<th>Include</th>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Unit</th>
                    <th>Qty</th>
                    <td>Pkg</td>
                    <td>Margin</td>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in ChildCtrl.materialPricingDP.Shingles">
                    <td>
						<div class="check-radio-container">
							<input type="checkbox" id="{{row.Sort}}" ng-model="row.Default" ng-change="ChildCtrl.toggleCheckBox()"></input>
							<label for="{{row.Sort}}"><span></span></label>
						</div>
                    </td>
                    <td>{{row.Item}}</td>
                    <td>{{row.PkgPrice | currency:"$":2}}</td>
                    <td>{{row.UnitPkg}}</td>
                    <td>{{row.Qty}}</td>
                    <td>{{row.QtyPkg}}</td>
                    <td>{{row.Margin}}</td>
                    <td>{{row.Total | currency:"$":2}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="pricingCategoryTotal">
    	<h2>Total Shingles: {{ChildCtrl.ShingleTotal | currency:"$":2}}</h2>
    </div>

    <div class="section-header">
        <h2>Ventilation</h2>
    </div>

    <div>
        <table st-table="ChildCtrl.propertyInputParams" class="table table-striped" style="width:100%;">
            <thead>
                <tr>
                	<th>Include</th>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Unit</th>
                    <th>Qty</th>
                    <td>Pkg</td>
                    <td>Margin</td>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr  ng-repeat="row in ChildCtrl.materialPricingDP.Vents">
                    <td>
						<div class="check-radio-container">
							<input type="checkbox" id="{{row.Sort}}" ng-model="row.Default" ng-change="ChildCtrl.toggleCheckBox()"></input>
							<label for="{{row.Sort}}"><span></span></label>
						</div>
                    </td>
                    <td>{{row.Item}}</td>
                    <td>{{row.PkgPrice | currency:"$":2}}</td>
                    <td>{{row.UnitPkg}}</td>
                    <td>{{row.Qty}}</td>
                    <td>{{row.QtyPkg}}</td>
                    <td>{{row.Margin}}</td>
                    <td>{{row.Total | currency:"$":2}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="pricingCategoryTotal">
    	<h2>Total Ventilation: {{ChildCtrl.VentsTotal | currency:"$":2}}</h2>
    </div>
    <div class="section-header">
        <h2>Edge and Flashing</h2>
    </div>
    <div>
        <table st-table="ChildCtrl.propertyInputParams" class="table table-striped" style="width:100%;">
            <thead>
                <tr>
                	<th>Include</th>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Unit</th>
                    <th>Qty</th>
                    <td>Pkg</td>
                    <td>Margin</td>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr  ng-repeat="row in ChildCtrl.materialPricingDP.Edge">
                    <td>
						<div class="check-radio-container">
							<input type="checkbox" id="{{row.Sort}}" ng-model="row.Default" ng-change="ChildCtrl.toggleCheckBox()"></input>
							<label for="{{row.Sort}}"><span></span></label>
						</div>
                    </td>
                    <td>{{row.Item}}</td>
                    <td>{{row.PkgPrice | currency:"$":2}}</td>
                    <td>{{row.UnitPkg}}</td>
                    <td>{{row.Qty}}</td>
                    <td>{{row.QtyPkg}}</td>
                    <td>{{row.Margin}}</td>
                    <td>{{row.Total | currency:"$":2}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="pricingCategoryTotal">
    	<h2>Total Edge: {{ChildCtrl.EdgeTotal | currency:"$":2}}</h2>
    </div>
    <div class="section-header">
        <h2>Roof Caps and Other Accessories</h2>
    </div>
    <div>
        <table st-table="ChildCtrl.propertyInputParams" class="table table-striped" style="width:100%;">
            <thead>
                <tr>
                	<th>Include</th>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Unit</th>
                    <th>Qty</th>
                    <td>Pkg</td>
                    <td>Margin</td>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr  ng-repeat="row in ChildCtrl.materialPricingDP.Caps">
                    <td>
						<div class="check-radio-container">
							<input type="checkbox" id="{{row.Sort}}" ng-model="row.Default" ng-change="ChildCtrl.toggleCheckBox()"></input>
							<label for="{{row.Sort}}"><span></span></label>
						</div>
                    </td>
                    <td>{{row.Item}}</td>
                    <td>{{row.PkgPrice | currency:"$":2}}</td>
                    <td>{{row.UnitPkg}}</td>
                    <td>{{row.Qty}}</td>
                    <td>{{row.QtyPkg}}</td>
                    <td>{{row.Margin}}</td>
                    <td>{{row.Total | currency:"$":2}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="pricingCategoryTotal">
    	<h2>Total Roof Caps: {{ChildCtrl.CapsTotal | currency:"$":2}}</h2>
    </div>
    <div class="section-header">
        <h2>Low Slope</h2>
    </div>
    <div>
        <table st-table="ChildCtrl.propertyInputParams" class="table table-striped" style="width:100%;">
            <thead>
                <tr>
                	<th>Include</th>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Unit</th>
                    <th>Qty</th>
                    <td>Pkg</td>
                    <td>Margin</td>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr  ng-repeat="row in ChildCtrl.materialPricingDP.Flat">
                    <td>
						<div class="check-radio-container">
							<input type="checkbox" id="{{row.Sort}}" ng-model="row.Default" ng-change="ChildCtrl.toggleCheckBox()"></input>
							<label for="{{row.Sort}}"><span></span></label>
						</div>
                    </td>
                    <td>{{row.Item}}</td>
                    <td>{{row.PkgPrice | currency:"$":2}}</td>
                    <td>{{row.UnitPkg}}</td>
                    <td>{{row.Qty}}</td>
                    <td>{{row.QtyPkg}}</td>
                    <td>{{row.Margin}}</td>
                    <td>{{row.Total | currency:"$":2}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="pricingCategoryTotal">
    	<h2>Total Flat: {{ChildCtrl.FlatTotal | currency:"$":2}}</h2>
    </div>
    <div class="section-header">
        <h2>Other Supplies</h2>
    </div>
    <div>
        <table st-table="ChildCtrl.propertyInputParams" class="table table-striped" style="width:100%;">
            <thead>
                <tr>
                	<th>Include</th>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Unit</th>
                    <th>Qty</th>
                    <td>Pkg</td>
                    <td>Margin</td>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr  ng-repeat="row in ChildCtrl.materialPricingDP.Other">
                    <td>
						<div class="check-radio-container">
							<input type="checkbox" id="{{row.Sort}}" ng-model="row.Default" ng-change="ChildCtrl.toggleCheckBox()"></input>
							<label for="{{row.Sort}}"><span></span></label>
						</div>
                    </td>
                    <td>{{row.Item}}</td>
                    <td>{{row.PkgPrice | currency:"$":2}}</td>
                    <td>{{row.Unit}}</td>
                    <td>{{row.Qty}}</td>
                    <td>{{row.QtyPkg}}</td>
                    <td>{{row.Margin}}</td>
                    <td>{{row.Total | currency:"$":2}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="pricingCategoryTotal">
    	<h2>Total Other: {{ChildCtrl.OtherTotal | currency:"$":2}}</h2>
    </div>
    <div class="section-header">
        <h2>Labor</h2>
    </div>
</div>
