<div class="top page" ng-controller="AdminPropDesign as ChildCtrl">
    <div style="margin-top: .5rem;">
        <button type="button" class="button radius" style="width:100%;" ng-click="ChildCtrl.saveJobConfig()" ng-disabled="ChildCtrl.dataIsSaved">Save</button>
    </div>
    <div style="margin-top: .5rem;">
        <h2>Design Total: {{ChildCtrl.GrandTotal | currency:"$":2}}</h2>
    </div>
    <div class="section-header">
        <h2>Field Shingles</h2>
    </div>
    <div>
        <table st-table="ChildCtrl.propertyInputParams" class="table table-striped" style="width:100%;">
            <thead>
                <tr>
                    <th>Include</th>
                    <th>Item</th>
                    <th>Qty</th>
                    <th>Units</th>
                    <th>Price</th>
                    <th>Total</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in ChildCtrl.materialPricingDP.Field">
                    <td>
                        <div class="check-radio-container">
                            <input type="checkbox" id="{{row.Sort}}" ng-model="row.Checked" ng-change="ChildCtrl.toggleCheckBox()"></input>
                            <label for="{{row.Sort}}"><span></span></label>
                        </div>
                    </td>
                    <td>{{row.Item}}</td>
                    <td>{{row.Qty}} {{row.UnitPkg}}</td>
                    <td>{{row.PkgQty}} {{row.Package}}</td>
                    <td>{{row.PkgPrice | currency:"$":2}}</td>
                    <td>{{row.Total | currency:"$":2}}</td>
                    <td><i class="fa fa-pencil" ng-click="ChildCtrl.editRowItem(row,'Field')" style="cursor:pointer;"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="pricingCategoryTotal">
        <h2>Total Field Shingles: {{ChildCtrl.ShinglesFieldTotal | currency:"$":2}}</h2>
    </div>
    <div class="section-header">
        <h2>Starter Shingles</h2>
    </div>
    <div>
        <table st-table="ChildCtrl.propertyInputParams" class="table table-striped" style="width:100%;">
            <thead>
                <tr>
                    <th>Include</th>
                    <th>Item</th>
                    <th>Qty</th>
                    <th>Units</th>
                    <th>Price</th>
                    <th>Total</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in ChildCtrl.materialPricingDP.Starter">
                    <td>
                        <div class="check-radio-container">
                            <input type="checkbox" id="{{row.Sort}}" ng-model="row.Checked" ng-change="ChildCtrl.toggleCheckBox()"></input>
                            <label for="{{row.Sort}}"><span></span></label>
                        </div>
                    </td>
                    <td>{{row.Item}}</td>
                    <td>{{row.Qty}} {{row.UnitPkg}}</td>
                    <td>{{row.PkgQty}} {{row.Package}}</td>
                    <td>{{row.PkgPrice | currency:"$":2}}</td>
                    <td>{{row.Total | currency:"$":2}}</td>
                    <td><i class="fa fa-pencil" ng-click="ChildCtrl.editRowItem(row,'Starter')" style="cursor:pointer;"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="pricingCategoryTotal">
        <h2>Total Starter: {{ChildCtrl.ShinglesStarterTotal | currency:"$":2}}</h2>
    </div>
    <div class="section-header">
        <h2>Ridges</h2>
    </div>
    <div>
        <table st-table="ChildCtrl.materialPricingDP.Ridge" class="table table-striped" style="width:100%;">
            <thead>
                <tr>
                    <th>Include</th>
                    <th>Item</th>
                    <th>Qty</th>
                    <th>Units</th>
                    <th>Price</th>
                    <th>Total</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in ChildCtrl.materialPricingDP.Ridge">
                    <td>
                        <div class="check-radio-container">
                            <input type="checkbox" id="{{row.Sort}}" ng-model="row.Checked" ng-change="ChildCtrl.toggleCheckBox()"></input>
                            <label for="{{row.Sort}}"><span></span></label>
                        </div>
                    </td>
                    <td>{{row.Item}}</td>
                    <td>{{row.Qty}} {{row.UnitPkg}}</td>
                    <td>{{row.PkgQty}} {{row.Package}}</td>
                    <td>{{row.PkgPrice | currency:"$":2}}</td>
                    <td>{{row.Total | currency:"$":2}}</td>
                    <td><i class="fa fa-pencil" ng-click="ChildCtrl.editRowItem(row,'Ridge')" style="cursor:pointer;"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="pricingCategoryTotal">
        <h2>Total Ridge: {{ChildCtrl.ShinglesRidgeTotal | currency:"$":2}}</h2>
    </div>

    <div class="section-header">
        <h2>Edges</h2>
    </div>
    <div>
        <table st-table="ChildCtrl.materialPricingDP.Edge" class="table table-striped" style="width:100%;">
            <thead>
                <tr>
                    <th>Include</th>
                    <th>Item</th>
                    <th>Qty</th>
                    <th>Units</th>
                    <th>Price</th>
                    <th>Total</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in ChildCtrl.materialPricingDP.Edge">
                    <td>
                        <div class="check-radio-container">
                            <input type="checkbox" id="{{row.Sort}}" ng-model="row.Checked" ng-change="ChildCtrl.toggleCheckBox()"></input>
                            <label for="{{row.Sort}}"><span></span></label>
                        </div>
                    </td>
                    <td>{{row.Item}}</td>
                    <td>{{row.Qty}} {{row.UnitPkg}}</td>
                    <td>{{row.PkgQty}} {{row.Package}}</td>
                    <td>{{row.PkgPrice | currency:"$":2}}</td>
                    <td>{{row.Total | currency:"$":2}}</td>
                    <td><i class="fa fa-pencil" ng-click="ChildCtrl.editRowItem(row,'Edge')" style="cursor:pointer;"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="pricingCategoryTotal">
        <h2>Total Edge: {{ChildCtrl.ShinglesRidgeTotal | currency:"$":2}}</h2>
    </div>

    <div class="section-header">
        <h2>Valley</h2>
    </div>
    <div>
        <table st-table="ChildCtrl.materialPricingDP.Edge" class="table table-striped" style="width:100%;">
            <thead>
                <tr>
                    <th>Include</th>
                    <th>Item</th>
                    <th>Qty</th>
                    <th>Units</th>
                    <th>Price</th>
                    <th>Total</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in ChildCtrl.materialPricingDP.Valley">
                    <td>
                        <div class="check-radio-container">
                            <input type="checkbox" id="{{row.Sort}}" ng-model="row.Checked" ng-change="ChildCtrl.toggleCheckBox()"></input>
                            <label for="{{row.Sort}}"><span></span></label>
                        </div>
                    </td>
                    <td>{{row.Item}}</td>
                    <td>{{row.Qty}} {{row.UnitPkg}}</td>
                    <td>{{row.PkgQty}} {{row.Package}}</td>
                    <td>{{row.PkgPrice | currency:"$":2}}</td>
                    <td>{{row.Total | currency:"$":2}}</td>
                    <td><i class="fa fa-pencil" ng-click="ChildCtrl.editRowItem(row,'Valley')" style="cursor:pointer;"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="pricingCategoryTotal">
        <h2>Total Valley: {{ChildCtrl.ShinglesRidgeTotal | currency:"$":2}}</h2>
    </div>


    <div class="section-header">
        <h2>Ventilation</h2>
    </div>
    <div>
        <table st-table="ChildCtrl.propertyInputParams" class="table table-striped" style="width:100%;">
            <thead>
                <tr>
                    <th>Include</th>
                    <th>Item</th>
                    <th>Qty</th>
                    <th>Units</th>
                    <th>Price</th>
                    <th>Total</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in ChildCtrl.materialPricingDP.Vents">
                    <td>
                        <div class="check-radio-container">
                            <input type="checkbox" id="{{row.Sort}}" ng-model="row.Checked" ng-change="ChildCtrl.toggleCheckBox()"></input>
                            <label for="{{row.Sort}}"><span></span></label>
                        </div>
                    </td>
                    <td>{{row.Item}}</td>
                    <td>{{row.Qty}} {{row.UnitPkg}}</td>
                    <td>{{row.PkgQty}} {{row.Package}}</td>
                    <td>{{row.PkgPrice | currency:"$":2}}</td>
                    <td>{{row.Total | currency:"$":2}}</td>
                    <td><i class="fa fa-pencil" ng-click="ChildCtrl.editRowItem(row,'Vents')" style="cursor:pointer;"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="pricingCategoryTotal">
        <h2>Total Ventilation: {{ChildCtrl.VentsTotal | currency:"$":2}}</h2>
    </div>
    <div class="section-header">
        <h2>Edge and Flashing</h2>
    </div>
    <div>
        <table st-table="ChildCtrl.propertyInputParams" class="table table-striped" style="width:100%;">
            <thead>
                <tr>
                    <th>Include</th>
                    <th>Item</th>
                    <th>Qty</th>
                    <th>Units</th>
                    <th>Price</th>
                    <th>Total</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in ChildCtrl.materialPricingDP.Flashing">
                    <td>
                        <div class="check-radio-container">
                            <input type="checkbox" id="{{row.Sort}}" ng-model="row.Checked" ng-change="ChildCtrl.toggleCheckBox()"></input>
                            <label for="{{row.Sort}}"><span></span></label>
                        </div>
                    </td>
                    <td>{{row.Item}}</td>
                    <td>{{row.Qty}} {{row.UnitPkg}}</td>
                    <td>{{row.PkgQty}} {{row.Package}}</td>
                    <td>{{row.PkgPrice | currency:"$":2}}</td>
                    <td>{{row.Total | currency:"$":2}}</td>
                    <td><i class="fa fa-pencil" ng-click="ChildCtrl.editRowItem(row,'Flashing')" style="cursor:pointer;"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="pricingCategoryTotal">
        <h2>Total Edge and Flashing: {{ChildCtrl.FlashingTotal | currency:"$":2}}</h2>
    </div>
    <div class="section-header">
        <h2>Roof Caps and Other Accessories</h2>
    </div>
    <div>
        <table st-table="ChildCtrl.propertyInputParams" class="table table-striped" style="width:100%;">
            <thead>
                <tr>
                    <th>Include</th>
                    <th>Item</th>
                    <th>Qty</th>
                    <th>Units</th>
                    <th>Price</th>
                    <th>Total</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in ChildCtrl.materialPricingDP.Caps">
                    <td>
                        <div class="check-radio-container">
                            <input type="checkbox" id="{{row.Sort}}" ng-model="row.Checked" ng-change="ChildCtrl.toggleCheckBox()"></input>
                            <label for="{{row.Sort}}"><span></span></label>
                        </div>
                    </td>
                    <td>{{row.Item}}</td>
                    <td>{{row.Qty}} {{row.UnitPkg}}</td>
                    <td>{{row.PkgQty}} {{row.Package}}</td>
                    <td>{{row.PkgPrice | currency:"$":2}}</td>
                    <td>{{row.Total | currency:"$":2}}</td>
                    <td><i class="fa fa-pencil" ng-click="ChildCtrl.editRowItem(row,'Caps')" style="cursor:pointer;"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="pricingCategoryTotal">
        <h2>Total Roof Caps: {{ChildCtrl.CapsTotal | currency:"$":2}}</h2>
    </div>
    <div class="section-header">
        <h2>Low Slope</h2>
    </div>
    <div>
        <table st-table="ChildCtrl.propertyInputParams" class="table table-striped" style="width:100%;">
            <thead>
                <tr>
                    <th>Include</th>
                    <th>Item</th>
                    <th>Qty</th>
                    <th>Units</th>
                    <th>Price</th>
                    <th>Total</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in ChildCtrl.materialPricingDP.Flat">
                    <td>
                        <div class="check-radio-container">
                            <input type="checkbox" id="{{row.Sort}}" ng-model="row.Checked" ng-change="ChildCtrl.toggleCheckBox()"></input>
                            <label for="{{row.Sort}}"><span></span></label>
                        </div>
                    </td>
                    <td>{{row.Item}}</td>
                    <td>{{row.Qty}} {{row.UnitPkg}}</td>
                    <td>{{row.PkgQty}} {{row.Package}}</td>
                    <td>{{row.PkgPrice | currency:"$":2}}</td>
                    <td>{{row.Total | currency:"$":2}}</td>
                    <td><i class="fa fa-pencil" ng-click="ChildCtrl.editRowItem(row,'Flat')" style="cursor:pointer;"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="pricingCategoryTotal">
        <h2>Total Flat: {{ChildCtrl.FlatTotal | currency:"$":2}}</h2>
    </div>
    <div class="section-header">
        <h2>Other Supplies</h2>
    </div>
    <div>
        <table st-table="ChildCtrl.propertyInputParams" class="table table-striped" style="width:100%;">
            <thead>
                <tr>
                    <th>Include</th>
                    <th>Item</th>
                    <th>Qty</th>
                    <th>Units</th>
                    <th>Price</th>
                    <th>Total</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in ChildCtrl.materialPricingDP.Other">
                    <td>
                        <div class="check-radio-container">
                            <input type="checkbox" id="{{row.Sort}}" ng-model="row.Checked" ng-change="ChildCtrl.toggleCheckBox()"></input>
                            <label for="{{row.Sort}}"><span></span></label>
                        </div>
                    </td>
                    <td>{{row.Item}}</td>
                    <td>{{row.Qty}} {{row.UnitPkg}}</td>
                    <td>{{row.PkgQty}} {{row.Package}}</td>
                    <td>{{row.PkgPrice | currency:"$":2}}</td>
                    <td>{{row.Total | currency:"$":2}}</td>
                    <td><i class="fa fa-pencil" ng-click="ChildCtrl.editRowItem(row,'Other')" style="cursor:pointer;"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="pricingCategoryTotal">
        <h2>Total Other: {{ChildCtrl.OtherTotal | currency:"$":2}}</h2>
    </div>
    <horiz-rule margintop="10" marginbottom="10"></horiz-rule>
    <div class="standardParagraph">
        <p>The <span class="bold">Quantities</span> listed here are derived from the parameters shown on the 'Input' tab.</p>
        <p>The <span class="bold">Units</span> quantity includes overage of up to 5% on some items.</p>
        <p>Adjust the <span class="bold">Include</span> column to reflect the client options and choices. </p>
        <p><span class="hilite">IMPORTANT!</span> This screen will always reflect the default selections and current pricing until it is Saved.</p>
    </div>
</div>
