<div class="top page" ng-controller="AdminPropInput as ChildCtrl">
    <div class="section-header">
        <h2>Property Input Parameters</h2>
    </div>
    <div class="standardParagraph">
        <p>These values are derived from field observations and measurements in the Sales Rep - Job Proposal application.</p>
    </div>
    <div>
        <table st-table="ChildCtrl.propertyInputParams" class="table table-striped" style="width:100%;">
            <thead>
                <tr>
                    <th>Parameter</th>
                    <th>Count</th>
                    <th>Unit</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Field</td>
                    <td>{{ChildCtrl.propertyInputParams.FIELD}}</td>
                    <td>Sq</td>
                </tr>
                <tr>
                    <td>Top Ridge</td>
                    <td>{{ChildCtrl.propertyInputParams.TOPRDG}}</td>
                    <td>LF</td>
                </tr>
                <tr>
                    <td>Rake Ridge</td>
                    <td>{{ChildCtrl.propertyInputParams.RKERDG}}</td>
                    <td>LF</td>
                </tr>
                <tr>
                    <td>Rake Wall</td>
                    <td>{{ChildCtrl.propertyInputParams.RKEWALL}}</td>
                    <td>LF</td>
                </tr>
                <tr>
                    <td>Eave</td>
                    <td>{{ChildCtrl.propertyInputParams.EAVE}}</td>
                    <td>LF</td>
                </tr>
                <tr>
                    <td>Perimeter</td>
                    <td>{{ChildCtrl.propertyInputParams.PRMITR}}</td>
                    <td>LF</td>
                </tr>
                <tr>
                    <td>Valley</td>
                    <td>{{ChildCtrl.propertyInputParams.VALLEY}}</td>
                    <td>LF</td>
                </tr>
                <tr>
                    <td>1.5" Lead Pipe</td>
                    <td>{{ChildCtrl.propertyInputParams.LPIPE1}}</td>
                    <td>Each</td>
                </tr>
                <tr>
                    <td>2" Lead Pipe</td>
                    <td>{{ChildCtrl.propertyInputParams.LPIPE2}}</td>
                    <td>Each</td>
                </tr>
                <tr>
                    <td>3" Lead Pipe</td>
                    <td>{{ChildCtrl.propertyInputParams.LPIPE3}}</td>
                    <td>Each</td>
                </tr>
                <tr>
                    <td>4" Lead Pipe</td>
                    <td>{{ChildCtrl.propertyInputParams.LPIPE4}}</td>
                    <td>Each</td>
                </tr>
                <tr>
                    <td>8" Vents</td>
                    <td>{{ChildCtrl.propertyInputParams.VENT8}}</td>
                    <td>Each</td>
                </tr>
                <tr>
                    <td>Turbines</td>
                    <td>{{ChildCtrl.propertyInputParams.TURBNS}}</td>
                    <td>Each</td>
                </tr>
                <tr>
                    <td>Power Vents</td>
                    <td>{{ChildCtrl.propertyInputParams.PWRVNT}}</td>
                    <td>Each</td>
                </tr>
                <tr>
                    <td>Air Hawks</td>
                    <td>{{ChildCtrl.propertyInputParams.AIRHWK}}</td>
                    <td>Each</td>
                </tr>
                <tr>
                    <td>Low Slope</td>
                    <td>{{ChildCtrl.propertyInputParams.LOWSLP}}</td>
                    <td>Sq</td>
                </tr>
                <tr>
                    <td>Carport</td>
                    <td>{{ChildCtrl.propertyInputParams.CARPRT}}</td>
                    <td>Each</td>
                </tr>
                <tr>
                    <td>Satellite</td>
                    <td>{{ChildCtrl.propertyInputParams.LPIPE4}}</td>
                    <td>Each</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="section-header">
        <h2>Special Considerations</h2>
    </div>
    <div class="special-considerations">
        <textarea ng-model="ChildCtrl.specialConsiderations"></textarea>
    </div>
</div>
