<div class="top page" ng-controller="AdminPropSummary as ChildCtrl">
    <div style="margin-top: .5rem;">
        <button type="button" class="button radius" style="width:100%;" ng-click="ChildCtrl.saveMarginConfig()" ng-disabled="ChildCtrl.dataIsSaved">Save</button>
    </div>
    <div style="margin-top: .5rem;">
        <h2>Total Cost of Proposal: {{ChildCtrl.totalCost | currency:"$":2}}</h2>
    </div>
    <div>
        <table st-table="ChildCtrl.lsummaryItems;" class="table table-striped" style="width:100%;">
            <thead>
                <tr>
                    <th>Cost Item</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in ChildCtrl.summaryItems;">
                    <td>{{row.item}}</td>
                    <td>{{row.amount | currency:"$":2}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <ng-form name="numberForm">
        <div class="flex-row-start">
            <h2>Profit Margin</h2>
            <input name="number"  type="tel" ng-model="ChildCtrl.marginDisplay" ng-pattern="/^[0-9]{1,2}$/" 
            ng-change="ChildCtrl.marginChange()" style="width:30px;margin:0 5px;" ng-minlength="1" ng-maxlength="2">
            <h2>%</h2>
        </div>
        <span ng-show="numberForm.number.$error.pattern" style="color:red">Enter only number.</span>
        <span ng-show="numberForm.number.$error.maxlength" style="color:red">Enter less than 100.</span>
        <span ng-show="numberForm.number.$error.minlength" style="color:red">Enter greater than 10.</span>
    </ng-form>
    <add-space heightpx="600"></add-space>
</div>
