<div class="top page" ng-controller="AdminPropMaterials as ChildCtrl">
    <div class="standardParagraph">
        <h2>Design Total: {{ChildCtrl.suppliesTotal | currency:"$":2}}</h2>
        <p>The <span class="bold">Quantities</span> are adjusted for standard overage.</p>
    </div>
    <div>
        <table st-table="ChildCtrl.supplies" class="table table-striped" style="width:100%;">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Qty</th>
                    <th>Pkg</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in ChildCtrl.supplies">
                    <td>{{row.Item}}</td>
                    <td>{{row.PkgQty}} </td>
                    <td>{{row.Package}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <add-space heightpx="600"></add-space>
</div>
