<div class="ngDialogItemEdit">
    <h3>{{dialogLabel}}:</h3>
    <div class="label">Quantity</div>
    <input type="tel" ng-model="ngDialogData.Qty">
    <div class="label">Price</div>
    <input type="tel" ng-model="ngDialogData.Price">
</div>
<div class="ngdialog-buttons">
    <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm(ngDialogData)">Confirm</button>
    <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog('button')">Cancel</button>
</div>
