<div ng-controller="NewJobCtrl as Ctrl" class="page">
    <div class="page-title-bar"><h2>New Job</h2></div>
    <div class="mobile-input">
        
   
        <div class="mobile-input-item" ng-show="Ctrl.inputField == 'name'">
            <h3>Property</h3>
            <input name="T1" type="text" ng-model="Ctrl.T1"/>
            <div class="page-nav">
                <div class="page-nav-left">
                </div>
                <div></div>
                <div class="page-nav-right">
                    <i ng-click="Ctrl.inputField='street'" class="fa fa-arrow-circle-right fa-3x"></i>
                </div>
            </div>
        </div>

            <label>Property Name</label>
            <input data-ng-class="{error:A.T1.$invalid&&invalid}" name="T1" type="text" ng-model="Ctrl.T1" required/>
            <label>Street</label>
            <input  data-ng-class="{error:A.T2.$invalid&&invalid}" name="T2" type="text" ng-model="Ctrl.T2" required/>
            <label>City</label>
            <input  data-ng-class="{error:A.T3.$invalid&&invalid}" name="T3" type="text" ng-model="Ctrl.T3" required/>
            <label>State</label>
            <input  data-ng-class="{error:A.T4.$invalid&&invalid}" name="T4" type="text" ng-model="Ctrl.T4" required/>
            <label>Zip</label>
            <input  data-ng-class="{error:A.T5.$invalid&&invalid}" name="T5" type="text" ng-model="Ctrl.T5" required/>
            <label>Class</label>
            <select id="selectorS1" ng-model="Ctrl.S1" ng-options="c.label for c in Ctrl.optionsS1" required></select>
            <label>Roof Type</label>
    <select id="selectorS2" ng-model="Ctrl.S2" ng-options="c.label for c in Ctrl.optionsS2" required></select>
    <div ng-show="Ctrl.roofType == 'pitched'">
        <label>Existing Installation</label>
    <select id="selectorS3" ng-model="Ctrl.S3" ng-options="c.label for c in Ctrl.optionsS3" required></select>
    <label>Layers</label>
<select id="selectorS4" ng-model="Ctrl.S4" ng-options="c.label for c in Ctrl.optionsS4" required></select>
 </div>
  </div>
</div>


</div>