
<button type="button" class="button nav-btn" ng-click="Ctrl.backToList()">Back</button>

<div class="section-header">
    <h2>Client</h2>
</div>
<div class="text-block-display">
    <h4>{{Ctrl.selectedClientObj.company}}</h4>
    <h3>{{Ctrl.selectedClientObj.street}}</h3>
    <h3>{{Ctrl.selectedClientObj.city + ", " + Ctrl.selectedClientObj.state + " " + Ctrl.selectedClientObj.zip}}</h3>
    <h4>Contact Information:</h4>
    <h3>{{Ctrl.selectedClientObj.name_first + " " + Ctrl.selectedClientObj.name_last}}</h3>
    <h3>{{Ctrl.selectedClientObj.phone_cell}}</h3>
    <h3>{{Ctrl.selectedClientObj.email}}</h3>
</div>
<div class="spacerMed"></div>
<div class="section-header">
    <h2>Property</h2>
</div>
<div class="text-block-display">
    <h4>{{Ctrl.selectedPropertyObj.name}}</h4>
    <h3>{{Ctrl.selectedPropertyObj.street}}</h3>
    <h3>{{Ctrl.selectedPropertyObj.city + ", " + Ctrl.selectedPropertyObj.state + " " + Ctrl.selectedPropertyObj.zip}}</h3>
    <h3>Class: {{Ctrl.selectedPropertyObj.class}}</h3>
    <h3>Roof type: {{Ctrl.selectedPropertyObj.roof}}</h3>
    <h3>Layers: {{Ctrl.selectedPropertyObj.layers}}</h3>
    <h3>Description: {{Ctrl.selectedPropertyObj.description}}</h3>
</div>
<div class="spacerMed"></div>
<div class="section-header">
    <h2>Status</h2>
</div>
<div class="text-block-display">
<div class="status-container">
    <div class="status-item">
        <div class="status-item-title"><h4>PROSPECT</h4></div>
        <div class="status-item-date"><h3>{{Ctrl.selectedJobObj.dateProspect | date:'MM/dd/yyyy'}}</h3></div>
    </div>

    <div class="status-item">
        <div class="status-item-title"><h4>PROPOSAL</h4></div>
        <div class="status-item-date"><h3>{{Ctrl.selectedJobObj.dateProposal | date:'MM/dd/yyyy'}}</h3></div>
        <div class="status-item-update"><a ui-sref="job.proposal" class="button">Update</a></div>
    </div>

    <div class="status-item">
        <div class="status-item-title"><h4>CONTRACT</h4></div>
        <div class="status-item-date"><h3>{{Ctrl.selectedJobObj.dateContract | date:'MM/dd/yyyy'}}</h3></div>
        <div class="status-update"><a ui-sref="job.contract" class="button">Update</a></div>
    </div>

    <div class="status-item">
        <div class="status-item-title"><h4>ACTIVE</h4></div>
        <div class="status-item-date"><h3>{{Ctrl.selectedJobObj.dateActive | date:'MM/dd/yyyy'}}</h3></div>
        <div class="status-update"><a ui-sref="job.contract" class="button">Update</a></div>
    </div>

    <div class="status-item">
        <div class="status-item-title"><h4>COMPLETE</h4></div>
        <div class="status-item-date"><h3>{{Ctrl.selectedJobObj.dateComplete | date:'MM/dd/yyyy'}}</h3></div>
        <div class="status-update"><a ui-sref="job.contract" class="button">Update</a></div>
    </div>
</div>
</div>
<button type="button" class="button nav-btn" ng-click="Ctrl.backToList()">Back</button>
<div class="spacerMed"></div>