<div ng-controller="NewJobCtrl as Ctrl" class="top page">
    <div class="page-title-bar" ng-controller="NavCtrl as NAV">
        <button ng-click="NAV.goClients()" type="button" class="button">CLIENTS</button>
        <button ng-click="NAV.goProperties()" type="button" class="button middle">PROPERTIES</button>
        <button ng-click="NAV.goJobs()" type="button" class="button inactive">JOBS</button>
    </div>
    <h2>New Job</h2>
    <horiz-rule margintop="5px" marginbottom="10px"></horiz-rule>
    <div class="ez-form">
        <div class="ez-form-item" ng-show="Ctrl.inputField=='INFO'">
            <add-space margintop="10"></add-space>
            <div class="text-block-display">
                <h4>What is a Job?</h4>
                <p>A job simply consists of one of your <a ui-sref="clients"><span class="bold">Clients</span></a> matched with one your <a ui-sref="properties"><span class="bold">Properties.</span></a></p>
                <p>Before creating a new <span class="bold">Job</span>, you should already have the <span class="bold">Client</span> and the <span class="bold">Property</span> created.</p>
                <add-space margintop="12" marginbottom="0"></add-space>
            </div>
            <div class="flex-row-start">
                <div>
                    <button type="button" ng-click="Ctrl.inputField='S1'">Continue</button>
                </div>
            </div>
        </div>
        <div class="ez-form-item" ng-show="Ctrl.inputField=='S1'">
            <div class="input-label">
                <div>
                    <h3>Select the Client for this Job</h3>
                </div>
            </div>
            <select ng-model="Ctrl.S1" ng-options="c.displayName for c in Ctrl.clientList" ng-change="Ctrl.filterProperties();">
            </select>
            <div class="page-nav">
                <div class="page-nav-left">
                     <i ng-click="Ctrl.goPrevious('S1')" class="fa fa-arrow-circle-left fa-3x"></i>
                </div>
                <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">
                    {{Ctrl.inputMsg}}
                </div>
                <div class="page-nav-right">
                    <i ng-click="Ctrl.selectClient();" class="fa fa-arrow-circle-right fa-3x">
                    </i>
                </div>
            </div>
        </div>
        <div class="ez-form-item" ng-show="Ctrl.inputField=='S2'">
            <div class="input-label">
                <div>
                    <h3>Select the Property for this Job</h3></div>
            </div>
            <select ng-model="Ctrl.S2" ng-options="c.name for c in Ctrl.propertyOptions" ng-change="Ctrl.selectProperty();">
            </select>
            <div class="page-nav">
                <div class="page-nav-left">
                    <i ng-click="Ctrl.goPrevious('S2')" class="fa fa-arrow-circle-left fa-3x"></i>
                </div>
                <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">
                    {{Ctrl.inputMsg}}
                </div>
                <div class="page-nav-right">
                    <i ng-click="Ctrl.submitProperty();" class="fa fa-arrow-circle-right fa-3x">
                    </i>
                </div>
            </div>
        </div>
        <div class="ez-form-item" ng-show="Ctrl.inputField=='S3'">
            <div class="input-label">
                <div>
                    <h3>This is a multi-unit property. Select the building for this job.</h3></div>
            </div>
            <select ng-model="Ctrl.S3" ng-options="c.name for c in Ctrl.propertyRoofs" ng-change="Ctrl.selectRoof();">
            </select>
            <div class="page-nav">
                <div class="page-nav-left">
                    <i ng-click="Ctrl.goPrevious('S3')" class="fa fa-arrow-circle-left fa-3x"></i>
                </div>
                <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">
                    {{Ctrl.inputMsg}}
                </div>
                <div class="page-nav-right">
                    <i ng-click="Ctrl.submitS3();" class="fa fa-arrow-circle-right fa-3x">
                    </i>
                </div>
            </div>
        </div>
        <div class="ez-form-item" ng-show="Ctrl.inputField == 'REVIEW'">
            <h3>Review and Submit</h3>
            <div class="text-block-display">
                <h4>Client:</h4>
                <h3>{{Ctrl.S1.displayName}}</h3>
                <h4>Property:</h4>
                <h3>{{Ctrl.S2.name}}</h3>
                <h4>Building:</h4>
                <h3>{{Ctrl.S3.name}}</h3>
                <h4>Status:</h4>
                <h3>{{Ctrl.status}}</h3>
            </div>
            <div class="page-nav">
                <div class="page-nav-left">
                    <i ng-click="Ctrl.goPrevious('Review')" class="fa fa-arrow-circle-left fa-3x"></i>
                </div>
                <div ng-class="Ctrl.isError ? 'input-error' : 'input-msg'">{{Ctrl.inputMsg}}</div>
                <div class="page-nav-right">
                    <button type="button" ng-click="Ctrl.submitForm()">Submit</button>
                </div>
            </div>
        </div>
        <div class="ez-form-item" ng-show="Ctrl.inputField == 'SUCCESS'">
            <h3>Success!</h3>
            <p><span class="bold">{{Ctrl.S2.name}}</span> has been added as a job prospect for <span class="bold">{{Ctrl.S1.displayName}}</span>.</p>
            <button type="button" ng-click="Ctrl.goJobs()">Finish</button>
        </div>
        <div class="ez-form-item" ng-show="Ctrl.inputField == 'SUCCESS-MultiUnit'">
            <h3>Success!</h3>
            <p><span class="bold">{{Ctrl.S3.name}}</span> has been added as a job prospect at <span class="bold">{{Ctrl.S2.name}}</span> for <span class="bold">{{Ctrl.S1.displayName}}</span>.</p>
            <button type="button" ng-click="Ctrl.resetForm()">Add Another Job</button>
            <button type="button" ng-click="Ctrl.goJobs()">Done</button>
        </div>
        <div class="ez-form-item" ng-show="Ctrl.inputField == 'ERROR'">
            <h3>Oops!  An error occured saving the data.</h3>
            <p>Try again later or click below to reset and try again now.</p>
            <button type="button" ng-click="Ctrl.clearForm()">Reset</button>
        </div>
    </div>
</div>
