<div ng-controller="JobsCtrl as Ctrl" class="page">
    <div class="page-title-bar"><h2>Jobs Summary</h2></div>
    <div ui-view>
        <div class="page-nav">
            <button ng-click="Ctrl.getManagerJobs()" type="button" class="button">Refresh List</button>
            <div></div>
            <button ng-click="Ctrl.goNewJob()" type="button" class="button">New Job</button>
        </div>
        <horiz-rule margintop="2px" marginbottom="2px"></horiz-rule>
        <div class="list-container">
            <div job-item id="{{e.PRIMARY_ID}}" status="{{e.status}}" details="Ctrl.showDetails"
                property="{{e.propertyName}}" ng-repeat="e in Ctrl.jobs"></div> 
        </div>
    </div>
</div>