<div class="flex-center">
    <div class="login-status">
        <h4 style="width:100%; text-align: center;">Logged in as {{displayName}}</h4>
        <div class="flex-space-between" ng-show="continueFlag">
            <button type="button" class="button" style="width:100px; margin-right:1em;" ng-click="continueBtn()">Continue</button>
            <div>
            </div>
            <button type="button" class="button" style="width:100px;" ng-click="logOut()">Log Out</button>
        </div>
        <div ng-hide="continueFlag">
            <h4>Retrieving data...</h4>
        </div>
        <p style="width:100%; text-align: center;">Please contact your Sales Representative if your name is not {{displayName}}.</p>
    </div>
</div>
