<div class="top page">
    
        <div class="page-title">
            <h2>Scope of Work Proposal Application</h2>
        </div>

        <div class="flex-center" ng-hide="requestSuccess">
            <google-plus-signin clientid="694848371691-06c5a0e6s0988o8e5voq09s7anml5hlt.apps.googleusercontent.com"></google-plus-signin>
        </div>
        
       
        <div class="flex-center" ng-show="requestSuccess">
            <div class="login-status">
                <h4>Logged in as {{displayName}}</h4>
                <div>
                    <button type="button" class="button" style="width:100px; margin-right:1em;" ng-click="continueBtn()">Continue</button>
                    <button type="button" class="button" style="width:100px;" ng-click="logOut()">Log Out</button>
                </div>
            </div>
        </div>
        <div ng-show="!dataRefreshed && requestSuccess">
            <label>Retrieving data...</label>
        </div>
   
</div>
