<div class="top page" ng-controller="ReviewCtrl as CTRL">
    <div class="page-title">
        <h2>Work Proposal</h2>
    </div>
    <div class="section-header-client">
        <h2>A. Proposal For:</h2>
    </div>
    <div class="block-section-width text-block-display" style="padding-right: 2rem;">
        <div class="flex-space-between">
            <div>
                <h4>Client/Owner</h4>
                <h3>{{CTRL.C.clientObj.displayName}}</h3>
                <h3>{{CTRL.C.clientObj.street}}</h3>
                <h3>{{CTRL.C.clientObj.city + ", " + CTRL.C.clientObj.state + " " + CTRL.C.clientObj.zip}}</h3>
                <h3>{{CTRL.C.clientObj.phone_cell}}</h3>
                <h3>{{CTRL.C.clientObj.email}}</h3>
            </div>
            <div>
            </div>
            <div>
                <h4>Property</h4>
                <h3>{{CTRL.C.propertyObj.name}}</h3>
                <h3>{{CTRL.C.propertyObj.street}}</h3>
                <h3>{{CTRL.C.propertyObj.city + ", " + CTRL.C.propertyObj.state + " " + CTRL.C.propertyObj.zip}}</h3>
            </div>
        </div>
    </div>
    <div class="section-header-client">
        <h2>B. Existing Roof Assembly</h2>
        <div class="toggle-view-icon">
            <i class="fa fa-arrow-circle-down" ng-click="CTRL.showSections.assembly=true" ng-hide="CTRL.showSections.assembly"></i>
            <i class="fa fa-arrow-circle-up hilite" ng-click="CTRL.showSections.assembly=false" ng-show="CTRL.showSections.assembly"></i>
        </div>
    </div>
    <div class="block-section-width text-block-display" ng-show="CTRL.showSections.assembly">
        <p>A strictly visual inspection of the existing roof assembly on the above referenced property was made on {{CTRL.C.propertyObj.createdDate | date:'fullDate'}}. To the best of our knowledge the following statements represent as accurate a description as possible from the limited observations.</p>
        <div class="flex-space-between">
            <div class="indent-block-client">
                <h3>Description</h3>
                <ul>
                    <li>Levels: {{CTRL.C.existingRoofDescription.levels}}</li>
                    <li>Deck Type: {{CTRL.C.existingRoofDescription.deck}}</li>
                    <li>Average Pitch: {{CTRL.C.existingRoofDescription.pitch}}</li>
                    <li>Shingles Type: {{CTRL.C.existingRoofDescription.shingles}}</li>
                    <li>Edge Detail: {{CTRL.C.existingRoofDescription.edge}}</li>
                    <li>Valley Detail: {{CTRL.C.existingRoofDescription.valley}}</li>
                    <li>Ridge Detail: {{CTRL.C.existingRoofDescription.ridge}}</li>
                    <li>Ventilation: {{CTRL.C.existingRoofDescription.ventilation}}</li>
                </ul>
            </div>
            <div class="indent-block-client" style="padding-right:3rem;">
                <h3>Measurements and Counts</h3>
                <ul>
                    <li>Roof Area in Squares (10ft x 10ft): {{CTRL.C.jobParameters.FIELD}}</li>
                    <li>Perimiter: {{CTRL.C.jobParameters.PRMITR}} ft.</li>
                    <li>Eave: {{CTRL.C.existingRoofDescription.eave}} ft.</li>
                    <li>Top Ridge: {{CTRL.C.jobParameters.TOPRDG}} ft.</li>
                    <li>Rake Ridge: {{CTRL.C.jobParameters.RKERDG}} ft.</li>
                    <li>Rake Wall: {{CTRL.C.existingRoofDescription.rakeWalls}} ft.</li>
                    <li>Valley: {{CTRL.C.jobParameters.VALLEY}} ft.</li>
                    <li>Plumbing Vents: {{CTRL.C.existingRoofDescription.plumbingVents}}</li>
                    <li>Heater Vents: {{CTRL.C.existingRoofDescription.heaterVents}}</li>
                    <li>Turbine Vents: {{CTRL.C.existingRoofDescription.turbines}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="section-header-client">
        <h2>C. Photo Gallery</h2>
        <div class="toggle-view-icon">
            <i class="fa fa-arrow-circle-down" ng-click="CTRL.showSections.photos=true" ng-hide="CTRL.showSections.photos"></i>
            <i class="fa fa-arrow-circle-up hilite" ng-click="CTRL.showSections.photos=false" ng-show="CTRL.showSections.photos"></i>
        </div>
    </div>
    <div class="photo-gallery" ng-show="CTRL.showSections.photos">
        <thumb ng-repeat="img in CTRL.C.photoGallery" ndx={{$index}} path="{{img.thumb}}" click="CTRL.thumbClick"></thumb>
    </div>
    <div class="section-header-client">
        <h2>D. Baseline Proposal and Scope of Work</h2>
        <div class="toggle-view-icon">
            <i class="fa fa-arrow-circle-down" ng-click="CTRL.showSections.scope=true" ng-hide="CTRL.showSections.scope"></i>
            <i class="fa fa-arrow-circle-up hilite" ng-click="CTRL.showSections.scope=false" ng-show="CTRL.showSections.scope"></i>
        </div>
    </div>
    <div class="block-section-width text-block-display" ng-show="CTRL.showSections.scope">
        <p>The following installation represents a <span class="bold">baseline</span> roof assembly, which meets or exceeds all applicable building codes. However, these are the minimum standards. Evolution Roofing highly recommends upgrading several of these components in the following <span class="bold">Premium Upgrade Options</span> section.</p>
        <div class="indent-block-client">
            <h3 class="first-item">1. Pre-install</h3>
            <p>Remove existing roof system from the roof deck and haul from the site. Prepare the roof deck by nailing all raised nails and clearing debris from the roof surface left from the previous application.</p>
            <h3>2. Felt Underlayment</h3>
            <p>Install new #15 Asphalt Saturated Organic Felt underlayment over entire roof deck.</p>
            <a href="http://evolutionroofingsystems.com/#/pitched/underlayments" target="_blank">Learn More</a>
            <h3>3. Drip Edge Extender (if selected)</h3>
            <p class="hilite">See below to select this Premium Upgrade.</p>
            <h3>4. New Drip Edge</h3>
            <p>Install 2" x 2" pre-painted to match the fascia or the roof color as chosen by owner (minimum IBC Building Code Standard).</p>
            <a href="http://evolutionroofingsystems.com/#/pitched/edge" target="_blank">Learn More</a>
            <h3>5. Valley Flashing</h3>
            <p>Install 36" wide valley underlayment covered with laced shingles; tail ends extending a minimum of 1" past the fascia board intersection.</p>
            <p class="hilite">Premium upgrade available below for this product.</p>
            <a href="http://evolutionroofingsystems.com/#/pitched/valley" target="_blank">Learn More</a>
            <h3>6. Starter Shingles</h3>
            <p>Install Pre-cut starter strips.</p>
            <a href="http://www.gaf.com/Roofing/Residential/Products/Starter_Strip_Shingles/ProStart" target="_blank">Learn More</a>
            <h3>7. Field Shingles</h3>
            <p>Install standard three-tab economy field shingles using four (4) nails per shingle. High wind or steep pitch application shall receive six (6) nails per shingle in accordance with manufacturers specifications when applicable.</p>
            <p class="hilite">Premium upgrade available below for this product.</p>
            <a href="http://evolutionroofingsystems.com/#/pitched/compositionshingles" target="_blank">Learn More</a>
            <h3>8. Attic Ventilation</h3>
            <p>Install ridge vent attic ventilation system in accordance with the manufacturer's recommendations.</p>
            <a href="http://evolutionroofingsystems.com/#/pitched/ventilation" target="_blank">Learn More</a>
            <h3>9. Ridge Shingles</h3>
            <p>Economy-grade shingles along hips and ridges and over the ventilation system.</p>
            <p class="hilite">Premium upgrade available below for this product.</p>
            <h3>10. Pipes and Vents</h3>
            <p>Install new plumbing pipes and vent stacks as needed, and paint to match roof color as close as possible</p>
            <total-bar price="{{CTRL.costSummary.clientBase}}" label="Baseline Total"></total-bar>
        </div>
    </div>
    <div class="section-header-client">
        <h2>E. Select Options</h2>
        <div class="toggle-view-icon">
            <i class="fa fa-arrow-circle-down" ng-click="CTRL.showSections.options=true" ng-hide="CTRL.showSections.options"></i>
            <i class="fa fa-arrow-circle-up hilite" ng-click="CTRL.showSections.options=false" ng-show="CTRL.showSections.options"></i>
        </div>
    </div>
    <div class="block-section-width text-block-display" ng-show="CTRL.showSections.options">
        <!-- Field -->
        <div class="upgrade-level">
            <div class="upgrade-icon">
                <i class="fa fa-arrow-circle-down" ng-click="CTRL.showUpgrades.field=true" ng-hide="CTRL.showUpgrades.field"></i>
                <i class="fa fa-arrow-circle-up hilite" ng-click="CTRL.showUpgrades.field=false" ng-show="CTRL.showUpgrades.field"></i>
            </div>
            <div class="upgrade-label">
                <h2>Premium Field Shingles</h2>
                <i class="fa fa-check-square" ng-show="CTRL.UpgradeFieldNdx!='STDFIELD'"></i>
            </div>
        </div>
        <div class="upgrade-selections" ng-show="CTRL.showUpgrades.field">
            <div class="upgrade-item" ng-repeat="x in CTRL.shingleUpgrades">
                <div class="check-radio-container" style="margin-bottom:10px;">
                    <input type="radio" id="{{x.Code}}" name="Grp1" value="{{x.Code}}" ng-model="CTRL.UpgradeFieldNdx" ng-change="CTRL.changeFieldShingle()"></input>
                    <label for="{{x.Code}}"><span></span>{{x.Item}} ({{x.upgradePrice | currency:$:2}})<a href="{{x.url}}" target="_blank"> More</a></label>
                </div>
            </div>
            <horiz-rule margintop="5" marginbottom="15"></horiz-rule>
        </div>

        <!-- Color-->
        <div class="upgrade-level">
            <div class="upgrade-icon">
                <i class="fa fa-arrow-circle-down" ng-click="CTRL.showUpgrades.color=true" ng-hide="CTRL.showUpgrades.color"></i>
                <i class="fa fa-arrow-circle-up hilite" ng-click="CTRL.showUpgrades.color=false" ng-show="CTRL.showUpgrades.color"></i>
            </div>
            <div class="upgrade-label">
                <h2>Shingle Color</h2>
                <i class="fa fa-check-square" ng-show="CTRL.ColorID!='0'"></i>
            </div>
        </div>
        <div class="upgrade-selections" ng-show="CTRL.showUpgrades.color">
            <div class="upgrade-item" ng-repeat="x in CTRL.shingleColors">
                <div class="check-radio-container" style="margin-bottom:10px;">
                    <input type="radio" id="{{x.PRIMARY_ID}}" name="Grp5" value="{{x.PRIMARY_ID}}" ng-model="CTRL.ColorID" ng-change="CTRL.calculateTotal()"></input>
                    <label for="{{x.PRIMARY_ID}}"><span></span>{{x.Name}}<a href="{{x.url}}" target="_blank"> More</a></label>
                </div>
            </div>
            <horiz-rule margintop="5" marginbottom="15"></horiz-rule>
        </div>

        <!-- Ridge -->
        <div class="upgrade-level">
            <div class="upgrade-icon">
                <i class="fa fa-arrow-circle-down" ng-click="CTRL.showUpgrades.ridge=true" ng-hide="CTRL.showUpgrades.ridge"></i>
                <i class="fa fa-arrow-circle-up hilite" ng-click="CTRL.showUpgrades.ridge=false" ng-show="CTRL.showUpgrades.ridge"></i>
            </div>
            <div class="upgrade-label">
                <h2>Enhanced Ridge Shingles</h2>
                <i class="fa fa-check-square" ng-show="CTRL.UpgradeRidgeNdx!='STDRDG'"></i>
            </div>
        </div>
        <div class="upgrade-selections" ng-show="CTRL.showUpgrades.ridge">
            <div class="upgrade-item" ng-repeat="x in CTRL.ridgeUpgrades">
                <div class="check-radio-container" style="margin-bottom:10px;">
                    <input type="radio" id="{{x.Code}}" name="Grp2" value="{{x.Code}}" ng-model="CTRL.UpgradeRidgeNdx" ng-change="CTRL.calculateTotal()"></input>
                    <label for="{{x.Code}}"><span></span>{{x.Item}} ({{x.upgradePrice | currency:$:2}})<a href="{{x.url}}" target="_blank"> More</a></label>
                </div>
            </div>
            <horiz-rule margintop="5" marginbottom="15"></horiz-rule>
        </div>
        <!-- -->
        <!-- Valley -->
        <div class="upgrade-level">
            <div class="upgrade-icon">
                <i class="fa fa-arrow-circle-down" ng-click="CTRL.showUpgrades.valley=true" ng-hide="CTRL.showUpgrades.valley"></i>
                <i class="fa fa-arrow-circle-up hilite" ng-click="CTRL.showUpgrades.valley=false" ng-show="CTRL.showUpgrades.valley"></i>
            </div>
            <div class="upgrade-label">
                <h2>Premium Valley Flashing</h2>
                <i class="fa fa-check-square" ng-show="CTRL.UpgradeValleyNdx!='GLVVAL'"></i>
            </div>
        </div>
        <div class="upgrade-selections" ng-show="CTRL.showUpgrades.valley">
            <div class="upgrade-item" ng-repeat="x in CTRL.valleyUpgrades">
                <div class="check-radio-container" style="margin-bottom:10px;">
                    <input type="radio" id="{{x.Code}}" name="Grp3" value="{{x.Code}}" ng-model="CTRL.UpgradeValleyNdx" ng-change="CTRL.calculateTotal()"></input>
                    <label for="{{x.Code}}"><span></span>{{x.Item}} ({{x.upgradePrice | currency:$:2}})<a href="{{x.url}}" target="_blank"> More</a></label>
                </div>
            </div>
            <horiz-rule margintop="5" marginbottom="15"></horiz-rule>
        </div>
        <!-- -->
        <!-- Trim -->
        <div class="upgrade-level">
            <div class="upgrade-icon">
                <i class="fa fa-arrow-circle-down" ng-click="CTRL.showUpgrades.trim=true" ng-hide="CTRL.showUpgrades.trim"></i>
                <i class="fa fa-arrow-circle-up hilite" ng-click="CTRL.showUpgrades.trim=false" ng-show="CTRL.showUpgrades.trim"></i>
            </div>
            <div class="upgrade-label">
                <h2>Drip Edge Extender</h2>
                <i class="fa fa-check-square" ng-show="CTRL.UpgradeTrimNdx!='NOTRIM'"></i>
            </div>
        </div>
        <p>This upgrade consists of placing a 1” x 2” board behind the drip edge, effectivley extending the edge further out from the building. This will prevent all water from coming into contact with the fascia board, greatly extending the life of the paint on the building.</p>
        <div class="upgrade-selections" ng-show="CTRL.showUpgrades.trim">
            <div class="upgrade-item" ng-repeat="x in CTRL.trimUpgrades">
                <div class="check-radio-container" style="margin-bottom:10px;">
                    <input type="radio" id="{{x.Code}}" name="Grp4" value="{{x.Code}}" ng-model="CTRL.UpgradeTrimNdx" ng-change="CTRL.calculateTotal()"></input>
                    <label for="{{x.Code}}"><span></span>{{x.Item}} (+{{x.upgradePrice | currency:$:2}})<a href="{{x.url}}" target="_blank"> More</a></label>
                </div>
            </div>
        </div>
        <total-bar price="{{CTRL.grandTotal}}" label="Total With Upgrades"></total-bar>
        <button type="button" style="width:100%;" ng-click="CTRL.saveJobConfig();">Save Upgrade Options</button>
    </div>
    <div class="section-header-client">
        <h2>F. What Next</h2>
        <div class="toggle-view-icon">
            <i class="fa fa-arrow-circle-down" ng-click="CTRL.showSections.next=true" ng-hide="CTRL.showSections.next"></i>
            <i class="fa fa-arrow-circle-up hilite" ng-click="CTRL.showSections.next=false" ng-show="CTRL.showSections.next"></i>
        </div>
    </div>
    <div class="block-section-width text-block-display" ng-show="CTRL.showSections.next">
    </div>
</div>
<add-space heightpx="500"></add-space>
</div>