<div class="page" ng-controller="ReviewCtrl as CTRL">
    <div class="page-title">
        <h2>Work Proposal</h2>
    </div>
    <div class="section-header-client">
        <h2>Proposal For</h2>
    </div>
    <div class="block-section-width text-block-display" style="padding-right: 2rem;">
        <div class="flex-space-between">
            <div>
                <h4>Client/Owner</h4>
                <h3>{{CTRL.C.clientObj.displayName}}</h3>
                <h3>{{CTRL.C.clientObj.street}}</h3>
                <h3>{{CTRL.C.clientObj.city + ", " + CTRL.C.clientObj.state + " " + CTRL.C.clientObj.zip}}</h3>
                <h3>{{CTRL.C.clientObj.phone_cell}}</h3>
                <h3>{{CTRL.C.clientObj.email}}</h3>
            </div>
            <div>
            </div>
            <div>
                <h4>Property</h4>
                <h3>{{CTRL.C.propertyObj.name}}</h3>
                <h3>{{CTRL.C.propertyObj.street}}</h3>
                <h3>{{CTRL.C.propertyObj.city + ", " + CTRL.C.propertyObj.state + " " + CTRL.C.propertyObj.zip}}</h3>
            </div>
        </div>
    </div>
    <div class="section-header-client">
        <h2>Existing Roof Assembly</h2>
    </div>
    <div class="block-section-width text-block-display">
        <p>A strictly visual inspection of the existing roof assembly on the above referenced property was made on {{CTRL.C.propertyObj.createdDate | date:'fullDate'}}. To the best of our knowledge the following statements represent as accurate a description as possible from the limited observations.</p>
        <div class="indent-block-client">
        <div>
            <h3>Description</h3>
            <ul>
                <li>Deck Type: {{CTRL.C.existingRoofDescription.deck}}</li>
                <li>Shingles Type: {{CTRL.C.existingRoofDescription.shingles}}</li>
                <li>Edge Detail: {{CTRL.C.existingRoofDescription.edge}}</li>
                <li>Valley Detail: {{CTRL.C.existingRoofDescription.valley}}</li>
                <li>Ridge Detail: {{CTRL.C.existingRoofDescription.ridge}}</li>
                <li>Ventilation: {{CTRL.C.existingRoofDescription.ventilation}}</li>
            </ul>
            </div>
            <div>
            <h3>Measurements and Counts</h3>
            <ul>
                <li>Roof Area in Squares (10ft x 10ft): {{CTRL.C.jobParameters.FIELD}}</li>
                <li>Perimiter: {{CTRL.C.jobParameters.PRMITR}} ft.</li>
                <li>Average Pitch: {{CTRL.C.jobParameters.PITCH}}</li>
                <li>Top Ridge: {{CTRL.C.jobParameters.TOPRDG}} ft.</li>
                <li>Rake Ridge: {{CTRL.C.jobParameters.RKERDG}} ft.</li>
                <li>Rake Wall: {{CTRL.C.jobParameters.FLHSH8}} ft.</li>
                <li>Valley: {{CTRL.C.jobParameters.VALLEY}} ft.</li>
                <li>Plumbing Vents: {{CTRL.C.existingRoofDescription.plumbingVents}}</li>
                <li>Heater Vents: {{CTRL.C.existingRoofDescription.heaterVents}}</li>
                <li>Turbine Vents: {{CTRL.C.existingRoofDescription.turbines}}</li>
            </ul>
            </div>
        </div>
    </div>
    <div class="section-header-client">
        <h2>Baseline Proposal and Scope of Work</h2>
    </div>
    <div class="block-section-width text-block-display">
        <p>Evolution Roofing Systems recommends the following as a <span class="bold">baseline</span> roof assembly. Options for a <span class="bold">Premium Upgrades</span> to follow.</p>
        <div class="indent-block-client">
            <h3 class="first-item">1. Pre-install</h3>
            <p>Remove existing roof system from the roof deck and haul from the site.  Prepare the roof deck by nailing all raised nails and clearing debris from the roof surface left from the previous application.</p>

            <h3>2. Install Felt Underlayment</h3>
            <p>Install new #15 Asphalt Saturated Organic Felt underlayment over entire roof deck. Without the felt layer, the wood planking or plywood deck - dried by heated temperatures found in most attics - will draw moisture (including tar and oils from the asphalt) from the shingles. The result will be shingles that are prematurely worn, cracked, brittle, as well as stuck to the wood surface when you attempt to remove them.</p>

            <h3>3. Install Premium Trim (if selected)</h3>
            <p class="hilite">See below to select this Premium Upgrade.</p>

            <h3>4. Install New Drip Edge</h3>
            <p>1.5" x 1.5" pre-painted to match the fascia or the roof color as chosen by owner.</p>
           
            <h3>5. Install New Valley Flashing</h3>
            <p>20" galvanzied steel subflashing; laced; tail ends extending a minimum of 1" past the fascia board intersection.</p>
            <p class="hilite">Premium upgrade available below for this product.</p>

            <h3>6. Install Starter Shingles</h3>
            <a href="http://www.gaf.com/Roofing/Residential/Products/Starter_Strip_Shingles/ProStart" target="_blank"><h5>GAF Pro-Start Strip Shingles</h5></a>
            <p>Starter shingles are the first row of shingles installed along the entire perimeter of the roof. Evolution will install GAF Pre-cut Starter Strips.  Some contractors try to use a cut-up field shingle as the 'starter' course on your roof. Unfortunately, cut-up shingles may not have properly positioned adhesive to ensure adequate wind resistance.</p>
            
            <h3>7. Install Field Shingles</h3>
            <a href="http://www.gaf.com/Roofing/Residential/Products/Shingles/Timberline/Natural_Shadow" target="_blank"><h5>GAF Timberline Natural Shadow</h5></a>
            <p>Evolution will install the above GAF Timberline Field shingles using four (4) nails per shingle. High wind or steep pitch application shall receive six (6) nails per shingle in accordance with manufacturers specifications when applicable.</p>
            <p class="hilite">Premium upgrade available below for this product.</p>

            <h3>8. Attic Ventilation</h3>
            <a href="http://www.gaf.com/Roofing/Residential/Products/Roof_Vents/Cobra_Rigid_Vent_3" target="_blank"><h5>Cobra Ridge Vent 3 </h5></a>
            <p>Evolution will install a ridge vent attic ventilation system in accordance with the manufacturer's recommendations.</p>
            
            <h3>9. Ridge Shingles</h3>
            <a href="http://www.gaf.com/Roofing/Residential/Products/Shingles/3_Tab/Royal_Sovereign/Features" target="_blank"><h5>GAF Royal Sovereign</h5></a>
            <p>Evolution will install standard ridge shingles over the ventilation system.</p>
            <p class="hilite">Premium upgrade available below for this product.</p>

            <h3>10. Pipes and Vents</h3>
            <p>Evolution will install new plumbing pipes and vent stacks as needed, and paint to match roof color as close as possible</p>
         
            <total-bar price="2456.89" label="Sub-Total"></total-bar>
        </div>
    </div>
    <div class="section-header-client">
        <h2>Premium Upgrade Options</h2>
    </div>
    <div class="block-section-width text-block-display">
        <!-- <div>
            <button type="button" style="width:100%; margin-top: 1rem;" ng-click="CTRL.goLogin();">Premium Field Shingles</button>
            <button type="button" style="width:100%; margin-top: 1rem;" ng-click="CTRL.goLogin();">Enhanced Ridge Shingles</button>
            <button type="button" style="width:100%; margin-top: 1rem;" ng-click="CTRL.goLogin();">Premium W-Valley Flashing</button>
        </div> -->
        <div class="indent-block-client">
            <h3 class="first-item">Premium Field Shingles</h3>
            <a href="http://www.gaf.com/Roofing/Residential/Products/Shingles/Specialty" target="_blank"><h5>GAF Specialty Roofing Shingles</h5></a>
            <p>Higher impact resistance and energy savings.</p>
            <div class="check-radio-container" style="margin-bottom:10px;">
                <input type="checkbox" id="fieldCB" ng-model="CTRL.premiumFieldShingles"></input>
                <label for="fieldCB"><span></span>Upgrade to Premium Field Shingles for an additional $...</label>
            </div>
            <horiz-rule margintop="5" marginbottom="5"></horiz-rule>
            <h3>Enhanced Ridge Shingles</h3>
            <p>The perfect finishing touch for your new roof should be a distinctive Ridge Cap shingle, which provide a striking and higher quality alternative to using cut-up strip shingles as your ridge cap. All areas that have top ridge vent will receive 12" wide material and rake edges will receive 9" wide material.</p>
            <a href="http://www.gaf.com/Roofing/Residential/Products/Ridge_Cap_Shingles" target="_blank"><h5>GAF Hip and Ridge Cap Shingles</h5></a>
            <div>
                <img src="img/icon-timbertex2.jpg" alt="">
                <img src="img/Z-Ridge_02.gif" alt="">
            </div>
            <div class="check-radio-container" style="margin-bottom:10px;">
                <input type="checkbox" id="ridgeCB" ng-model="CTRL.premiumRidgeShingles"></input>
                <label for="ridgeCB"><span></span>Upgrade to Premium Hip and Ridge Cap Shingles for an additional $...</label>
            </div>
           
            <horiz-rule margintop="5" marginbottom="5"></horiz-rule>
            <h3>Premium W-Valley Flashing</h3>
            <p>W-Valleys conduct water away from the shingles and down into your gutters smoother and quicker than any other valley available.</p>
            <div>
                <img src="img/w-valley.jpg" alt="">
                <img src="img/w-valley2.jpg" alt="">
            </div>
            <div class="check-radio-container" style="margin-bottom:10px;">
                <input type="checkbox" id="valleyCB" ng-model="CTRL.premiumValleyFlashing"></input>
                <label for="valleyCB"><span></span>Upgrade to 'W' Style Valley Flashing for an additional $...</label>
            </div>
            <horiz-rule margintop="5" marginbottom="5"></horiz-rule>
            <h3>Enhanced Edge Trim Boards</h3>
            <p>1"x 2" (nominal) treated (KILZ) board added to top of fascia board before drip edge for both visual enhancement and improved water flow control over edge.</p>
            <div class="check-radio-container" style="margin-bottom:10px;">
                <input type="checkbox" id="trimCB" ng-model="CTRL.enhancedTrim"></input>
                <label for="trimCB"><span></span>Upgrade to Enhanced Trim for an additional $...</label>
            </div>
            <horiz-rule margintop="5" marginbottom="5"></horiz-rule>
            <total-bar price="0" label="Total With Upgrades"></total-bar>
        </div>
    </div>
    <div class="section-header-client">
        <h2>Disclaimers</h2>
    </div>
    <div class="block-section-width text-block-display">
        <div class="indent-block-client">
            <ul>
                <li>Evolution will take every reasonable caution to avoid damage to flower beds, shrubs and other vegetation on the property.</li>
                <li>...</li>
                <li>...</li>
            </ul>
        </div>
    </div>
    <div class="section-header-client">
        <h2>Agreement Terms</h2>
    </div>
    <div class="block-section-width text-block-display">
    </div>
    <div class="section-header-client">
        <h2>Acceptance of Contract</h2>
    </div>
    <div class="block-section-width text-block-display">
    <p>This contract is between the building owners and S.C. Martin. S.C. Martin will provide a materials list to the owner to confirm colors and materials types. The owner can contract directly with the supply house by writing a check for the materials, paid directly to the supply house including all sales taxes and delivery fees, if any. S.C. Martin shall insstall the roofing system and inspect the completed work to ensure the application is as indicated. Upon completion, the installation shall carry a water tightness and installation application warranty that result in water penetrating the building envelope for (10) years. Warranties from the Shingle Manufacturer shall be completed by S.C. Martin and given to the building owner upon completion. Final invoices for all services are due and owing upon completion of the work to any and all outstanding contractors. Building Permits and costs are not assciated with this contract and are in addition to the referenced prices. </p>
    </div>
</div>
<div style="margin-bottom:5rem;">
    
</div>
