<div class="page" ng-controller="AdminCtrl as Ctrl">
    <div ui-view>
    <div class="page-title">
        <h2>Administration Home Menu</h2>
    </div>
        <div class="top admin-menu">
            <div class="section-header">
                <h2>Sales Management</h2>
            </div>
            <div class="btn-grp">
                <button type="button" class="button radius" ng-click="Ctrl.clientManagement()">Clients</button>
                <button type="button" class="button radius" ng-click="Ctrl.propertyManagement()">Properties</button>
                <button type="button" class="button radius" ng-click="Ctrl.jobManagement()">Jobs</button>
            </div>
            <div class="section-header">
                <h2>Jobs Review By Status</h2>
            </div>
            <div class="btn-grp">
                <button type="button" class="button radius" ng-click="Ctrl.prospectsReview()">Prospects</button>
                <button type="button" class="button radius" ng-click="Ctrl.proposalsReview()">Proposals</button>
                <button type="button" class="button radius" ng-click="Ctrl.contractsReview()">Contracts</button>
                <button type="button" class="button radius" ng-click="Ctrl.activeReview()">Active</button>
                <button type="button" class="button radius" ng-click="Ctrl.completeReview()">Complete</button>
            </div>
            
           <!--  <div class="section-header">
                <h2>Sales Reps</h2>
            </div>
            <button type="button" class="button radius" ng-click="Ctrl.managerAdd()">Add Rep</button>
            <button type="button" class="button radius" ng-click="Ctrl.managerUpdate()">Edit Rep</button> -->
            <div class="section-header">
                <h2>Inventory</h2>
            </div>
            <button type="button" class="button radius" ng-click="Ctrl.pitchedInventory()">Pitched Roof</button>
           
            
            <div class="section-header">
                <h2>Reports</h2>
            </div>
            <button type="button" class="button radius" ng-click="Ctrl.reportsOverview()">Overview</button>
        </div>
    </div>
</div>
