<div class="page" ng-controller="AdminCtrl as Ctrl">
    <div class="page-title"><h2>Admin</h2></div>
    <div ui-view>
        <div class="admin-menu">
            <h4>Managers</h4>
            <button type="button" class="button small radius" ng-click="Ctrl.managerAdd()">New Manager</button>
            <button type="button" class="button small radius" ng-click="Ctrl.managerUpdate()">Update Manager</button>
             <h4>Inventory</h4>
            <button type="button" class="button small radius" ng-click="Ctrl.inventoryAdd()">New Inventory</button>
            <button type="button" class="button small radius" ng-click="Ctrl.inventoryUpdate()">Update Inventory</button>
             <h4>Reports</h4>
            <button type="button" class="button small radius" ng-click="Ctrl.jobsActive()">Active Jobs</button>
        </div>
        
    </div>
    
</div>