<div class="section-header">
    <h2>Shingles</h2>
</div>

<div>
	<purchase-item item="Placeholder" qty="10" itemcode="" total="100" unit="Each" multiplier="" toggle="" change=""></purchase-item>

</div>

<div class="section-header">
    <h2>Ventilation</h2>
</div>

<div class="section-header">
    <h2>Edge and Flashing</h2>
</div>

<div class="section-header">
    <h2>Roof Caps and Other Accessories</h2>
</div>

<div class="section-header">
    <h2>Other Supplies</h2>
</div>

<div class="section-header">
    <h2>Labor</h2>
</div>