<div class="page" ng-controller="ProposalCtrl as Ctrl">
    <div class="page-title-bar"><h2>Proposal</h2></div>
    <div ui-view>
        <div class="section-header">
            <h2>Property</h2>
        </div>
        <div class="text-block-display">
            <h4>{{Ctrl.selectedPropertyObj.name}}</h4>
            <h3>{{Ctrl.selectedPropertyObj.street}}</h3>
            <h3>{{Ctrl.selectedPropertyObj.city + ", " + Ctrl.selectedPropertyObj.state + " " + Ctrl.selectedPropertyObj.zip}}</h3>
            <h3>Class: {{Ctrl.selectedPropertyObj.class}}</h3>
            <h3>Roof type: {{Ctrl.selectedPropertyObj.roof}}</h3>
            <h3>Layers: {{Ctrl.selectedPropertyObj.layers}}</h3>
            <h3>Description: {{Ctrl.selectedPropertyObj.description}}</h3>
        </div>
        <div class="section-header">
            <h2>Materials</h2>
        </div>
        <div class="list-container">
            <div job-item id="{{e.PRIMARY_ID}}" status="{{e.status}}" details="Ctrl.showDetails"
                property="{{e.propertyName}}" ng-repeat="e in Ctrl.jobs"></div> 
        </div>
    </div>
</div>