<div ng-controller="ShingleCtrl as Ctrl3">
 <h4>Shingle Worksheet</h4>
<div id="form-container"> 
    <form class="shingle-input-form"  name="Ctrl3.A" data-ng-submit="Ctrl3.submitForm()" novalidate ng-if="!Ctrl3.submissionComplete"> 

        <div class="leftCol"> 
            <label>Field</label>
            <input data-ng-class="{error:Ctrl3.A.T1.$invalid&&invalid}" name="T1" type="text" ng-model="Ctrl3.T1" required>
      
            <label>Top Ridge</label>
            <input  data-ng-class="{error:Ctrl3.A.T19.$invalid&&invalid}" name="T19" type="text" ng-model="Ctrl3.T19" required>

            <label>Rake Ridge</label>
            <input  data-ng-class="{error:Ctrl3.A.T20.$invalid&&invalid}" name="T20" type="text" ng-model="Ctrl3.T20" required>
           
            <label>Perimeter</label>
            <input  data-ng-class="{error:Ctrl3.A.T2.$invalid&&invalid}" name="T2" type="text" ng-model="Ctrl3.T2" required>

            <label>Valley</label>
            <input  data-ng-class="{error:Ctrl3.A.T3.$invalid&&invalid}" name="T3" type="text" ng-model="Ctrl3.T3" required>

			<label>1.5" Lead</label>
            <input  data-ng-class="{error:Ctrl3.A.T4.$invalid&&invalid}" name="T4" type="text" ng-model="Ctrl3.T4" required>

			<label>2" Lead</label>
            <input  data-ng-class="{error:Ctrl3.A.T5.$invalid&&invalid}" name="T5" type="text" ng-model="Ctrl3.T5" required>

            <label>3" Lead</label>
            <input  data-ng-class="{error:Ctrl3.A.T6.$invalid&&invalid}" name="T6" type="text" ng-model="Ctrl3.T6" required>

            <label>4" Lead</label>
            <input  data-ng-class="{error:Ctrl3.A.T7.$invalid&&invalid}" name="T7" type="text" ng-model="Ctrl3.T7" required>

            <label>8" Vents</label>
            <input  data-ng-class="{error:Ctrl3.A.T8.$invalid&&invalid}" name="T8" type="text" ng-model="Ctrl3.T8" required>
        </div>

        <div class="rightCol"> 
            <label>8"x 8"</label>
            <input data-ng-class="{error:Ctrl3.A.T9.$invalid&&invalid}" name="T9" type="text" ng-model="Ctrl3.T9" required>

            <label>Turbines</label>
            <input data-ng-class="{error:Ctrl3.A.T10.$invalid&&invalid}" name="T10" type="text" ng-model="Ctrl3.T10" required>

            <label>Power Vents</label>
            <input data-ng-class="{error:Ctrl3.A.T11.$invalid&&invalid}" name="T11" type="text" ng-model="Ctrl3.T11" required>
           
            <label>Low Slope</label>
            <input  data-ng-class="{error:Ctrl3.A.T12.$invalid&&invalid}" name="T12" type="text" ng-model="Ctrl3.T12" required>

            <label>Air Hawks</label>
            <input  data-ng-class="{error:Ctrl3.A.T13.$invalid&&invalid}" name="T13" type="text" ng-model="Ctrl3.T13" required>

			<label>Decking</label>
            <input  data-ng-class="{error:Ctrl3.A.T14.$invalid&&invalid}" name="T14" type="text" ng-model="Ctrl3.T14" required>

			<label>Paint</label>
            <input  data-ng-class="{error:Ctrl3.A.T15.$invalid&&invalid}" name="T15" type="text" ng-model="Ctrl3.T15" required>

            <label>Caulk</label>
            <input  data-ng-class="{error:Ctrl3.A.T16.$invalid&&invalid}" name="T16" type="text" ng-model="Ctrl3.T16" required>

            <label>Carport</label>
            <input  data-ng-class="{error:Ctrl3.A.T17.$invalid&&invalid}" name="T17" type="text" ng-model="Ctrl3.T17" required>

            <label>Satilite</label>
            <input  data-ng-class="{error:Ctrl3.A.T18.$invalid&&invalid}" name="T18" type="text" ng-model="Ctrl3.T18" required>
            <div class="right">
               <button type="submit" class="button small radius">Submit</button> 
            </div>
            
        </div>
    </form>
</div>
<div class="result-materials" ng-show="Crtl3.materialResults !== null">
    <h4>Materials</h4>
    <table st-table="Ctrl3.materialResults" class="table table-striped">
    <thead>
    <tr>
        <th>Item</th>
        <th>Price</th>
        <th>Qty</th>
        <th>Sub</th>
        <th>Tax</th>
        <th>Total</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in Ctrl3.materialResults">
        <td>{{row.Item}}</td>
        <td>{{row.Price}}</td>
        <td>{{row.Amt}}</td>
        <td>{{row.Total}}</td>
        <td>{{row.Tax}}</td>
       <td>{{row.Tax}}</td>
        
    </tr>
    </tbody>
</table>
</div>
</div>
