<div class="page" ng-controller="ProposalCtrl as Ctrl">
    <div class="page-title-bar"><h2>Proposal</h2></div>
    <div ui-view>
        <div class="section-header">
            <h2>Property</h2>
        </div>
        <div class="text-block-display">
            <h4>{{Ctrl.selectedPropertyObj.name}}</h4>
            <h3>{{Ctrl.selectedPropertyObj.street}}</h3>
            <h3>{{Ctrl.selectedPropertyObj.city + ", " + Ctrl.selectedPropertyObj.state + " " + Ctrl.selectedPropertyObj.zip}}</h3>
            <h3>Class: {{Ctrl.selectedPropertyObj.class}}</h3>
            <h3>Roof type: {{Ctrl.selectedPropertyObj.roof}}</h3>
            <h3>Layers: {{Ctrl.selectedPropertyObj.layers}}</h3>
            <h3>Description: {{Ctrl.selectedPropertyObj.description}}</h3>
        </div>
         <div class="section-header">
            <h2>Bid Summary</h2>
        </div>
        <div class="text-block-display">
            <div class="flex-space-between">
                <div><h3>Materials</h3></div>
                <div></div>
                <div><h4>{{Ctrl.materialsCost}}</h4></div>
            </div>
           
            <div class="flex-space-between">
                <div><h3>Labor</h3></div>
                <div></div>
                <div><h4>{{Ctrl.laborCost}}</h4></div>
            </div>
            <horiz-rule margintop="4px" marginbottom="4px"></horiz-rule>
            <div class="flex-space-between">
                <div><h3>Total</h3></div>
                <div></div>
                <div><h4>{{Ctrl.totalCost}}</h4></div>
            </div>
        </div>
       
        <div class="section-header">
            <h2>Roof Description</h2>
        </div>
        <div class="list-container-proposal">
            <div job-input-item id="{{e.PRIMARY_ID}}" code="{{e.Code}}" item="{{e.Item}}" qty="{{e.Qty}}" unit="{{e.Unit}}" 
            submit="Ctrl.submitItemQty"
            ng-repeat="e in Ctrl.jobInputFields"></div> 
        </div>
        <div class="section-header" style="margin-top:1em;">
            <h2>Materials</h2>
        </div>
        <div class="list-container-proposal">
            <div proposal-material code="{{e.Code}}" item="{{e.Item}}" qty="{{e.Qty}}" unit="{{e.Unit}}" 
            price="{{e.Price}}" total="{{e.Total}}" amt="{{e.Amt}}"
            ng-repeat="e in Ctrl.jobMaterials"></div> 
        </div>







    <!--  ui-view -->
    </div>
<!--  page -->
</div>