.ngdialog.ngdialog-theme-default.custom-width .ngdialog-content {
    width: 685px;
}

.ngdialog.ngdialog-theme-default .ngdialog-content{
    width:685px;
}

.section-header-client {
    margin: 1rem 0 .5rem 0;
    height: 1.7rem;
    background-color: $turquois-green;
    color: #FFF;
    h2 {
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.7rem;
        vertical-align: middle;
        margin: 0 .3rem;
        display: inline-block;
    }
    i {
        color: $turquois-green;
        font-size: 1.5rem;
        display: inline-block;
        cursor: pointer;
    }
}

$upgrade-level-height:2.25rem;
.upgrade-level {
    height: $upgrade-level-height;
    display: flex;
    .upgrade-icon {
        height: $upgrade-level-height;
        margin: 0 5px;
        cursor: pointer;
        i {
            height: $upgrade-level-height;
            font-size: $upgrade-level-height;
            color: $secondary-color;
            vertical-align: middle;
        }
    }
    .upgrade-label {
      display: flex;
        i {
            align-self:center;
            font-size: 1.5rem;
            color: $wisteria-purple;
            margin-left:1rem;
        }
    }
    .hilite {
        color: $peterRiver-blue !important;
    }
}

.upgrade-selections {
    margin-left: 2.2rem;
    .upgrade-item {
        a{
            font-weight: normal;
            line-height: 16px;
            text-decoration:none;
        }
        a:link {
            color:$peterRiver-blue;
        }
        a:visited{
            color:$belizeHole-blue;
        }

        .check-radio-container {
            label {
                font-size: 1.1rem;
            }
        }
    }
}

.indent-block-client {
    margin-left: 1rem;
    h3 {
        font-weight: bold;
        margin-top: 1rem;
        .first-item {
            margin-top: 0;
        }
    }
    p {}
    .hilite {
        color: $wisteria-purple;
        font-weight: bold;
    }
    ul {
        margin-left: 1rem;
    }
    a{
        font-weight: normal;
        line-height: 16px;
    }
    a:link {
        color:$peterRiver-blue;
    }
    a:visited{
        color:$belizeHole-blue;
    }
    h5 {
        font-weight: normal;
    }
}

.total-bar {
    margin: 1rem .5rem .5rem 0;
    height: 1.8rem;
    background-color: $tertiary-darker;
    color: #FFF;
    .left {
        float: left;
        margin-left: 1rem;
    }
    .right {
        float: right;
        margin-right: 1rem;
    }
    h2 {
      line-height: 1.8rem;
      vertical-align: middle;
    }
}

.photo-gallery{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-content: flex-start;
}

.thumb{
    height:100px;
    margin:0 5px 15px 5px;
    cursor:pointer;
    img{
        height:100px;
    }
}
