<div class="page" ng-controller="AdminContractCtrl as Ctrl">
    <div class="page-title"><h2>Active Jobs Review</h2></div>
    <div>
      <button type="button" class="button radius" ng-click="Ctrl.backToHome()">Back to Admin Menu</button>
    </div>
   <div>
        <select ng-model="Ctrl.selectedProposal" ng-options="c.label for c in Ctrl.selectDataProvider" 
        ng-change="Ctrl.selectProposal()" style="width:50%";></select>
   </div>
   <div>
     <h2>Sales Rep: {{Ctrl.salesRep}}</h2>
   </div>

    
</div>