<div class="top" ng-controller="JobsActiveCtrl as ChildCtrl">
    <div class="title-with-btn">
        <i ng-click="ChildCtrl.backToHome();" class="fa fa-arrow-circle-left fa-3x"></i>
        <h2>Active Jobs Review</h2>
    </div>
    <div class="standardParagraph">
        <p>List of all jobs in which 'Status' is equal to 'Active' (i.e. workers are on the job site).</p>
    </div>
    <div>
        <table st-table="ChildCtrl.tableDataProvider" class="table table-striped" style="width:100%;">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Sales Rep</th>
                    <th>Property</th>
                    <th>Street</th>
                    <th>City</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in ChildCtrl.tableDataProvider">
                    <td>{{row.date}}</td>
                    <td>{{row.rep}}</td>
                    <td>{{row.name}}</td>
                    <td>{{row.street}}</td>
                    <td>{{row.city}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
